.toast.template-pwg-toaster {
  display: none;
}

.toaster {
  position: fixed;
  right: 15px;
  max-width: 300px;
  top: 40px;
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  z-index: 9999;
}

.toast {
  display: flex;
  gap: var(--space-xs);
  padding: var(--space-sm);
  border-radius: var(--radius-sm);
  align-items: center;
  font-size: var(--font-size-base);
  width: fit-content;
  align-self: flex-end;
  box-shadow: 0 4px 10px 0 rgb(0, 0, 0, 0.15);
}

.toast i::before {
  font-size: 33px;
}

.toast.success {
  background-color: var(--color-success-bg);
  color: var(--color-success-fg);
}

.toast.error {
  background-color: var(--color-error-bg);
  color: var(--color-error-fg);
}
