:root {
  --color-accent: #a0522d;
  --color-btn-primary-fg: #fff;
  --color-light-gradient: linear-gradient(75.69deg, #efd4c7 7.64%, #f9f0eb 77.87%);
}

.dark {
  --color-link: #efd4c7;
  --color-link-hover: #f9f0eb;
  --color-header-link: #efd4c7;
}
