/* jQuery tooltips */
.ui-tooltip {
    padding: 8px;
    position: absolute;
    z-index: 9999;
    max-width: 300px;
    box-shadow: 0 0 5px #aaa;
}

.cluetip-outer {
    position: relative;
    border: 1px solid #111;
    color: #ddd;
    background-color: #222;
    text-align: left;
}

.cluetip-title {
    margin: 0 0 5px;
    padding: 8px;
    color: #666;
    background-color: #d3d3d3;
    font-size: 1.1em;
    font-weight: bold;
}

.cluetip-inner {
    padding: 10px;
}

/* jQuery datepicker */
img.ui-datepicker-trigger {
    cursor: pointer;
    vertical-align: middle;
    margin: -3px 5px 2px;
}

