/* PwgTree overrides */

.jqtree_common {
    margin: 20px 0;
}

li.jqtree-ghost {
    display: flex;
    margin: 0;
}

ul.jqtree-tree ul.jqtree_common {
    margin-left: 50px;
}

ul.jqtree-tree span.jqtree-border {
    border: var(--admin-jqtree-highlight);
    width: 98%;
}

ul.jqtree-tree li.jqtree-ghost span.jqtree-circle {
    border: var(--admin-jqtree-highlight);
    margin: 0;
}

ul.jqtree-tree li.jqtree-ghost span.jqtree-line {
    background-color: var(--admin-jqtree-highlight);
    position: relative;
    height: 2px;
    margin: 0;
}

ul.jqtree-tree .jqtree-element {
    cursor: move;
}

.albumBlock {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0;
}

.albumBlock .albumLineBlock {
    display: block;
    padding-left: 7px;
    max-width: 45%;
    height: 50px;
}

.showCreateAlbum {
    text-align: left;
    margin: 0 1em 25px 20px;
    line-height: 22px;
}

.showCreateAlbum .userSeparator {
    margin: 0 5px;
}

#addAlbumOpen,
#autoOrderOpen {
    padding: 7px 15px;
    font-weight: bold;
    font-size: 11px;
}

.afterUploadActions {
    text-align: center;
    margin-bottom: 30px !important;
    margin-top: 45px !important;
}

.afterUploadActions a {
    justify-content: center;
    margin: 35px;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 12px;
}

#autoOrder p,
#createAlbum p {
    text-align: left;
    margin: 0 0 1em;
}

#autoOrder p.actionButtons,
#createAlbum p.actionButtons {
    margin-bottom: 0;
}

#ftpPage p {
    text-align: left;
    margin: 1em;
}

#ftpPage fieldset p {
    margin: 0;
}

.sub-setting {
    margin: 10px 0 10px 20px;
}
