/* Pagination */

.pagination-container {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-arrow {
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 5px;
}

.pagination-arrow.right {
    transform: scale(-1, 1);
}

.pagination-arrow.unavailable {
    opacity: 0.6;
    pointer-events: none;
    cursor: none;
}

.pagination-item-container {
    display: flex;
    align-items: baseline;
}

.pagination-item-container > * {
    margin: 5px;
}

.pagination-item-container span {
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
}

.pagination-item-container a {
    font-size: 16px;
    font-weight: bold;
}

.pagination-item-container a.actual {
    background-color: #ffa646;
    border-radius: 15px;
    pointer-events: none;
    padding: 0 7px;
    color: #333;
}

.pagination-per-page {
    background-color: var(--admin-bg-lifted);
    border-radius: 10px;
    display: flex;
    font-size: 12px;
    overflow: hidden;
    font-weight: 700;
    font-family: "Open Sans", "Lucida Grande", Verdana, Arial,
        "Bitstream Vera Sans", sans-serif;
    height: min-content;
}

.pagination-per-page * {
    padding: 8px 9px;
}

.pagination-per-page span {
    padding-left: 17px;
    color: var(--admin-text-legend);
    font-weight: bold;
}

.pagination-per-page a {
    border: none;
    color: var(--admin-text-legend);
}

.pagination-per-page a:hover {
    background-color: var(--admin-pagination-hover-bg);
    color: #666;
    text-decoration: none;
}

