# Piwigo specific directories
/_data
/cache
/galleries/*
!/galleries/index.php
/local/*
!/local/**/index.php
/upload

# NPM
/node_modules/
/tests/node_modules/
/themes/bootstrap_darkroom/node_modules/

# Composer
/vendor/

# IntelliJ
.idea

# Docker
compose.override.yaml
