dist/
node_modules/
_data/
vendor/
plugins/LocalFilesEditor/codemirror/
plugins/nbc_ThemeChanger/include/jquery.tablesorter.js
plugins/piwigo-openstreetmap/leaflet/
plugins/piwigo-openstreetmap/fontello/
plugins/piwigo-videojs/video-js-4/
plugins/piwigo-videojs/video-js-5/
plugins/piwigo-videojs/video-js-6/
plugins/piwigo-videojs/video-js-7/
plugins/user_tags/js/jquery.addtags.js
themes/default/vendor/fontello/
themes/admin/_base/fontello/
themes/admin/_base/fonts/
package-lock.json
composer.lock
