parameters:
	ignoreErrors:
		-
			message: '#^Path in include\(\) "\./local/config/config\.inc\.php" is not a file or it does not exist\.$#'
			identifier: include.fileNotFound
			count: 2
			path: admin/configuration.php

		-
			message: '#^Array has 2 duplicate keys with value ''correction_error_fct'' \(''correction_error_fct'', ''correction_error_fct''\)\.$#'
			identifier: array.duplicateKey
			count: 1
			path: admin/include/check_integrity.class.php

		-
			message: '#^Undefined variable\: \$f$#'
			identifier: variable.undefined
			count: 1
			path: admin/include/image.class.php

		-
			message: '#^Call to function unset\(\) contains undefined variable \$v_header_list\.$#'
			identifier: unset.variable
			count: 1
			path: admin/include/pclzip.lib.php

		-
			message: '#^Function PclError not found\.$#'
			identifier: function.notFound
			count: 1
			path: admin/include/pclzip.lib.php

		-
			message: '#^Function PclErrorCode not found\.$#'
			identifier: function.notFound
			count: 1
			path: admin/include/pclzip.lib.php

		-
			message: '#^Function PclErrorReset not found\.$#'
			identifier: function.notFound
			count: 1
			path: admin/include/pclzip.lib.php

		-
			message: '#^Function PclErrorString not found\.$#'
			identifier: function.notFound
			count: 1
			path: admin/include/pclzip.lib.php

		-
			message: '#^Undefined variable\: \$v_file$#'
			identifier: variable.undefined
			count: 2
			path: admin/include/pclzip.lib.php

		-
			message: '#^Function plugin_activate not found\.$#'
			identifier: function.notFound
			count: 1
			path: admin/include/plugins.class.php

		-
			message: '#^Function plugin_deactivate not found\.$#'
			identifier: function.notFound
			count: 1
			path: admin/include/plugins.class.php

		-
			message: '#^Function plugin_install not found\.$#'
			identifier: function.notFound
			count: 1
			path: admin/include/plugins.class.php

		-
			message: '#^Function plugin_uninstall not found\.$#'
			identifier: function.notFound
			count: 1
			path: admin/include/plugins.class.php

		-
			message: '#^Function theme_activate not found\.$#'
			identifier: function.notFound
			count: 1
			path: admin/include/themes.class.php

		-
			message: '#^Function theme_deactivate not found\.$#'
			identifier: function.notFound
			count: 1
			path: admin/include/themes.class.php

		-
			message: '#^Function theme_delete not found\.$#'
			identifier: function.notFound
			count: 1
			path: admin/include/themes.class.php

		-
			message: '#^Undefined variable\: \$base_url$#'
			identifier: variable.undefined
			count: 1
			path: admin/notification_by_mail.php

		-
			message: '#^Path in include\(\) "\./local/config/config\.inc\.php" is not a file or it does not exist\.$#'
			identifier: include.fileNotFound
			count: 2
			path: admin/user_list.php

		-
			message: '#^Class PhpCsFixer\\Fixer\\Alias\\RandomApiMigrationFixer not found\.$#'
			identifier: class.notFound
			count: 1
			path: ecs.php

		-
			message: '#^Class PhpCsFixer\\Fixer\\Basic\\SingleLineEmptyBodyFixer not found\.$#'
			identifier: class.notFound
			count: 1
			path: ecs.php

		-
			message: '#^Class PhpCsFixer\\Fixer\\Phpdoc\\GeneralPhpdocAnnotationRemoveFixer not found\.$#'
			identifier: class.notFound
			count: 1
			path: ecs.php

		-
			message: '#^Class PhpCsFixer\\Fixer\\Strict\\DeclareStrictTypesFixer not found\.$#'
			identifier: class.notFound
			count: 1
			path: ecs.php

		-
			message: '#^Class PhpCsFixer\\Fixer\\StringNotation\\NoTrailingWhitespaceInStringFixer not found\.$#'
			identifier: class.notFound
			count: 1
			path: ecs.php

		-
			message: '#^Class PhpCsFixer\\Fixer\\Whitespace\\LineEndingFixer not found\.$#'
			identifier: class.notFound
			count: 1
			path: ecs.php

		-
			message: '#^Path in include\(\) "\./local/config/config\.inc\.php" is not a file or it does not exist\.$#'
			identifier: include.fileNotFound
			count: 1
			path: i.php

		-
			message: '#^Path in include\(\) "\./local/config/config\.inc\.php" is not a file or it does not exist\.$#'
			identifier: include.fileNotFound
			count: 1
			path: include/common.inc.php

		-
			message: '#^Method DerivativeImage\:\:get_scaled_size_htm\(\) should return string but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: include/derivative.inc.php

		-
			message: '#^Method DerivativeImage\:\:get_size_css\(\) should return string but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: include/derivative.inc.php

		-
			message: '#^Method DerivativeImage\:\:get_size_hr\(\) should return string but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: include/derivative.inc.php

		-
			message: '#^Method DerivativeImage\:\:get_size_htm\(\) should return string but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: include/derivative.inc.php

		-
			message: '#^Undefined variable\: \$comm$#'
			identifier: variable.undefined
			count: 1
			path: include/functions_comment.inc.php

		-
			message: '#^Undefined variable\: \$cached$#'
			identifier: variable.undefined
			count: 2
			path: include/functions_notification.inc.php

		-
			message: '#^Undefined variable\: \$res$#'
			identifier: variable.undefined
			count: 2
			path: include/functions_search.inc.php

		-
			message: '#^Undefined variable\: \$tag_counters$#'
			identifier: variable.undefined
			count: 1
			path: include/functions_tag.inc.php

		-
			message: '#^Call to static method display_debug\(\) on an unknown class Smarty_Internal_Debug\.$#'
			identifier: class.notFound
			count: 1
			path: include/template.class.php

		-
			message: '#^Undefined variable\: \$tmp$#'
			identifier: variable.undefined
			count: 2
			path: include/template.class.php

		-
			message: '#^Undefined variable\: \$type$#'
			identifier: variable.undefined
			count: 1
			path: include/ws_functions/pwg.images.php

		-
			message: '#^Path in include\(\) "\./local/config/config\.inc\.php" is not a file or it does not exist\.$#'
			identifier: include.fileNotFound
			count: 1
			path: install.php

		-
			message: '#^Path in include\(\) "\./local/config/config\.inc\.php" is not a file or it does not exist\.$#'
			identifier: include.fileNotFound
			count: 1
			path: install/upgrade_1.5.0.php

		-
			message: '#^Path in include\(\) "\./local/config/config\.inc\.php" is not a file or it does not exist\.$#'
			identifier: include.fileNotFound
			count: 1
			path: ready.php

		-
			message: '#^Cannot unset offset ''CHANGE_COLUMN'' on array\{tags\: non\-empty\-list\<non\-empty\-array\>, TITLE\?\: string\}\.$#'
			identifier: unset.offset
			count: 1
			path: tags.php

		-
			message: '#^Instantiated class Github\\Client not found\.$#'
			identifier: class.notFound
			count: 1
			path: tools/github_issues.php

		-
			message: '#^Path in require_once\(\) "\.\.//local/config/database\.inc\.php" is not a file or it does not exist\.$#'
			identifier: requireOnce.fileNotFound
			count: 1
			path: tools/test_piwigo.php

		-
			message: '#^Path in include\(\) "\./local/config/config\.inc\.php" is not a file or it does not exist\.$#'
			identifier: include.fileNotFound
			count: 1
			path: upgrade.php

		-
			message: '#^Path in include\(\) "\./local/config/database\.inc\.php" is not a file or it does not exist\.$#'
			identifier: include.fileNotFound
			count: 1
			path: upgrade.php

		-
			message: '#^Function my_error invoked with 1 parameter, 2 required\.$#'
			identifier: arguments.count
			count: 1
			path: upgrade_feed.php

		-
			message: '#^Path in include\(\) "\./local/config/config\.inc\.php" is not a file or it does not exist\.$#'
			identifier: include.fileNotFound
			count: 1
			path: upgrade_feed.php

		-
			message: '#^Path in include\(\) "\./local/config/database\.inc\.php" is not a file or it does not exist\.$#'
			identifier: include.fileNotFound
			count: 1
			path: upgrade_feed.php

