parameters:
	ignoreErrors:
		-
			rawMessage: Function plugin_activate not found.
			identifier: function.notFound
			count: 1
			path: admin/inc/DummyPlugin_maintain.php

		-
			rawMessage: Function plugin_deactivate not found.
			identifier: function.notFound
			count: 1
			path: admin/inc/DummyPlugin_maintain.php

		-
			rawMessage: Function plugin_install not found.
			identifier: function.notFound
			count: 1
			path: admin/inc/DummyPlugin_maintain.php

		-
			rawMessage: Function theme_deactivate not found.
			identifier: function.notFound
			count: 1
			path: admin/inc/DummyTheme_maintain.php

		-
			rawMessage: 'Undefined variable: $base_url'
			identifier: variable.undefined
			count: 1
			path: admin/inc/functions_admin.php

		-
			rawMessage: 'Undefined variable: $f'
			identifier: variable.undefined
			count: 1
			path: admin/inc/pwg_image.php

		-
			rawMessage: 'Undefined variable: $tmp'
			identifier: variable.undefined
			count: 2
			path: inc/Template.php

		-
			rawMessage: 'Undefined variable: $lang'
			identifier: variable.undefined
			count: 1
			path: inc/functions.php

		-
			rawMessage: 'Undefined variable: $comm'
			identifier: variable.undefined
			count: 1
			path: inc/functions_comment.php

		-
			rawMessage: 'Undefined variable: $cached'
			identifier: variable.undefined
			count: 2
			path: inc/functions_notification.php

		-
			rawMessage: 'Undefined variable: $conf'
			identifier: variable.undefined
			count: 1
			path: inc/functions_plugins.php

		-
			rawMessage: 'Undefined variable: $res'
			identifier: variable.undefined
			count: 2
			path: inc/functions_search.php

		-
			rawMessage: 'Undefined variable: $tmp'
			identifier: variable.undefined
			count: 1
			path: inc/functions_search.php

		-
			rawMessage: 'Undefined variable: $type'
			identifier: variable.undefined
			count: 1
			path: inc/ws_functions/pwg_images.php

		-
			rawMessage: 'Cannot unset offset ''CHANGE_COLUMN'' on array{tags: non-empty-list<non-empty-array>, TITLE?: string}.'
			identifier: unset.offset
			count: 1
			path: tags.php
