{contentType text}
----
{='Sent by'|translate} "{$GALLERY_TITLE}" {$GALLERY_URL}
{='Powered by'|translate} "Piwigo{if !empty($VERSION)} {$VERSION}{/if}" {$APP_URL}
{='Contact'|translate}: {$CONTACT_MAIL}
