{templateType Piwigo\Mail\Projection\NotificationAdminView}
{contentType text}
{$content}

{if isset($technical)}
-----------------------------
{='Connected user: %s'|translate:$technical['username']}
{='IP: %s'|translate:$technical['ip']}
{='Browser: %s'|translate:$technical['user_agent']}
{/if}
