{templateType Piwigo\Mail\Projection\NotificationByMailView}
{contentType text}
{='Hello'|translate} {$username},

{if $subscribeByAdmin}
{='The webmaster has subscribed you to receiving notifications by mail.'|translate}
{/if}
{if $subscribeByHimself}
{='You have subscribed to receiving notifications by mail.'|translate}
{/if}
{if $unsubscribeByAdmin}
{='The webmaster has unsubscribed you from receiving notifications by mail.'|translate}
{/if}
{if $unsubscribeByHimself}
{='You have unsubscribed from receiving notifications by mail.'|translate}
{/if}
{if isset($contentNewElementsSingle)}
{='New photos were added'|translate} {='on'|translate} {$contentNewElementsSingle['DATE_SINGLE']}.
{/if}
{if isset($contentNewElementsBetween)}
{='New photos were added'|translate} {='between'|translate} {$contentNewElementsBetween['DATE_BETWEEN_1']} {='and'|translate} {$contentNewElementsBetween['DATE_BETWEEN_2']}.
{/if}
{if $globalNewLines !== null}
{foreach $globalNewLines as $line}
  o {$line}
{/foreach}
{/if}
{if $customMailContent !== null}
{$customMailContent}
{/if}
{if $gotoGalleryTitle !== ''}
.{$gotoGalleryTitle} {$gotoGalleryUrl} .
{/if}

{='See you soon,'|translate}
  {$sendAsName}

______________________________________________________________________________

{='To unsubscribe'|translate}{=', click on'|translate} {$unsubscribeLink}
{='To subscribe'|translate}{=', click on'|translate} {$subscribeLink}
{='If you encounter problems or have any question, please send a message to'|translate} {$contactEmail}
______________________________________________________________________________
