<h3 class="related-tags-title">{='Related tags'|translate}</h3>

{foreach $COMBINABLE_TAGS as $tag}
<span class="related-tags {if isset($RELATED_TAGS_DISPLAY) and $RELATED_TAGS_DISPLAY == false} hide{/if}">{spaceless}
  <a class="tagLevel {if isset($tag['level'])}{$tag['level']}{/if}" href="{if isset($tag['U_ADD'])}{$tag['U_ADD']}{else}{$tag['URL']}{/if}" title="{if isset($tag['U_ADD'])}{$tag['counter']|translate_dec:'%d photo is also linked to current tags','%d photos are also linked to current tags'}{else}{='display photos linked to this tag'|translate}{/if}"{if isset($tag['U_ADD'])} rel="nofollow"{/if}>
    + {$tag['name']}<div class="tag-counter">{$tag['counter']}</div></a></span>{/spaceless}
{/foreach}