body {
  font-size: 0.8em;
  font-family: "Open Sans", "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
  text-align: center; /* be nice to IE5 */
  min-width: 60em; /* ~ 3* #menubar width */
}

#pwgHead {
  color: #d5d5d5;
  background-color: #3c3c3c;
  height: 50px;
}

#pwgHead .visit-gallery {
  position: fixed;
  left: 0;
  top: 0;
  width: 205px;
  background-color: #232323;
  line-height: 50px;
  font-size: 17px;
}

#pwgHead .visit-gallery i {
  font-size: 14px;
  color: #777;
  margin-left: -20px;
}

#pwgHead .pwgHead-gallery-title {
  color: #d5d5d5;
  text-align: left;
  font-size: 18px;
  float: left;
  width: calc(100% - 330px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 50px;
  margin: 0 0 0 220px;
}

.admin-head-username {
  display: none;
}

#pwgHead a {
  color: #ccc;
}
#pwgHead a:hover {
  color: #fff;
}

#headActions {
  float: right;
  line-height: 50px;
  margin-right: 10px;
}
#headActions a {
  margin-left: 5px;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
  border: none;
}

/** General defaults **/
input,
select {
  margin: 0;
  font-size: 1em; /* <= some browsers don't set it correctly */
}
ul,
dl,
ol {
  text-align: left;
}
table {
  /* horizontaly centered */
  margin-left: auto;
  margin-right: auto;
}
/* for debugging purpose */
pre {
  text-align: left;
}

/** forms **/

form {
  padding: 0;
}

form p {
  text-align: center;
  margin: 1em;
}

form p.field {
  text-align: left;
}

form p.formButtons {
  text-align: left;
}

form fieldset p {
  margin-top: 1em;
  margin-bottom: 0;
  text-align: left;
}

.small {
  font-size: 80%;
}

textarea.description {
  height: 6em;
  width: 40em;
  overflow: auto;
}

select.categoryList {
  height: 20em;
  width: 100%;
}

div.comment blockquote {
  padding: 0.5em;
  overflow: auto; /* no solution for IE6 */
  min-height: 2.75em; /* fix a Gecko bug whith scrollbar and 1 line only */
}

/**
 * Filter forms are displayed label by label with the input (or select...)
 * below the label. Use an UL to make a group (radiobox for instance).
 * Use a SPAN to group objects in line
 */
fieldset {
  padding: 1em;
  margin: 1em;
  border: none;
}

fieldset.with-border {
  border: 2px solid var(--admin-border);
}

input[type="radio"],
input[type="checkbox"] {
  background-color: transparent;
}

form.filter fieldset ul {
  margin: 0;
}
form.filter fieldset ul,
form.filter fieldset label {
  display: block;
  float: left;
  margin-right: 1em;
  padding: 0;
}

form.filter fieldset li {
  list-style: none;
  margin-bottom: 0.5em;
}

form.filter fieldset li label {
  display: inline;
  float: none;
}

form.filter fieldset ul.tagSelection label {
  display: inline;
  float: none;
  margin-right: 0.5em; /* reduce from above */
}

/* cannot use FIELDSET>LABEL because of IE<=6 */
form.filter fieldset label input,
form.filter fieldset label select,
form.filter fieldset label span,
form.filter fieldset label textarea {
  display: block;
  margin: 0.5em 0;
}
form.filter fieldset * label input,
form.filter fieldset * label select,
form.filter fieldset * label textarea,
form.filter fieldset label span input,
form.filter fieldset label span select,
form.filter fieldset label span textarea {
  display: inline;
  vertical-align: top;
  margin: 0 0.5em 0 0;
}

/* following declaration is important to avoid strange FF behaviour */
form.filter fieldset label span select {
  margin: 0;
}

form.filter fieldset p {
  clear: left;
  display: block;
}

/* FORM.filter INPUT[type="submit"] {
	margin-top: 1.8em;
} */

form.properties ul,
form#update ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

form.properties li,
form#update ul {
  margin-bottom: 0.5em;
  padding: 0;
  line-height: 1.8em;
  clear: left;
}

form.properties span.property {
  font-weight: bold;
  float: left;
  width: 50%;
  text-align: right;
  margin: 0;
  padding: 0 0.5em 0 0;
}

#configContent fieldset {
  border: none;
  padding-left: 20px;
}

#configContent legend {
  padding-left: 0;
  margin-left: -20px;
}
#configContent label:not(.no-bold) {
  font-weight: bold;
}

#notifyAdmin label {
  white-space: nowrap;
}

#theHeader h1 {
  margin-bottom: 0.5em;
}

.content .admin-object-id {
  position: absolute;
  right: 20px;
  opacity: 0.4;
  font-size: 16px;
}

/* button tools */
ul.actions {
  text-indent: 0;
  list-style: none;
}
ul.actions li {
  display: inline;
}

ul.tagSelection {
  width: 99%;
  margin: 1em 0;
  padding: 0;
}

ul.tagSelection li {
  display: inline-block;
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
}

html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--admin-bg-page);
}
#the_page {
  min-height: 100%;
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
}

#pwgMain {
  padding: 0;
}

#theAdminPage #footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 205px;
  height: 40px;
  z-index: 99;
  background-color: transparent;
}

#footer a.piwigo-logo img {
  width: 120px;
  margin-top: 7px;
}

#footer a {
  color: #ccc;
}
#footer a:hover {
  color: #fff;
}

#adminHome {
  margin-top: 20px;
  line-height: 30px;
  width: 200px;
  margin-left: 6px;
}

a.admin-main {
  color: #aaa;
  display: block;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}
a.admin-main:hover {
  color: #fff;
}

#piwigoInfos {
  float: left;
  margin-left: 140px;
}
#pageInfos {
  display: none;
}

