.infos,
.errors,
.warnings,
.messages {
  text-align: left;
  margin: 20px;
  padding: 5px;
  font-weight: bold;
  min-height: 54px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: start;
}

.infos ul,
.errors ul,
.warnings ul,
.messages ul {
  margin: 1px 0;
  padding-left: 0;
}

.infos ul {
  color: #3c3c3c;
}

.eiw-icon {
  font-size: 40px;
  margin-right: 10px;
}

.infos {
  color: #0a0;
  background-color: #c2f5c2;
}

.infos a {
  color: #3c3c3c;
}

.errors {
  color: #f22;
  background-color: #ffd5dc;
  border-left: 4px solid #f22;
}

.warnings {
  color: #e80;
  background-color: #fd9;
  border-left: 4px solid #e80;
}

.messages {
  color: #00529b;
  background-color: #bde5f8;
  border-left: 4px solid #00529b;
}

.jGrowl-popup-icon {
  position: absolute;
  font-size: 4em;
  left: -25px;
}

.success {
  color: #3c3c3c;
}
div.jGrowl div.jGrowl-notification.success {
  background: none;
  background-color: #d6ffcf;
  opacity: 1;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0 5px 10px 5px rgb(0, 0, 0, 0.1);
  margin-bottom: 1em;
}
div.success .jGrowl-popup-icon {
  color: #4ca530;
}

.error {
  color: #3c3c3c;
}
div.jGrowl div.jGrowl-notification.error {
  background: none;
  background-color: #ffc8c8;
  opacity: 1;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0 5px 10px 5px rgb(0, 0, 0, 0.1);
  margin-bottom: 1em;
}
div.error .jGrowl-popup-icon {
  color: #be4949;
}

div.jGrowl div.jGrowl-notification div.jGrowl-message {
  font-size: 1.2em !important;
  margin: 0% 0% 0% 28%;
}
div.jGrowl div.jGrowl-notification div.jGrowl-header {
  font-size: 1.2em !important;
  font-weight: 800 !important;
  margin: 5% 0% 2% 28%;
}
div.success div.jGrowl-close,
div.error div.jGrowl-close {
  font-size: 2em !important;
  font-weight: 1000 !important;
  position: relative;
  top: -7px;
  right: 1px;
}

div.jGrowl div.jGrowl-closer {
  visibility: hidden;
}

div.jGrowl div.jGrowl-notification {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  zoom: 1;
  width: 21vw;
  height: 100%;
  padding: 18%;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1em;

  display: none;
  border-radius: 5px;
}

.metasync-success {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.badge {
  background-color: #0a0;
  color: #fff;
  padding: 1px 5px;
  border-radius: 10px;
  margin-left: 5px;
}

.buttonSubmitLocal {
  margin-left: 9px !important;
}

.infos li,
.errors li,
.warnings li,
.messages li {
  list-style-type: none;
}
.infos .submit {
  margin-left: 30px;
}

.checkActions {
  text-align: left;
  padding: 0;
  margin: 0;
}
#user-table-content #checkActions {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#user-table-content #checkActions a {
  padding: 10px;
  margin: 0 4px;
}
#checkActions {
  text-align: left;
  margin: 0 0 20px;
}
.ActionUserList #checkActions {
  margin: 20px 0;
}

.emptyResearch {
  opacity: 0.3;
  text-align: center;
  left: 45%;
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  display: none;
}

