
/* tabsheets are often used in admin  pages => No specific css files */
#tabsheet {
  width: auto;
  margin: 0 0 20px;
  padding: 0 0 0 10px;
  border: none;
  background-color: #f3f3f3;
}
.tabsheet {
  display: table;
  white-space: nowrap;
  padding-left: 10px;
  margin: 0;
  width: auto;
  list-style-type: none;
  list-style-image: none;
  text-decoration: none;
}
.tabsheet li {
  background-color: transparent;
  float: left;
  margin: 0 6px 0 0;
  overflow: hidden;
  text-align: right;
  border: none;
  position: relative;
  top: 11px;
  border-radius: 5px 5px 0 0;
}
.tabsheet a {
  display: block;
  font-size: 11px;
  border: 0;
  font-weight: bold;
  overflow: hidden;
  padding: 10px 20px;
  text-align: right;
  text-decoration: none;
  margin: 0;
  color: #898989;
}
.tabsheet a::first-letter {
  text-transform: capitalize;
}
.tabsheet li.selected_tab {
  border-bottom: none;
  background-color: #fff;
}
.tabsheet li:hover,
.tabsheet li.selected_tab {
  margin-top: 4px;
  padding-bottom: 3px;
  padding-top: 3px;
  top: 1px;
}
/* .tabsheet a:hover */
.tabsheet li.selected_tab a {
  color: #555;
}
.tabsheet a span {
  font-size: 14px;
  margin-right: 2px;
  padding: 0 3px 0 1px;
}

.content {
  padding: 0;
  margin: 0 0 0 205px;
  z-index: 99;
}

#content {
  border: none;
  min-height: 467px;
  margin-left: 205px;
  margin-top: 0;
}

#thePopuphelpPage {
  min-width: 0; /* reset default min width because no scrollbar here */
}

#thePopuphelpPage #pwgHead {
  display: none;
}
#thePopuphelpPage #footer {
  display: none;
}

