/**
 * Default colors
 */

/* So that non-links are slightly greyed out */
.content .navigationBar,
span.calItem,
td.calDayCellEmpty {
    color: #b0b0b0;
}

/* Tables & forms */

/* IE <= 6 is so bad with this that you can't merge with the following rule */
input[type="text"],
input[type="password"],
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"] {
    color: #000;
    background-color: #d3d3d3; /* lightgrey */
}

select,
textarea {
    color: #000;
    background-color: #d3d3d3; /* lightgrey */
}

input:focus,
select:focus,
textarea:focus {
    background-color: #f5f5f5; /* whitesmoke */
}

/* some theme set a border on INPUT  which is not pretty for radio/checkbox */
input[type="radio"],
input[type="checkbox"] {
    border: none; /* <= Opera needs this */
}

.content.messages {
    padding: 0;
    background: none;
    border: none;
}

.errors {
    /* Errors display */
    color: red;
    font-weight: bold;
    margin: 5px;
    border: 1px solid red;
    background: #ffe1e1 url("../icon/errors.png") no-repeat center right;
    padding: 10px 50px 10px 10px;
}

/* Information box */
.infos {
    color: #002000;
    background: #98fb98 url("../icon/infos.png") no-repeat center right;
    margin: 5px;
    padding: 10px 50px 10px 10px;
}

/* Header message like upgrade */
.header_msgs {
    text-align: center;
    font-weight: bold;
    color: #696969; /* dimgray */
    background-color: #d3d3d3;
    margin: 1px;
    padding: 1px;
}

/* Header notes box */
.header_notes {
    border: 1px solid #aaa;
    text-align: center;
    background-image: url("../icon/note.png");
    background-repeat: no-repeat;
    background-position: top left;
    font-weight: bold;
    margin: 14px;
    padding: 5px 0 0;
}

legend {
    font-style: italic;
    color: inherit; /* for IE */
}

#piwigoAbout {
    width: 600px;
    margin: 0 auto;
}

#linkToPiwigo {
    text-align: center;
}

.message {
    background-color: lightyellow;
    color: #333;
    margin-bottom: 1em;
    padding: 12px;
    border-radius: 3px;
}

#lostPassword p {
    text-align: left;
    margin: 1.5em 0;
    line-height: 1.5em;
}

/* TomSelect (uses .selectize-* class names) */
.selectize-dropdown [data-selectable],
.selectize-dropdown .optgroup-header {
    padding: 0 5px !important; /* overrides TomSelect own padding rule at higher specificity */
}

#TagsGroupRemoveTag span,
#TagsGroupRemoveTag i {
    display: none;
}


