.commentsList .commentElement .illustration {
  width: var(--comment-illu-w);
}

.content .commentsList .commentElement .description {
  min-height: var(--comment-desc-h);
}

.commentsList .commentElement .description .actions {
  float: right;
  font-size: 90%;
}
