/**
 * Content
 */
.contentWithMenu {
    margin-left: 20em; /* = #menubar width + 2em */
}

.content .navigationBar,
.content .additional_info,
.content .calendarBar {
    margin: 8px 4px;
    text-align: center;
}

.content .pageNumberSelected {
    font-style: italic;
    font-weight: bold;
}

.content .additional_info {
    font-size: 110%;
}

.content .titrePage {
    padding: 0 0 3px;
}

.content .notification {
    padding: 0 25px;
}

#menubar .badge {
    margin-left: 5px;
}

.badge::before {
    content: "[";
}

.badge::after {
    content: "]";
}

.badge.badgeCategories::before {
    content: "(";
}

.badge.badgeCategories::after {
    content: ")";
}

/* A nicer (more modern) way to present badge, with a background color and no brackets */

/*
.badge::before, .badge::after {
  content:none;
}

.badge {
  display: inline-block;
  min-width: 5px;
  padding: 3px 7px;
  color: #eee;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: #666;
  border-radius: 10px;
}
*/

/* category and tag results paragraphs on a quick search */
.search_results {
    font-size: 16px;
    margin: 10px 16px;
}

/* actions */
.categoryActions {
    margin: 0 2px;
    width: auto;
    padding: 0;
    text-indent: 0;
    list-style: none;
    text-align: center;
    float: right;
}

.categoryActions li {
    display: inline;
}
