/**
 * Default Layout
 */
body {
    margin: 5px;
    padding: 0;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 60em; /* ~ 3* #menubar width; width of the page before getting a scrollbar; IE6 doesn't get that */
}

img {
    border: 0; /* IE<=9 adds border for linked images */
}

#thePopuphelpPage {
    min-width: 0; /* reset the min width */
}

h1 {
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    padding: 0;
    margin: 0.5em 0 1em;
}

h2 {
    margin: 0;
    padding: 5px 0.5em;
    text-align: left;
    font-size: 120%;
}

a {
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid #858460;
}

a.pwg-state-default:hover {
    border-bottom: 0; /* reset above for icons */
}

#copyright {
    clear: both;
    font-size: 83%;
    text-align: center;
    margin: 0 0 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    background-color: inherit;
}

input,
select {
    margin: 0;
    font-size: 1em; /* <= some browsers don't set it correctly */
}

table {
    /* horizontally centered */
    margin-left: auto;
    margin-right: auto;
}

form {
    padding: 0;
    margin: 0;
}

form p {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

