.thumbnails li span,
.thumbnails li .wrap2 a,
.thumbnails li label {
  width: var(--thumb-w);
}

.thumbnails li .wrap2 {
  height: var(--thumb-h);
}

.thumbnails li .thumbLegend {
  font-size: var(--thumb-legend-fs);
}
