@layer pages {
.toggle-comment-option {
  cursor: pointer;
  position: relative;
}


.comment-option {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: linear-gradient(130deg, #f70 0%, #ffa744 100%);
  inset-inline-end: -10px;
  top: 45px;
  width: max-content;
  border-radius: 10px;
}

.comment-option span,
.comment-option a {
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  text-align: initial;
}

.comment-option::after {
  content: " ";
  position: absolute;
  top: -10px;
  inset-inline-end: 21px;
  transform: rotate(0deg);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #f70;
}

.comment-option span:first-child::before {
  margin-inline-end: -1px;
}

.comment-option span:hover:first-child {
  color: #fff;
  background-color: #00000012;
  border-start-start-radius: 10px;
  border-start-end-radius: 10px;
}

.comment-option span:hover:last-child {
  color: #fff;
  background-color: #00000012;
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
}

.cat-modify-footer .spinner {
  width: 20px;
  height: 20px;
}

.warnings {
  display: none;
}

.directory {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cat-modify-infos .cat-modify-info-content.directory::first-letter {
  text-transform: none;
}
}

@layer pages-base {
.toggle-comment-option::before {
  transform: scale(1.3);
}

}
