@layer pages {

.commentElement .illustration {
  width: var(--comment-illustration-width);
}

.content .commentElement .description {
  min-height: var(--comment-description-min-height);
}

.actions {
  float: inline-end;
  font-size: 90%;
}

}
