:root {
  --admin-bg-page: #444;
  --admin-bg-panel: #222;
  --admin-bg-elevated: #333;
  --admin-bg-deepest: #1b1b1b;
  --admin-text: #c1c1c1;
  --admin-text-strong: #fff;
  --admin-border: #555;
  --admin-border-strong: #666;
  --admin-link: #777;
  --admin-input-bg: #2c2c2c;
  --admin-stripe-odd: #111;
  --admin-stripe-even: #222;
  /* --admin-text-muted, --admin-accent, --admin-accent-soft inherit base */
}

/* text color */

option[disabled] {
  background-color: #999;
  color: #444;
}
.showInfo {
  color: #666;
}
.showInfo:hover {
  color: #999;
}

h2 {
  color: #ccc;
}

.header_notes {
  background: transparent url("../default/icon/note.png") no-repeat right top;
  border: none;
  min-height: 48px;
  padding: 15px 60px 0 0;
  right: 0;
  width: 550px;
}
/* #the_page { margin: 0; padding: 0; z-index: 1; top:0px; */
/* padding-top: 0; min-height: 100%; width:100%; position:absolute; left:0px; } */
h3,
.content {
  background-color: #222;
}
.throw em {
  font-style: normal;
  color: #ededed;
}

#menubar li:hover {
  background-color: transparent;
}


h1 {
  background-color: #565656;
  color: #c1c1c1;
}
h1 .bc-albums {
  background-color: #333;
}

#tabsheet {
  background-color: #565656;
}

.tabsheet li.selected_tab a {
  color: #c1c1c1;
}
.tabsheet a {
  font-weight: normal;
}

.tabsheet li:hover a {
  color: #c1c1c1;
}

.content h4 {
  font-size: 14px;
  text-align: left;
  padding: 3px;
  margin: 2px;
}

ul.thumbnails span.wrap2 {
  background-color: #333;
}

/* .throw, */
td h3 {
  background-image: url("images/fillet.png");
  background-repeat: repeat-x;
}
/* borders */
input,
select,
textarea {
  color: #999;
  background-color: #444;
  border: 1px solid #666;
}
input:focus,
select:focus,
textarea:focus {
  outline: #ffa646 solid 1px;
  background-color: #444;
  color: #999;
}

.tagSelection li.tagSelected {
  background-color: #aaa;
}
ul.thumbnails input {
  color: #999;
  font-size: 10px;
  margin: 0;
  background-color: #444;
  text-align: center;
}
input[type="submit"]:hover,
input[type="reset"]:hover {
  cursor: pointer;
}
input.bigbutton:hover {
  background-color: #222;
  color: #f33;
  border: 0;
}
.throw {
  font-size: 120%;
  line-height: 26px;
  padding-top: 10px;
  font-weight: bold;
  color: #9e9e9e;
}
.menuLi_hidden {
  background: #333 ;
}
a.Piwigo {
  font-family: verdana, arial, helvetica, sans-serif ;
  font-size: 11px;
  font-weight: normal;
  letter-spacing: 0;
  color: #f33;
  text-decoration: none;
  border: 0;
}
a.Piwigo:hover span.Piwigo {
  border-bottom: 1px solid #ff3363;
}

/* RADU - I comment this because it makes FF form controls activation very slow)
*, *:focus, *:active, input:active, a:active, input:focus, a:focus { outline: none; -moz-outline-width: 0px; }
*/

#adminHome a,
#menubar li a,
#menubar dt {
  color: #8d8d8d;
}

.font-checkbox .adminOnlyIcon {
  color: #bbb;
  background: #555;
}

/* Filter */

.search-input {
  background-color: #333 ;
}

.search-input:hover {
  background-color: #222 ;
}

/* Pagination */

.pagination-per-page {
  background-color: #555;
}

.pagination-per-page span {
  color: #c1c1c1;
}

.pagination-per-page a:hover {
  background-color: #888;
  color: #444;
}

.selected-pagination {
  background: #ffa646 ;
  color: #444 ;
}


.buttonLike:disabled,
.filters-icon-check:disabled,
input[type="button"]:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled {
  color: #555;
  border-color: #666;
  cursor: not-allowed;
  background-color: #666;
}

.bigbutton {
  background: transparent url("images/quickLocalSync_inactiv.png") no-repeat scroll left top;
  display: block;
  color: #111;
  font-size: 28px;
  height: 161px;
  margin: 0 20px 0 auto;
  padding: 0 18px;
  text-align: center;
  width: 625px;
  position: relative;
  z-index: 50;
}
.bigtext {
  display: block;
  font-weight: bold;
  left: 225px;
  position: relative;
  top: 35px;
  width: 320px;
  z-index: 55;
  cursor: pointer;
}
.bigbutton:hover {
  background: transparent url("images/quickLocalSync_hover.png") no-repeat scroll left top;
  color: #000;
}
.bigbutton input {
  background: transparent url("images/transparent.gif") repeat scroll left top;
  border: 0;
  display: block;
  height: 85px;
  left: 225px;
  position: relative;
  top: -42px;
  width: 313px;
  z-index: 99;
  padding: 0;
  color: transparent;
}
.bigbutton input:hover {
  cursor: pointer;
  background: transparent url("images/transparent.gif") repeat scroll left top;
  border: 0;
  padding: 0;
  color: transparent;
}

/* dashboard */
.stat-box {
  color: #9c9c9c;
}

a.stat-box:hover {
  color: #aeaeae;
}

.stat-data-selector label {
  color: #777;
  padding: 10px;
  background-color: #333;
  transition: 0.2s ease;
}

.stat-data-selector input:checked + label {
  color: #444;
}

.stat-data-selector label:hover {
  background-color: #555;
}

.stat-data-selector label.unavailable {
  background: #3c3c3c;
  color: #666;
}

.chart-title {
  color: #777;
}

.intro-charts .tooltip {
  background-color: #333;
  box-shadow: none;
}

.storage-tooltips .separated {
  background: #777;
}

.storage-tooltips .tooltip-arrow,
.activity-chart .tooltip-arrow {
  border-color: transparent transparent #333;
}

.storage-tooltips .tooltip-arrow.bottom {
  border-color: #333 transparent transparent;
}

.intro-charts .tooltip .tooltip-details-title,
.intro-charts .tooltip-title {
  color: #aeaeae ;
  border: none ;
}

.activity-chart span div,
.storage-chart span:nth-child(5),
.storage-chart-legend div:nth-child(5) span {
  background-color: #bc4b4a;
  opacity: 1;
}

.activity-chart #week-1-legend ~ span div,
.storage-chart span:nth-child(4),
.storage-chart-legend div:nth-child(4) span {
  background-color: #4f71a4;
}

.activity-chart #week-2-legend ~ span div,
.storage-chart span:nth-child(3),
.storage-chart-legend div:nth-child(3) span {
  background-color: #4e5aa3;
}

.activity-chart #week-3-legend ~ span div,
.storage-chart span:nth-child(2),
.storage-chart-legend div:nth-child(2) span {
  background-color: #50a48f;
}

.activity-chart #week-4-legend ~ span div,
.storage-chart span:nth-child(1),
.storage-chart-legend div:nth-child(1) span {
  background-color: #d47f44;
}

.themeName {
  color: #ccc;
}
.themeSelect {
  background-color: #333;
  box-shadow: none;
}
.themeSelect.themeDefault {
  background-color: #f9bf80;
}
.themeSelect.themeDefault a,
.themeSelect.themeDefault span,
.themeSelect.themeDefault .themeName {
  color: #333;
}
.themeActions a {
  border-bottom: none;
}
.themeActions span {
  background-color: #555;
  color: #bbb;
}
.showInfo-dropdown-header a {
  color: #3a3a3a;
}
#pluginsMenuSeparator {
  border: 1px solid #333;
}

#helpContent,
#pLoaderPage,
#ftpPage,
#ftpPage legend {
  color: #aaa;
}

.pluginBox,
.pluginContent,
.groups .GroupContainer {
  background-color: #333;
  color: #999;
  border-right-color: #333;
  box-shadow: none;
  border-left: none;
}
.pluginContainer.line-form .pluginBox:hover .pluginContent {
  background: #1e1e1d;
}
.groups #addGroupForm:hover {
  background-color: #1b1b1b;
}

.pluginName {
  color: #aaa;
}
.pluginBox.incompatible {
  border-color: #800 ;
}
/* .pluginActionLevel1 {color: #333;} */
.pluginActionLevel2 {
  color: #bbb;
}
.pluginFilter input {
  border-color: #c1c1c1;
}
.languageBox {
  background-color: #333;
}
.languageName {
  color: #ccc;
}
.languageDefault {
  background-color: #555;
  color: #aaa;
}
.groupError {
  color: #ffd5dc;
  background-color: #f22;
}
.group-rename input {
  color: #999;
}
.GroupBackgroudSelected .Group-name {
  color: #333 ;
}
.GroupContainer .group_name-editable {
  background-color: #323232 ;
  border: 1px solid #666 ;
}
.GroupContainer .group-rename .icon-ok {
  color: #222;
}


/* Batch Manager */
#batchManagerGlobal .thumbnails .font-checkbox [class*="icon-check"]::before {
  color: #777;
}

#batchManagerGlobal li.thumbSelected .font-checkbox [class*="icon-check"]::before {
  color: #3c3c3c;
  display: block;
}

#batchManagerGlobal ul.thumbnails li:hover .wrap2 {
  color: #fff;
}

#batchManagerGlobal .thumbSelected .wrap2 {
  background-color: #555 ;
}

#batchManagerGlobal #applyFilter {
  color: #bfbfbf;
  background-color: #3c3c3c;
}

#batchManagerGlobal #applyFilter:hover {
  background-color: #1b1b1b;
  cursor: pointer ;
}

#batchManagerGlobal #filterList li {
  background-color: #3c3c3c;
}

#batchManagerGlobal legend {
  color: #bfbfbf;
}

/* TokenInput (with Facebook style for ROMA) */
ul.token-input-list {
  border-color: #666 ;
  background-color: #444 ;
}
ul.token-input-list li input {
  background-color: #444 ;
}
li.token-input-token span {
  color: #878787 ;
}
div.token-input-dropdown {
  background-color: #eee ;
  border-color: #666 ;
}
div.token-input-dropdown ul li {
  background-color: #eee ;
}
div.token-input-dropdown ul li.token-input-selected-dropdown-item {
  background-color: #ff7800 ;
}

.big-progressbar {
  background: #3c3939;
}

/* Picture add */

.upload-options-content .switch .slider {
  background-color: #444;
}

/* Picture edit */
#picture-content input[type="text"],
#picture-content textarea,
#picture-content select {
  background-color: #444;
  border: 1px solid #666;
  color: #c1c1c1;
}

/* Album edit */
.move-cat-container:hover {
  background-color: #232323;
}

.move-cat-container:hover .icon-yellow,
.move-cat-container:hover .icon-red,
.move-cat-container:hover .icon-purple,
.move-cat-container:hover .icon-blue,
.move-cat-container:hover .icon-green {
  opacity: 1;
}

.move-cat-action a:hover {
  color: #777;
  background: #111;
}

.disabledToggle .move-cat-toogler {
  color: #808080 ;
  opacity: 0.5;
  pointer-events: none;
}
.move-cat-container.disabledToggle:hover .move-cat-toogler {
  opacity: 0.5;
  pointer-events: none;
}

.AddUserPopInContainer,
.AddAlbumPopInContainer,
.DeleteAlbumPopInContainer,
.RenameAlbumPopInContainer {
  background-color: #333;
}
.AddUserPopInContainer .AddIconTitle,
.AddAlbumPopInContainer .AddIconTitle,
.DeleteAlbumPopInContainer .DeleteIconTitle,
.RenameAlbumPopInContainer .RenameAlbumTitle {
  color: #777;
}
.AddUserPopInContainer .AddUserInput,
.AddAlbumPopInContainer .user-property-input,
.DeleteAlbumPopInContainer .DeleteAlbumInput,
.RenameAlbumPopInContainer .RenameAlbumInput,
.RenameAlbumLabelUsername input {
  background-color: #252525;
  border: solid 2px #252525;
  outline: none;
}

.AddAlbumCancel,
.RenameAlbumCancel {
  color: #777;
  background-color: #252525;
}

.AddAlbumCancel:hover,
.RenameAlbumCancel:hover {
  background-color: #1b1b1b;
  color: #777;
}
.AddAlbumSubmit {
  color: #493c21;
  background-color: #ffa646;
}

.RenameAlbumSubmit {
  color: #3f3e40;
  background-color: #ffa646;
}
.AddAlbumSubmit:hover,
.RenameAlbumSubmit:hover {
  background-color: #f70;
}

/* Cat modify */

.selectedComment {
  background-color: #555;
  color: #fff;
}

.groups .Group-name > p {
  color: #ccc;
  font-size: 1.2em;
  background-color: #111;
}

.groups .GroupContainer,
.groups .showCreateGroup,
.groups .addGroupFormBlock {
  box-shadow: -1px 1px 2px #1a1a1a;
}

.groups .showCreateGroup:hover #addGroup,
.groups .addGroupFormTitle {
  color: #c0c0c0;
  text-decoration: none;
}

.groups .group_number_users {
  color: #777;
}

#addGroupNameInput {
  color: #999;
  background-color: #252525 ;
  border: none ;
  outline: none;
}

#addGroupClose:hover {
  color: #ededed;
}

#addGroupNameInput::placeholder {
  color: #bbb;
}

/* Edit group name */

.groups .Group-name {
  color: #777;
}

.groups .Group-name .Group-name-container p:focus {
  border: 1px solid #303030 ;
  background-color: #1a1a1a;
}

/* Add Group */

/* Group Options */

#GroupOptions {
  background-color: #5c5c5c;
  box-shadow: -1px 1px 2px #393939;
  color: #c0c0c0;
}

/* Group manager buttons */

.groups .manage-users,
.groups .manage-permissions {
  border: 1px solid #777;
  background-color: transparent;
  color: #777;
}

/* UserList Pop in */

.LinkUserManager a {
  background-color: #2e2e2e;
  color: #777;
}

.LinkUserManager a:hover {
  background-color: #1b1b1b;
  color: #777;
}

/* Selection mode */

.slider {
  background-color: #333;
}

.slider::before,
.slider::after {
  background-color: #777;
}

input:checked + .slider::before,
input:checked + .slider::after {
  background-color: #333;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ffc27f;
}

#selection-mode-block,
.selection-mode {
  border-left: 1px solid #1a1a1a;
}

.GroupBackgroudSelected {
  background-color: #f9852c ;
  box-shadow: none ;
}

.OrangeIcon {
  background-color: #ae5d1e ;
  color: #faa96b ;
  border-color: #ae5d1e ;
}

.OrangeFont {
  color: #fddaba ;
}

.BlackFont {
  color: #000 ;
}

#checkActions a:hover {
  background-color: #1b1b1b;
  color: #777;
}

/* Selection mode content */

.SelectionModeGroupList {
  color: #c0c0c0;
}

#selection-mode-block button,
#commentsSelection button {
  border: 1px solid #e7e7e7;
  color: #c0c0c0;
}

#selection-mode-block button:hover,
#commentsSelection button:hover {
  background-color: #ffa744;
  border: 1px solid #ffa744;
  color: #3c3c3c;
}

.MergeOptionsContainer select {
  background-color: #1a1a1a;
  box-shadow: 0 0 2px #c5c5c5;
}

/* Group checkbox */

.groups .group-checkmark {
  border: 2px solid #c76a23;
}

.groups .Group-checkbox:hover input ~ .group-checkmark {
  background-color: #c76a23;
}

.groups .Group-checkbox input:checked ~ .group-checkmark {
  background-color: #c76a23;
}

.groups .Group-checkbox .group-checkmark::after {
  border: solid #ebebeb;
  border-width: 0 3px 3px 0;
}


/* UserList Pop in */

#CloseDeleteAlbum,
.close-modal {
  color: #444;
}

.CloseUserList:hover,
.CloseAddAlbum:hover,
#CloseDeleteAlbum:hover {
  color: #ffa646;
}

.UsernameBlock {
  background-color: #393939;
  color: #9e9e9e;
}

.UsernameBlock.success_message {
  border: 2px solid #aaf6e4;
}

.Tooltip p.TooltipText {
  color: #f3f3f3;
  background-color: #3c3c3c;
  border: 1px solid #f3f3f3;
}

.ValidationUserAssociated,
.ValidationUserDissociated {
  background-color: #4ea590;
  color: #1b3a33;
}

.ValidationUserAssociated p,
.ValidationUserDissociated p {
  color: #1b3a33 ;
}

#UserList .group-name-block .UserNumberBadge {
  background-color: #777;
  color: #ccc;
}
.advanced-filter-select {
  border: 1px solid transparent;
}

.advanced-filter-select-container::before {
  color: #4c4c4c;
}

.user-property-main-user-content-header .main-user-icon {
  background-color: #be4949 ;
  color: #ffc8c8 ;
}

.userSeparator {
  color: #666;
  visibility: hidden;
}

.GuestUserListPopInContainer {
  background-color: #444 ;
}

.AddUserSubmit,
.update-user-button,
.user-property-main-user-body .main-user-btn-validate {
  color: #493c21 ;
  background-color: #ffa646;
}

.AddUserSubmit:hover {
  background-color: #f70;
}

table.dataTable tr.even {
  background-color: #111 ;
}

table.dataTable tr.even td.sorting_1 {
  background-color: #181818 ;
}

table.dataTable tr.odd {
  background-color: #222 ;
}

table.dataTable tr.odd td.sorting_1 {
  background-color: #282828 ;
}

table.dataTable thead th,
table.dataTable.no-footer {
  border-color: #333 ;
}

.userPropertiesContainer {
  border-color: #333;
}
.userPrefs {
  border-color: #333;
}

table.qsearch_help_table td {
  border-color: #444;
}

#watermarkPositionBox label {
  color: #aaa;
}

#wImg {
  border-color: #555;
}

.afterUploadActions a.secondary_button {
  background-color: #333;
  color: #777;
}
.afterUploadActions a.secondary_button:hover {
  background-color: #ffa744;
  color: #3c3c3c;
}

.font-checkbox {
  color: #898888;
}
.font-checkbox:hover {
  color: #ededed;
}
.with-border legend,
.with-border strong {
  color: #c0c0c0;
}

a#showPermissions {
  color: #d6d6d6;
  border: 1px solid #d6d6d6;
  background-color: #414141;
}
.icon-plus.cboxElement {
  border: 1px solid #777;
  color: #c0c0c0;
}
.icon-plus.cboxElement:hover {
  border: 1px solid #aaa;
}
.plupload_filelist {
  background-color: #444 ;
  scrollbar-color: #555 #444 ;
}
.plupload_filelist li {
  border-bottom: 1px solid #343434 ;
  color: #a5a5a5 ;
}
.plupload_filelist_footer {
  background-color: #3c3939 ;
  border: 0 ;
  color: #a5a5a5 ;
}
li.plupload_delete a.remove-format:hover {
  color: #c0c0c0;
}

#cboxTitle {
  color: #7f7f7f ;
}
#addAlbumForm {
  color: #999;
}
.addAlbum form input {
  color: #777 ;
  background-color: #252525 ;
  border: none ;
}
.addAlbum form input::placeholder {
  color: #777 ;
}

#uploadForm li.plupload_droptext {
  background-color: #343434 ;
  color: #777 ;
}
.addFilesButtonChanged {
  background-color: #888;
}
.addFilesButtonChanged:hover {
  background-color: #777;
}
.selectAlbumFirst {
  background: #343434 ;
}
.categoryBox,
.addAlbum {
  background-color: #333 ;
  box-shadow: -1px 1px 2px #1a1a1a;
}
.categoryBox.line_cat:hover {
  background: #f9852c ;
  color: #333 ;
  transition: 0.2s linear;
}
.categoryBox.line_cat:hover .albumInfos {
  color: #333 ;
  transition: 0.2s linear;
}
.categoryBox.line_cat:hover .albumActions a span {
  color: #333;
  transition: 0.2s linear;
}

.cat-modify-info-card {
  background: #333;
  color: #c1c1c1;
}


.cat-modify-footer,
.savebar-footer {
  border-color: rgb(0, 0, 0, 0.2);
}

.cat-modify-actions a:hover .cat-modify-actions .toggle-comment-option:hover {
  color: #fff ;
}

.cat-modify-actions a::after,
.cat-modify-actions .toggle-comment-option::after,
.mores-plugins::after {
  background: #111 ;
}

.cat-modify-input-container #cat-parent {
  background: #333;
  box-shadow: 0 2px #0000007a ;
}

.albumActions a:hover span {
  color: #fff ;
}
.albumActions a {
  text-decoration: none;
}

.albumIconLineHover {
  background: #ae5d1e ;
  color: #ffa96b ;
  transition: 0.5s ease;
  border-color: #ae5d1e ;
}

#checkActions a,
.deleteDerivButtons a {
  background-color: #393939;
}
#checkActions a:hover,
.deleteDerivButtons a:hover {
  background-color: #1b1b1b ;
  color: #777 ;
}
#addFilter,
#filterList select,
.pictureLevels select,
#permitAction select,
.sort-by select {
  background-color: #444;
  color: #bfbfbf;
}

#addFilter:hover {
  color: #ebebeb;
}
#filter_search input {
  background-color: #444;
  color: #bfbfbf;
  border: 1px solid #666;
  box-shadow: none;
}

.pagination-item-container a:hover {
  color: #ffa646;
}
#permitAction select {
  background: #3c3c3c;
  color: #c0c0c0;
}
#set_date_creation input {
  background: #3c3c3c;
  color: #c0c0c0;
}
#action_move a:last-child {
  color: #c0c0c0;
  background-color: #464646;
}
#filter_dimension .slider-choice,
#filter_filesize .slider-choice {
  background-color: #393939;
}
#forbidAction,
.selectionEmptyBlock,
.noFilter {
  background-color: #5a5757;
  color: #c1c1c1;
}

#action_title .large,
#action_author .large {
  background-color: #333;
  color: #fefefe;
}
#addFilter optgroup,
#batchManagerGlobal option[disabled] {
  background-color: #555;
}
.dimension-cancel {
  background-color: #555 ;
}
.pageNumberSelected {
  background-color: #b4b4b4;
  color: #777 ;
  font-weight: bold;
}

.help-popin-search:hover span,
.help-popin-search:hover .icon-help-circled::before {
  color: #ededed ;
}

.selected-associate-item {
  background-color: #333;
  box-shadow: 0 2px #000a;
  color: #777;
}

.selected-associate-item:hover {
  background: #f9852c;
  color: #000;
}

.selected-associate-item .remove-associate:hover {
  color: #ae5d1e;
}

/* Error message */

.errors {
  color: #fec6c7;
  background-color: #bc4b4a;
  border-left: 4px solid #fec6c7;
}

.errors li {
  color: #fff;
}

.errors a {
  background-color: #6b3030;
  padding: 2px 7px;
  color: #fff;
}

/* Success message */

.infos {
  color: #b8feee;
  background-color: #50a48f;
  border-left: 4px solid #b8feee;
}

.AddPluginSuccess label,
.DeactivatePluginSuccess label,
.RestorePluginSuccess label {
  color: #b8feee;
  background-color: #50a48f;
}

.AddPluginSuccess span,
.RestorePluginSuccess span,
.DeactivatePluginSuccess span {
  color: #b8feee;
}

.infos li {
  color: #fff;
}

.infos a {
  background-color: #28554a;
  padding: 2px 7px;
  color: #fff;
}

/* Warning message */

.warnings {
  color: #fedac0;
  background-color: #d47f44;
  border-left: 4px solid #fedac0;
}

.warnings a {
  background-color: #734627;
  padding: 2px 7px;
  color: #fff;
}

/* announcement message */

.messages {
  color: #bad6ff;
  background-color: #4f71a4;
  border-left: 4px solid #bad6ff;
}

.eiw .messages a {
  background-color: #273d5f;
  color: #fff;
  padding: 2px 7px;
}

/* Popin Jconfirm */

.jconfirm .jconfirm-box {
  background-color: #333 ;
}

.jconfirm-title {
  color: #777 ;
}

.jconfirmAlert .jconfirm-icon-c i {
  color: #c2f5c2 ;
  background-color: #0a0 ;
}

.jconfirmWarning .jconfirm-icon-c i {
  color: #ffa744 ;
  background-color: #ffe9cf ;
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn-default {
  color: #777 ;
  background-color: #222 ;
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn-default:hover {
  color: #222 ;
  background-color: #777 ;
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn-red,
.DeleteAlbumSubmit {
  background-color: #be4949 ;
}

.jconfirm .jconfirm-box.jconfirm-type-red,
.DeleteAlbumPopInContainer {
  border-top: 7px solid #be4949 ;
}
.jconfirm .jconfirm-box .jconfirm-buttons button.btn-red:hover,
.DeleteAlbumSubmit:hover {
  background: #6c2d2d ;
}

.jconfirm.jconfirm-modern .jconfirm-box .jconfirm-buttons button + button {
  background-color: #2e2e2e;
  color: #777;
}

.jconfirm.jconfirm-modern .jconfirm-box .jconfirm-buttons button + button:hover {
  background-color: #1b1b1b;
}

.jconfirm .jconfirm-box.loading::before {
  background: #333 ;
}

/* Tag Manager */

.tag-box,
.tag-header .selection-controller a,
.comments-selection-controller .comments-selection-btn {
  background-color: #333 ;
}

.tag-header #add-tag.input-mode .add-tag-label {
  background: transparent ;
  box-shadow: none;
  color: rgb(119, 119, 119) ;
}

.tag-container .tag-box p {
  color: #aaa;
}

.tag-header #add-tag.input-mode .add-tag-container input:hover {
  background-color: #222 ;
}


.tag-container.selection .tag-box[data-selected="1"] {
  background-color: #f9852c ;
  box-shadow: none;
}

.tag-container .tag-box[data-selected="1"] .select-checkbox,
.delete-size-check[data-selected="1"] .select-checkbox {
  background-color: #c76a23;
  border-color: #c76a23;
}

.tag-container .tag-box .tag-rename .tag-name-editable {
  background-color: #666;
  color: #fff;
  border-color: #333;
}

.tag-container .tag-box .tag-rename span {
  color: #d9d9d9;
}

.tag-select-message {
  background: #0051a57d;
  color: #bce5f7;
}

.tag-select-message a {
  background-color: #bce5f7;
  color: #0051a5;
}

.info-warning {
  background-color: #d47f44;
  color: #fedac0;
}

.info-warning a,
.info-message a,
.info-error a {
  color: #fff;
}

.info-error {
  color: #ffd5dc;
  background-color: #f22;
}

.tag-checkmark {
  color: #aaf6e4 ;
  background-color: #4ea590 ;
}

/* Album Move (and album search) */
.move-cat-container,
.search-album-elem {
  background-color: #333;
  box-shadow: none;
}

.cat-move-order-popin .order-popin-container {
  background-color: #444;
  color: #fff;
}

.cat-move-order-popin .album-name {
  color: #fff;
}

.cat-move-order-popin input[name="recursiveAutoOrder"] {
  background-color: #2e2e2e;
  color: #777;
}

.cat-move-order-popin input[name="recursiveAutoOrder"]:hover {
  background-color: #1b1b1b;
}

/* Album search */
.search-album-ghost div {
  background-image: linear-gradient(#333, #444);
}
.search-album-ghost span {
  background-color: #5a5757;
  color: #c1c1c1;
}

/* Icon colors */

.icon-red {
  color: #fec6c7;
  background: #bc4b4a;
}

.icon-yellow {
  color: #fedac0;
  background: #d47f44;
}

.icon-purple {
  background: #4e5aa3;
  color: #a1adf6;
}

.icon-blue {
  background: #4f71a4;
  color: #9fbef1;
}

.icon-blue-full {
  background-color: #4e71a5;
  border: 0;
  color: #a0c0f1;
}

.icon-green {
  background: #50a48f;
  color: #a9f6e3;
}

.icon-grey {
  color: #ccc;
  background: #888;
}

/* Popin Album Selector */
.linkedAlbumPopInContainer .ClosePopIn {
  color: #444;
}

.themeBox {
  background-color: #232323;
  box-shadow: 0 0 5px #333;
}

.pluginActionLevel1,
.themeActions a:nth-child(1) {
  background-color: #ffa646;
}

.themeActions a:nth-child(2),
.plugin-inactive .pluginContent .pluginActionLevel1 {
  background-color: #2e2e2e;
  color: #777;
}

.themeActions a:nth-child(2):hover {
  background-color: #1b1b1b;
  color: #777;
}

.pluginContent {
  border-left: solid 5px #ffa646;
}

.dropdown-option-content a {
  color: #3a3a3a;
}

.pluginUnavailableAction {
  background-color: #888;
  color: #666;
}

.pluginTypeFilter {
  display: flex;
  flex-direction: row;

  position: absolute;

  left: 225px;
  z-index: 2;

  transform: translateY(13px);
}

.tab-filters label,
.pluginTypeFilter label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: auto;
  height: 30px;
  padding: 0 10px;

  color: #c1c1c1;
  background: #555;
  box-shadow: 0 2px #0006;
}

.tab-filters label:hover,
.pluginTypeFilter label:hover {
  background: #1b1b1b;
}

.tab-filters input:checked + label,
.pluginTypeFilter input:checked + label {
  background: #ffa646;
  color: #444;
  box-shadow: 0 2px #925f00;
}

.tab-filters input:checked:hover + label,
.pluginTypeFilter input:checked:hover + label {
  background: #ffc17e;
}

.tab-filters input:checked + label .filter-badge,
.pluginTypeFilter input:checked + label .filter-badge {
  background-color: #d18800;
  color: #444;
}

.tab-filters input + label .filter-badge,
.pluginTypeFilter input + label .filter-badge {
  background-color: #3f3f3f;
  color: #bababa;
}

.pluginBox.plugin-active .pluginActionsSmallIcons a span {
  background: #ffa744 ;
  color: #3c3c3c ;
}

.pluginContainer.line .pluginBox:hover .pluginContent {
  transition: 0.4s;
  background: #333;
}

.pluginContainer.line .pluginBox:hover.plugin-inactive .slider {
  transition: 0.4s;
  background: #444;
}

.pluginContainer .pluginBox.plugin-inactive .slider {
  transition: 0.4s;
  background: #444;
}

.pluginContainer.line .pluginBox:hover .pluginContent .pluginActions a {
  /* color: #ffffff; */
  opacity: 1;
}

.pluginContainer.line .pluginBox.inactive:hover .pluginContent .pluginActions a {
  background: transparent;
  opacity: 1;
  color: #777;
}

.pluginContainer.line .pluginBox:hover .pluginUnavailableAction {
  opacity: 0.5 ;
}

.pluginContainer.line .pluginBox.plugin-inactive:hover .pluginUnavailableAction {
  color: #3c3c3c ;
  background: #dddd ;
}

.pluginBox.active .pluginActionsSmallIcons a span {
  background: #ffa500;
  color: #3c3c3c;
}

.pluginBox.active .pluginActionsSmallIcons a span:hover {
  color: #111;
}

.PluginActionError span {
  color: #ffd5dc;
}

.PluginActionError label {
  background-color: #f22;
  color: #ffd5dc;
}

.pluginTags > span {
  background-color: #444;
}

.pluginLink {
  color: #999;
}

.plugin-version {
  background-color: #ffa646;
  color: #493c21;
}

.plugin-version-old {
  background-color: #555;
  color: #bbb;
}

.addAlbum label {
  color: #aaa;
  margin: -5px 0;
}

.popin-title,
.cat-move-order-popin .album-name {
  color: #999;
}

.cat-move-order-popin .close-popin {
  color: #555;
}

.move-cat-container .move-cat-toogler {
  color: #ededed;
}

/* Album view selector css */

.AlbumViewSelector,
.UserViewSelector {
  background: #555 ;
}

.AlbumViewSelector label span {
  background: #555;
}

.AlbumViewSelector input:checked + label,
.UserViewSelector input:checked + label {
  background: transparent;
  color: #fff;
}

.AlbumViewSelector input:checked + label .icon-th-large,
.AlbumViewSelector input:checked + label .icon-th-list,
.AlbumViewSelector input:checked + label .icon-pause {
  color: #444;
}

.UserViewSelector input:checked + label .icon-th-large,
.UserViewSelector input:checked + label .icon-th-list,
.UserViewSelector input:checked + label .icon-pause {
  color: #493c21;
}

.icon-th-large,
.icon-th-list,
.icon-pause {
  color: #c1c1c1;
}

.head-button-1 {
  color: #444 ;
}

.head-button-1:hover {
  color: #444 ;
}

.head-button-2 {
  background-color: #333 ;
  box-shadow: 0 2px #0000007a ;
}

.head-button-2:hover {
  background-color: #222 ;
}


.user-first-col:hover {
  box-sizing: border-box;
  background-color: transparent;
}
.user-first-col:hover .icon-pencil {
  color: #ffa646;
}

.user-first-col:hover .select-checkbox {
  border: solid #ffa646 2px ;
  background-color: #ffa646 ;
}
.user-first-col .select-checkbox {
  border: solid #ffa646 2px ;
  background-color: transparent ;
}

/* Selected container in userManager */

.user-container.container-selected .user-container-checkbox.user-list-checkbox .select-checkbox {
  border: solid #ffa646 2px ;
  background-color: #ffa646 ;
}

.user-container:hover {
  background-color: #232323;
}

.user-container.container-selected {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #1b1b1b;
  font-weight: bold;
  border-radius: 10px;
  margin-bottom: 20px;
}

.user-container.container-selected .user-container-username {
  color: #777;
}

.user-container.container-selected .user-container-status,
.user-container.container-selected .user-container-registration-date-since {
  color: #777 ;
}

.user-container.container-selected .user-groups,
.user-container.container-selected .registration-clock {
  background-color: #c76a23;
  color: #faa96b;
  border: solid #c76a23 2px;
}

.user-groups {
  padding: 6px 15px ;
}

/****  */

.group-bonus {
  color: #ddd;
  background: transparent;
}

.advanced-filter-btn,
.advanced-filter {
  background-color: #2e2e2e;
  color: #777;
}

.advanced-filter-close {
  color: #777;
}

.user-action-select {
  background: transparent;
}

.user-property-select {
  background-color: #333;
  color: #c1c1c1;
}


.user-property-column-title,
.edit-username-title {
  color: #c1c1c1;
}

.user-property-button {
  color: #c1c1c1;
  background-color: #333;
}

.user-property-button a {
  color: #c1c1c1;
  /* text-decoration: none; */
}

.user-property-button a:hover {
  color: #f70;
  /* text-decoration: none; */
}

.user-property-input {
  color: #c1c1c1;
  background-color: #333;
}

.user-property-input[type="text"] {
  background-color: #333;
}

.user-property-register-visit .icon-calendar {
  color: #c1c1c1;
}

.edit-user-tab-title p:hover,
.guest-edit-user-tab-title p:hover {
  border-color: #323232;
}

.edit-user-icons .delete-user-button::before,
.princes-of-this-piwigo {
  color: #c1c1c1;
}

.royal-court-of-this-piwigo {
  color: #777;
}

.edit-password-success-reset-link,
.user-property-input-icon {
  background-color: #505050 ;
  color: #999 ;
}

.edit-password-success-ok .icon-button,
.user-property-main-user-close .icon-button {
  background-color: #333 ;
}

.edit-password-success-ok .icon-button:hover,
.user-property-main-user-close .icon-button:hover {
  color: #c1c1c1 ;
}

.main-user-proceed,
.main-user-rewrite,
.main-user-validate {
  color: #a4a4a4 ;
}

.update-container {
  border-top: solid 1px #333;
}


.password-choice-content .unavailable,
.password-choice-content .unavailable:hover {
  color: #777 ;
}

.password-choice-content .head-button-2,
.password-choice-content .head-button-2:hover {
  color: #cbcbcb;
}

.lineView .user-container-initials-wrapper > span {
  height: 31px ;
  width: 31px ;
}

.storage-chart span {
  opacity: 1;
}

.multiple-pictures-sizes,
.multiple-compiledTemplate-sizes,
.cache-size-value {
  background: #555;
  color: #c1c1c1;
}

/* Activity Tab in user manager */

.activity-select-title {
  color: #bbb;
}

.activity-date-selecter {
  background-color: #555;
  color: #d5d5d5;
}

.activity-filter-container {
  background-color: #555;
  color: #d5d5d5;
}

.start-date,
.end-date {
  padding: 5px 10px;
  background: #555;
  border-radius: 50px;
  margin: 5px;
  color: #bbb;
}

/* Strange why this is different from light mode */
.compactView .user-container-initials-wrapper > span {
  height: 40px ;
  width: 40px ;

  box-sizing: border-box;
}

.line {
  background: transparent;

  display: flex;
  flex-direction: row;

  height: 40px;

  align-items: center;

  margin-bottom: 10px;
  color: #bbb;
}

.line .detail-item {
  background: #555;
  margin: 0 10px 0 0;
  padding: 3px 6px;
  border-radius: 20px;

  min-width: 50px;
  max-width: 150px;

  text-align: center;

  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;

  white-space: nowrap;
}

.download_csv {
  height: 25px;
  width: 30px;
  background: #555;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #b8b8b8;
  cursor: pointer;
  border-radius: 5px;
}

.download_csv:hover {
  background: #777;
  color: #ddd;
}

.selectedAlbum .selectedAlbum-first {
  background-color: #333;
}

.selectedAlbum span a {
  color: #777 ;
}
.selectedAlbum span:first-child {
  background-color: #343434 ;
}

.AddUserErrors,
.update-user-fail,
.EditUserErrors,
.update-password-fail,
.icon-red-error {
  background-color: #f22;
  color: #ffd5dc;
  border-left: solid 3px #f22;
}

.AddUserPopInContainer {
  background-color: #444;
}

.AddUserSubmitContainer .AddUserCancel:hover {
  color: #ededed;
}

.AddUserPopInContainer .AddIconTitle {
  color: #c1c1c1;
}

.AddUserPopInContainer .AddUserLabel {
  color: #777;
}

.AddUserPopInContainer .AddUserInput {
  background-color: #333;
  border: solid 2px #151515;
}

#AddUserSuccess span {
  color: #a9f6e3;
}

#AddUserSuccess label {
  background-color: #50a48f;
  border-left: 2px solid #a9f6e3;
  color: #a9f6e3;
}

.update-container .close-update-button:hover {
  color: #ededed;
}

.update-user-success,
.update-password-success,
.update-username-success,
.border-green {
  border-left: 2px solid #a9f6e3;
}

.linked-albums-badge {
  background: #777;
  color: #333;
}

.breadcrumb-item {
  background-color: #333;
  box-shadow: 0 2px #0000007a;
  color: #777;
}
.breadcrumb-item:hover {
  background: #ffc17e;
}

.breadcrumb-item:hover .link-path a {
  color: #333;
}

.breadcrumb-item .icon-cancel-circled:hover {
  color: #ae5d1e;
}

.AddIconTitle,
.limitReached {
  color: #ccc;
}

.search-result-item {
  background-color: #333;
  box-shadow: 0 2px #00000070;
  color: #777;
}

.search-result-item .icon-plus-circled {
  color: #777;
}


.search-line {
  background: #333;
  color: #a1a1a1;
}

.search-line .date-section,
.search-line .user-section,
.search-line .type-section {
  border-right: 1px solid #252525;
}

.detail-item-1,
.detail-item-2,
.detail-item-3 {
  background: #252525;
}

.history-filter {
  background: #333 ;
  color: #a1a1a1;
  box-shadow: 0 2px 4px #00000024;
}

#start_unset,
#end_unset {
  color: #a1a1a1;
  text-decoration: none;
}

#start_unset:hover,
#end_unset:hover {
  color: #ffa646 ;
}

.hasDatepicker,
.elem-type-select {
  background: #252525 ;
  border-color: transparent ;
  color: #777;
}

.filter-title,
.remove-filter,
.filter-icon {
  color: #777;
  background: #252525;
  padding: 5px 0;
}

.applicationCard {
  box-shadow: -1px 1px 2px #1a1a1a;
  background: #333;
}

.applicationCard .applicationDesc {
  color: #bbb;
}

.breadcrumb-item.add-item:hover {
  color: #777;
  background-color: #222;
}

.breadcrumb-item.add-item.highlight {
  background: #f7a43c;
  box-shadow: 0 2px #af7200;
  color: #493c21 ;
}

.breadcrumb-item.add-item.highlight:hover {
  background-color: #f70;
}

.badge-dropdown {
  background: #333;
}
.badge-dropdown::after {
  border-color: transparent transparent #333;
}

.cat-modify-ariane a.icon-sitemap::after {
  background-color: #111;
}

.cat-modify-footer-see-out,
.savebar-see-out,
.buttonSecond {
  background-color: #2e2e2e;
  color: #777;
}

.cat-modify-footer-see-out:hover,
.savebar-see-out:hover {
  background-color: #1b1b1b;
  color: #777;
}

.cat-modify-footer-see-out:focus {
  border: 2px solid #777;
  background: #1b1b1b;
}

.cat-modify-footer-see-out.disabled {
  background: #5d5d5d;
  color: #373737;
}

.see-out.disabled p {
  background-color: #5d5d5d ;
  color: #373737 ;
}

/* album-tree (vanilla TS) overrides */

.pwgtree-moving .move-cat-container {
  background-color: #232323 ;
}

.pwgtree-moving .move-cat-container .badge-container i.icon-green,
.pwgtree-moving .move-cat-container .node-icon.icon-green {
  background: #50a48f;
  color: #a9f6e3;
}

.pwgtree-moving .move-cat-container .badge-container i.icon-blue,
.pwgtree-moving .move-cat-container .node-icon.icon-blue {
  background: #50a48f;
  color: #a9f6e3;
}

.pwgtree-moving .move-cat-container .badge-container i.icon-purple,
.pwgtree-moving .move-cat-container .node-icon.icon-purple {
  background: #4e5aa3;
  color: #a1adf6;
}

.pwgtree-moving .move-cat-container .badge-container i.icon-red,
.pwgtree-moving .move-cat-container .node-icon.icon-red {
  color: #fec6c7;
  background: #bc4b4a;
}

.pwgtree-moving .move-cat-container .badge-container i.icon-yellow,
.pwgtree-moving .move-cat-container .node-icon.icon-yellow {
  color: #fedac0;
  background: #d47f44;
}

.pwgtree-moving .move-cat-container .icon-yellow,
.pwgtree-moving .move-cat-container .icon-red,
.pwgtree-moving .move-cat-container .icon-purple,
.pwgtree-moving .move-cat-container .icon-blue,
.pwgtree-moving .move-cat-container .icon-green {
  opacity: 0.6 ;
}

.comment-container {
  background-color: #333;
  border-color: #ffa646;
}

.comment-validated {
  border-color: #232323 ;
}

.comment-author,
.comment-date {
  color: #aaa;
}

.comment-validate {
  background-color: #ffa646;
}

.comment-delete {
  background-color: #232323;
}

.comment-delete:hover {
  background-color: #111;
}

.comment.comment-selected .comment-content {
  background-color: #1b1b1b;
}

.comments-container.active .comment-content:hover {
  background-color: #1b1b1b;
}

.buttonSecondary {
  color: #3c3c3c;
  background-color: #232323;
}

.buttonSecondary:hover {
  color: #3c3c3c;
  background-color: #111;
}

/* Cat modify description modal */
.modal-content,
.desc-modal-content,
.new-album-modal-content {
  background-color: #444;
}

.desc-modal-body textarea {
  background-color: #333 ;
}

/* Batch manager, unit mode */

.elementEdit {
  background-color: #555;
}

.main-info-block {
  border: 1px solid #333;
  background: #333;
}

.main-info-desc {
  color: #777;
}

.main-info-title {
  color: #c1c1c1;
}

.bottom-save-bar {
  background-color: #444;
  border-top: 1px solid #666;
}

.media-box {
  background-color: #1c1c1c;
}

.full-line-info-box input,
.half-line-info-box input,
.half-line-info-box select,
.full-line-tag-box select,
.calendar-input,
.description-box {
  border: 1px solid #474747;
  background-color: #333 ;
  color: #757575;
}

.full-line-info-box,
.half-line-info-box,
.calendar-box,
.full-line-description-box,
.full-line-tag-box {
  color: #a4a4a4;
}

.calendar-input input {
  background-color: #333 ;
}

.pictureIdLabel {
  color: #c1c1c1;
}

.badge-unsaved {
  background-color: #fadda2;
  color: #e18c32;
}

.badge-succes {
  background-color: #aaf6e4;
  color: #4ea590;
}

.badge-error {
  background-color: #be4949;
  color: #ffc8c8;
}

.first-letter-capitalize::first-letter {
  text-transform: uppercase;
}

#whats_new_popin {
  background-color: #3c3c3c;
}

.close_whats_new {
  color: #3c3c3c;
}

#whats_new button {
  background-color: #2e2e2e;
  color: #777;
}

#whats_new button:hover {
  background-color: #1b1b1b;
}

.certification[data-certification="-1"] {
  background-image: url("images/certification/CertificationWarningDM.svg") ;
}

/* Filters options */
.select-views {
  background-color: #444;
  color: #898888;
  border: 1px solid #666;
}

.filter-manager-options-container {
  background-color: #333;
  color: #aaa;
  border-color: #333;
}

.filter-manager-options-container:hover {
  background-color: #5d5d5d;
}

.filter-manager-options-container.selected-filter-container {
  background-color: #777;
  color: #ddd;
}

.filter-manager-options-container.selected-filter-container:hover {
  background-color: #aaa;
}

label:has(> .filters-icon-check:disabled) {
  color: #555;
}

.comments-advanced-filter .advanced-filter-btn {
  box-shadow: 0 2px #333;
}

.comments-search {
  background-color: #333 ;
}

.comments-search:hover {
  background-color: #222 ;
}

.comments-search input:focus {
  outline: none;
}
