/* Add photos, direct mode */
#uploadBoxes p {
    margin: 0;
    margin-bottom: 2px;
    padding: 0;
}

#batchLink {
    text-align: center;
}

.category_selection {
    min-height: 65px;
    margin-top: 5px;
}

.category_selection table {
    margin: 0;
}

#photosAddContent {
    text-align: left;
}

#photosAddContent p {
    margin: 0;
}

#photosAddContent th {
    text-align: right;
    padding-right: 5px;
}

#uploadFormSettings input[type="text"] {
    text-align: right;
}

#uploadFormSettings th {
    width: 50%;
}

html,
body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

#the_page {
    min-height: 100%;
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
}

#pwgMain {
    padding: 0;
}

#theAdminPage #footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 205px;
    height: 40px;
    z-index: 99;
    background-color: transparent;
}

#footer a.piwigo-logo img {
    width: 120px;
    margin-top: 7px;
}

#footer a {
    color: #ccc;
}

#footer a:hover {
    color: #fff;
}

#adminHome {
    margin-top: 20px;
    line-height: 30px;
    width: 200px;
    margin-left: 6px;
}

a.admin-main {
    color: #aaa;
    display: block;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

a.admin-main:hover {
    color: #fff;
}

#piwigoInfos {
    float: left;
    margin-left: 140px;
}

#pageInfos {
    display: none;
}

