/* Album Manager */
#addAlbumForm {
    text-align: left;
    padding: 1em;
}

#addAlbumForm input[name="category_name"] {
    width: 565px;
    padding: 8px;
}

#formCreateAlbum input[name="virtual_name"] {
    width: 300px;
    border-radius: 3px;
}

.move-cat-container:hover {
    background-color: var(--admin-accent-selected-bg);
}

/* Move Album */
.cat-move-header {
    display: flex;
    margin: 0 20px;
    align-items: center;
    font-size: 14px;
    margin-top: 20px;
}

.cat-move-header .order-root::before {
    font-size: 13px;
}

.cat-move-header .cat-move-info {
    margin-left: auto;
}

.cat-move-header .cat-move-info::before {
    color: grey;
    font-size: 20px;
}

.cat-move-header .cat-move-info .spinner {
    position: absolute;
    left: calc(100% + 6px);
    font-size: 20px;
    display: none;
}

.tree {
    margin: 20px;
    padding-top: 1px;
}

.move-cat-container {
    display: flex;
    align-items: center;
    box-shadow: 0 2px 3px #00000024;
    background-color: #fafafa;
    border-radius: 5px;
    color: #777;
    padding: 5px 10px;
    padding-left: 28px;
}

.move-cat-container .icon-grip-vertical-solid {
    font-size: 16px;
    opacity: 0.3;
    position: absolute;
    left: 6px;
}

.move-cat-container .icon-folder-open,
.move-cat-container .icon-sitemap.node-icon {
    display: inline-block;
    border-radius: 50%;
    font-size: 20px;
    padding: 8px;
    margin: 5px;
}

.move-cat-container .icon-lock {
    font-size: 16px;
    margin-left: 0;
}

.move-cat-container .move-cat-title {
    font-size: 16px;
    margin: 10px;
    max-width: 600px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 600;
}

.move-cat-title-container {
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.move-cat-title-container:hover {
    cursor: pointer !important;
}

.move-cat-title-container .icon-pencil {
    display: none;
    font-size: 16px;
}

.move-cat-title-container:hover .icon-pencil {
    display: flex !important;
}

.move-cat-container .move-cat-toggler {
    display: flex;
    color: #ffbd4d;
    margin-left: 5px;
    align-items: center;
    cursor: pointer;
    z-index: 2;
    font-weight: 600;
}

.move-cat-container .move-cat-toggler .icon-left-open {
    transform: rotate(180deg);
}

.move-cat-container .move-cat-toggler {
    color: #f70;
    transform: scale(1.4);
}

.move-cat-action-cont {
    display: flex;
    position: absolute;
    right: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transform: translate(50%, -50%);
    align-items: center;
    flex-direction: row-reverse;

    /* overflow: hidden; */
}

.move-cat-action {
    display: flex;
    align-items: center;
    max-width: 60%;
    height: 100%;
}

.move-cat-action a {
    padding: 21px 8px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
}

.move-cat-action a:last-child {
    margin-right: 12px;
}

.move-cat-action a:hover {
    color: var(--admin-text);
    text-decoration: none;
    background: #f98100;
}

.cat-move-order-popin {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.7);
    display: none;
}

.cat-move-order-popin .order-popin-container {
    background-color: var(--admin-bg-content);
    border-radius: 10px;
    display: block;
    width: 25%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -48%);
    text-align: left;
    padding: 30px;
    min-width: 360px;
}

.cat-move-order-popin .popin-title .icon-sort-name-up::before {
    display: inline !important;
}

.cat-move-order-popin .popin-title .icon-sort-name-up,
.cat-move-order-popin .popin-title-text {
    display: inline-block;
}

.cat-move-order-popin .popin-title-text::first-letter {
    text-transform: capitalize;
}

.cat-move-order-popin .album-name {
    font-size: 14px;
    color: var(--admin-text-on-accent);
    font-weight: 600;
    text-align: center;
}

.cat-move-order-popin .choice-container {
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
}

.cat-move-order-popin label {
    position: relative;
    padding: 5px;
}

.cat-move-order-popin input[type="radio"] {
    opacity: 0;
}

.cat-move-order-popin input[type="submit"] {
    width: 100%;
    margin: 10px 0;
}

.cat-move-order-popin input[name="recursiveAutoOrder"] {
    background-color: #d9d9d9;
}

.cat-move-order-popin input[name="recursiveAutoOrder"]:hover {
    background-color: #ffc17e;
}

.cat-move-order-popin .close-popin {
    position: absolute;
    right: -40px;
    top: -40px;
    font-size: 30px;
    color: white;
}

.cat-move-order-popin .close-popin:hover {
    color: #ffa646;
}

.popin-title {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 15px;
    color: #3c3c3c;
    white-space: nowrap;
}

.popin-title span {
    padding: 7px;
    border-radius: 25px;
    font-size: 15px;
    margin-right: 10px;
}

/* .addAlbumEmptyCenter {position: relative; margin: auto; height: calc(100vh - 280px);} */
.addAlbumEmptyTitle {
    font-size: 35px;
    font-weight: bold;
}

.addAlbumEmptyInfos {
    font-size: 14px;
    margin-bottom: 25px !important;
    margin-top: 5px !important;
}

.addAlbumEmpty a {
    display: inline-block;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 14px;
}

.addAlbumEmpty a:hover {
    text-decoration: none;
}

.addAlbumEmpty a::first-letter {
    text-transform: capitalize;
}

#cboxLoadedContent {
    height: auto !important;
    padding: 20px !important;
}

.buttonSeparator {
    font-weight: bold;
    text-transform: uppercase;
}

.popinButtons {
    text-align: right;
    margin-top: 24px;
}

.popinButtons input[type="submit"] {
    margin-right: 0;
}

#albumCreationLoading {
    background-color: #ffa744;
    color: #3c3c3c;
    font-size: 12px;
    border: none;
    padding: 12.2px 28.4px;
    font-weight: bold;
    display: none;
}

.popinField {
    margin-top: 30px;
}

.popinField.addAlbumFormParent {
    margin-top: 0;
}

.popinFieldLabel {
    display: block;
    margin-bottom: 5px;
}

.selectedAlbum {
    margin-top: 10px;
    margin-left: 5px;
}

.selectedAlbum span {
    padding: 10px 12px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    border-radius: 7px;
    background-color: #f5f5f5;
}

.selectedAlbum span.icon-sitemap::before,
.afterUploadActions a.batchLink.icon-pencil::before,
.afterUploadActions a.icon-plus-circled::before {
    margin-right: 12px;
}

#addFiles i::before {
    margin-left: 13px;
    font-size: 15px;
}

.permitActionListButton .actionButtons {
    display: flex;
    flex-direction: column;
}

.filterBlock {
    display: flex;
    flex-direction: column;
}

.filterBlock li {
    width: 300px;
    height: auto;
}

#filter_dimension {
    width: 600px;
}

#filter_dimension .slider-choice,
#filter_filesize .slider-choice {
    border-radius: 4px;
    padding: 2px 8px;
    margin: 0 3px;
}

#checkActions a {
    background-color: #f0f0f0;
    padding: 10px;
    color: #777;
    font-weight: bold;
    margin: 4px;
    border-radius: 5px;
}

#checkActions a:hover {
    background-color: #ddd;
    color: #3a3a3a;
    text-decoration: none !important;
}

#checkActions span {
    font-weight: bold;
    color: #555;
}

#filterList select {
    display: block;
    padding: 10px 18px;
    margin-bottom: 5px;
    width: 290px;
}

#filterList li {
    margin-left: 25px;
    margin-bottom: 15px;
}

#applyFilter,
.addFilter-button {
    margin-left: 0;
    float: left;
    height: 45.6px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    transition: ease 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

#applyFilter.activated {
    background-color: #ffa646;
    color: #3c3c3c;
}

#removeFilters {
    margin-top: 20px;
    margin-left: 13px;
}

.filter_search_input {
    padding: 10px 0;
    width: 300px;
}

#permitAction {
    display: flex;
}

#permitAction select {
    padding: 12px 10px;
    width: 280px;
    appearance: none;
}

.permitActionItem select {
    margin-bottom: 25px;
}

#applyAction {
    padding: 10px 18px;
    margin-left: 0;
}

.permitActionItem {
    margin-left: 30px;
    width: 225px;
}

#action_associate {
    display: flex;
}

#action_associate a:last-child {
    margin-left: 15px;
    padding: 10px;
}

#applyAction i {
    margin-right: 15px;
}

#action_delete_derivatives,
#action_generate_derivatives {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
}

.deleteDerivButtons a {
    border-radius: 4px;
    padding: 4px 10px;
    margin: 5px;
}

.deleteDerivButtons {
    margin-bottom: 15px;
    margin-right: 51px;
    width: 100%;
    text-align: center;
}

#action_delete_derivatives label,
#action_generate_derivatives label {
    display: flex;
    margin-top: 4px;
    width: 50%;
}

#action_delete_derivatives input[name="del_derivatives_type[]"],
#action_generate_derivatives input[name="generate_derivatives_type[]"] {
    margin-right: 3px;
}

.actionButtons:first-child::after,
#filter_prefilter::before,
#filter_category::before,
#filter_level::before,
.permitActionListButton div::before,
#action_level::after,
.pictureLevels::before,
.user-property-select-container::before,
.sort-by .select-container::before {
    content: "\e835";
    font-size: 17px;
    position: absolute;
    font-family: fontello, sans-serif;
    color: #6e6e6e;
    pointer-events: none;
}

.permitActionListButton div::before {
    margin-left: 250px;
    margin-top: 11px;
}

.pictureLevels::before {
    margin-left: 216px;
    margin-top: 10px;
}

.permitActionListButton div.hidden::after {
    display: none;
}

.user-action-select-container::before {
    top: 5px;
    right: 10px;
}

.user-property-select-container::before {
    margin-top: 10px;
    margin-left: 270px;
}

#filter_prefilter::before {
    margin-left: 257px;
    margin-top: 35px;
}

#filter_category {
    width: 600px;
}

#filter_category::before {
    margin-left: 565px;
    margin-top: 33px;
    z-index: 2;
}

#filter_level::before {
    margin-top: 34px;
    margin-left: 260px;
}

#batchManagerGlobal #action_level::after {
    margin-top: -56px;
    margin-left: 254px;
}

#filter_search input {
    width: 300px;
    box-sizing: border-box;
    padding: 11px 18px;
}

#applyFilter,
#addFilter,
#filterList select,
.pictureLevels select,
#permitAction select,
.sort-by select {
    font-family: "Open Sans", "Lucida Grande", Verdana, Arial,
        "Bitstream Vera Sans", sans-serif;
    appearance: none;
    font-weight: 700;
}

#action_date_creation input,
#action_title input,
#action_author input {
    margin-right: 4px;
}

#set_date_creation label {
    position: relative;
}

#set_date_creation i {
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translate(6px, -50%);
    opacity: 0.6;
}

#set_date_creation input {
    background-color: #f8f8f8;
    padding: 8px;
    padding-left: 35px;
    border-radius: 4px;
    border-color: #ddd;
}

#set_date_creation {
    margin-top: 5px;
    margin-left: -2px;
}

#action_title .large,
#action_author .large {
    padding: 12px 10px;
    border: 1px solid #787777a6;
    margin-bottom: 8px;
}

.pageNumberSelected {
    background-color: #ffaf58 !important;
    border: none !important;
    border-radius: 0 !important;
}

#batchManagerGlobal ul.thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 30px;
}

#batchManagerGlobal ul.thumbnails .actions .icon-plus.cboxElement {
    background-color: transparent;
    padding: 0;
    box-shadow: none;
    font-size: initial;
    margin-bottom: 0;
}

#batchManagerGlobal ul.thumbnails .wrap2 {
    width: 110px !important;
    height: 110px !important;
}

#batchManagerGlobal ul.thumbnails img {
    margin-top: 0;
    width: 110px;
    height: 110px;
    border: 1px solid transparent;
}

#batchManagerGlobal ul.thumbnails .wrap2 .icon-pencil {
    font-size: 15px;
    margin-left: 4px;
}

#batchManagerGlobal ul.thumbnails .wrap2 .icon-plus {
    margin-right: 2px;
}

#batchManagerGlobal li .font-checkbox [class*="icon-check"] {
    height: 20px;
    width: 20px;
    border-radius: 100%;
}

#batchManagerGlobal
    li.thumbSelected
    .font-checkbox
    [class*="icon-check"]::before {
    content: "\E819";
    display: none;
    animation: icon-check-animation 0.4s ease-out;
}

@keyframes icon-check-animation {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }

    75% {
        transform: translate(-50%, -50%) scale(1.3);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

#batchManagerGlobal li.thumbSelected .font-checkbox [class*="icon-check"] {
    background-color: #fea744;
    border: solid 2px #fea744;
}

#batchManagerGlobal .thumbSelected span.icon-check {
    display: block;
    z-index: 1;
}

#batchManagerGlobal .thumbnails .wrap1 .icon-check-empty::before {
    content: "\E823";
}

#batchManagerGlobal .thumbnails .font-checkbox [class*="icon-check"]::before {
    font-size: 17px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#batchManagerGlobal ul.thumbnails .wrap2 .icon-pencil:hover,
#batchManagerGlobal ul.thumbnails .wrap2 .icon-zoom-square:hover {
    color: #fea744;
}

#batchManagerGlobal .deleteDerivButtons a:hover,
#batchManagerGlobal #checkActions a:hover {
    background-color: #ddd;
    color: #3a3a3a;
    text-decoration: none;
}

#batchManagerGlobal .thumbSelected img {
    filter: brightness(60%);
}

#batchManagerGlobal
    li.thumbSelected:hover
    .font-checkbox
    [class*="icon-check"]::before {
    display: block;
}

#forbidAction {
    text-align: center;
    font-weight: 600;
    padding: 25px 0;
    background-color: #f3f3f3;
}

.selectionEmptyBlock {
    text-align: center;
    font-weight: 600;
    padding: 90px 0;
}

#duplicates_options {
    display: flex;
    flex-direction: column;
}

#batchManagerGlobal .thumbnails .wrap2 .icon-zoom-square::before {
    font-size: 15px;
    margin-top: 2.9px;
    margin-right: 7px;
}

#progressBar_pbImage {
    width: 300px !important;
    border-radius: 15px;
    height: 8px !important;
    margin-top: 5px !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
}

#regenerationMsg {
    width: 360px;
}

#progressBar {
    display: flex;
}

#progressBar_pbText {
    margin-left: 15px;
}

#filter_search .icon-help-circled::before {
    margin-right: 5px;
    color: #777;
}

.dimensionSlidersBlocks {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.dimensionSlidersTitleButtons,
.dimensionSlidersRatioButtons {
    display: flex;
    justify-content: space-between;
}

.dimensionSlidersTitleButtons {
    margin-bottom: 5px;
}

.dimensionSlidersRatioButtons {
    margin-bottom: 15px;
}

#action_delete .errors {
    display: block;
    min-height: initial;
    margin: 10px 0 0;
}

#batchManagerGlobal .font-checkbox.selected span:first-child::before {
    content: "\f192";
}

#action_delete_derivatives .font-checkbox span,
#action_delete_derivatives .font-checkbox span {
    margin-right: 5px;
}

#action_generate_derivatives,
#action_delete_derivatives {
    width: 320px;
}

/* album manager */
.selectedAlbum.cat-list-album-path {
    margin: 30px 0;
}

.icon-toggle-off::before {
    font-weight: 600;
}

.disabledToggle .move-cat-toggler {
    color: gray;
    opacity: 0.5;
    pointer-events: none;
}

/* album search */

.search-album {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-bottom: 25px;
}

.search-album-cont {
    position: relative;
    display: flex;
    align-items: center;
}

.search-album-label {
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
}

.search-album-num-result {
    margin-left: 10px;
}

.search-album-input-container {
    position: relative;
    display: inline;
}

.search-album-input-container .search-icon {
    font-size: 20px;
}

.search-album-help {
    display: none;
    cursor: help;
    font-size: 20px;
}

.search-album-help,
.search-album-num-result {
    position: absolute;
    right: 0;
    transform: translateX(calc(100% + 10px));
}

.search-album-ghost,
.search-album-result {
    display: flex;
    flex-direction: column;
}

.search-album-elem,
.search-album-ghost div {
    height: 64px;
    border-radius: 5px;
    margin: 10px 20px;
    overflow: hidden;
}

.search-album-ghost div {
    background: #f3f3f3;
    background-image: linear-gradient(0.25turn, #eee, rgb(250, 250, 250));
    background-attachment: fixed;
}

.search-album-ghost span {
    text-align: center;
    font-weight: 600;
    padding: 90px 0;
    background-color: #f3f3f3;
    color: #c1c1c1;
    margin: 1em;
}

.search-album-elem {
    box-shadow: 0 2px 3px #00000024;
    background-color: #fafafa;
    border-radius: 5px;
    color: #777;
    padding-left: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.search-album-elem span {
    font-size: 20px;
    padding: 8px;
    display: inline-block;
    border-radius: 50%;
}

.search-album-elem p {
    font-size: 16px;
    margin: 10px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75%;
    direction: rtl;
    text-align: left;
}

.search-album-action-cont {
    display: none;
    position: absolute;
    right: 0%;
    top: 50%;
    height: 100%;
    transform: translate(0, -50%);
    align-items: center;
    flex-direction: row-reverse;
    overflow: hidden;
}

.search-album-elem:hover .search-album-action-cont {
    display: flex;
}

.search-album-action {
    display: flex;
    align-items: center;
}

.search-album-action a {
    padding: 30px 15px;
    font-weight: bold;
    cursor: pointer;
    height: 100%;
    border-left: 1px solid #00000012;
    background-color: #00000003;
    text-align: center;
}

.search-album-action a:hover {
    color: #444;
    text-decoration: none;
    background-color: #ffa646;
}

.search-album-noresult {
    opacity: 0.3;
    text-align: center;
    width: calc(100% - 205px);
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top: calc(50% + 200px / 2);
    display: none;
}

.doubleSelect {
    width: 100%;
}

.doubleSelect td {
    width: 50%;
}

#cancelUpload {
    margin-left: 10px;
    background-color: #999;
}

#cancelUpload:hover {
    background-color: #ff9b32;
    color: white;
    text-decoration: none;
}

.doubleSelect p {
    display: flex;
    justify-content: center;
}
