  .ts-control .item,
  .ts-control .item.active {
    background-image: none !important;
    background-color: #ffa646 !important;
    border-color: transparent !important;
    color: black !important;

    border-radius: 20px !important;
  }

  .ts-control .item .remove,
  .ts-control .item .remove {
    background-color: transparent !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    color: black !important;

    border-left: 1px solid transparent !important;

  }

  .ts-control .item .remove:hover,
  .ts-control .item .remove:hover {
    background-color: #ff7700 !important;
  }

  .thumb {
    float: right;
  }
