.rating-album-filter-select {
  width: 400px;
}
.rating-submit-row {
  margin: 10px 0 0;
}
.rating-table {
  width: 99%;
}
.rating-table .sum-rate-cell {
  border-right: 1px solid;
}
.rating-rates-table {
  width: 100%;
}
