/* UserList Pop in */

.CloseUserList {
    position: absolute;
    right: -40px;
    top: -40px;
    font-size: 30px;
}

#UserList {
    display: none;
}

.UserSearch {
    width: 220px;
    margin-top: 4px;
}

.UserListPopIn {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.7);
}

.UserListPopInContainer {
    display: block;
    width: 1100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -48%);
    text-align: left;
    padding: 30px;
}

.group-name-block {
    margin-bottom: 20px;
}

#UserList .group-name-block span,
#UserList .group-name-block p,
#UserList .group-name-block .UserNumberBadge {
    display: inline-block;
}

#UserList .group-name-block p {
    color: #3c3c3c;
    font-weight: 700;
    font-size: 15px;
    margin-left: 10px;
}

#UserList .group-name-block span {
    padding: 7px;
    color: rgb(44, 132, 195);
    background-color: #cde9fd;
    border-radius: 25px;
    font-size: 15px;
}

#UserList .group-name-block .UserNumberBadge {
    padding: 3px 9px;
    border-radius: 15px;
    background-color: rgb(44, 132, 195);
    color: #cde9fd;
    font-size: 10px;
    margin-left: 10px;
    font-weight: 700;
}

#UserList .UserListAddFilterUsers {
    Position: relative;
}

#UserList .AddUserBlock {
    padding: 10px 0;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

#UserList .FilterUserBlock {
    position: absolute;
    right: 0;
    top: 15px;
    display: flex;
}

.FilterUserBlock .search-user {
    position: relative;
}

.AddUserErrors,
.update-user-fail,
.AddAlbumErrors {
    background-color: #ffcfcf;
    color: #ff5252;
    border-left: solid 3px red;
}

#AddUserSuccess span {
    color: #0a0;
}

#AddUserSuccess label {
    background-color: #c2f5c2;
    border-left: 2px solid #0f0;
    color: #0a0;
}

.update-user-success {
    border-left: 2px solid #0f0;
}

#UserList .AddUserBlock p,
#UserList .AddUserBlock select,
#UserList .AddUserBlock button {
    display: inline-block;
    margin: 0 5px;
}

#UserList .AddUserBlock select {
    padding: 11px 10px;
}

#UserList .AddUserBlock button {
    font-size: 12px;
    font-weight: 700;
    padding: 16px 10px;
    border: none;
    margin-top: 1px;
}

#UserList .AddUserBlock p {
    font-size: 15px;
    margin-left: 0;
}

#UserList .FilterUserBlock span,
#UserList .FilterUserBlock p,
#UserList .FilterUserBlock input {
    display: inline-block;
}

#UserList .FilterUserBlock p {
    font-size: 15px;
    margin-right: 5px;
}

.UsersInGroupList {
    text-align: center;
}

.UsernameBlock {
    margin: 5px 10px;
    display: inline-block;
    margin-left: 0;
    position: relative;
    padding: 0 10px;
    border-radius: 25px;
}

.UsersInGroupListContainer {
    max-height: 315px;
}

.UsersInGroupList p,
.UsersInGroupList span {
    display: inline-block;
}

.UsersInGroupList span {
    border-radius: 25px;
    padding: 3px;
    font-size: 12px;
}

.UsersInGroupList .icon-cancel:hover {
    cursor: pointer;
}

.Tooltip {
    position: relative;
    display: inline-block;
}

.Tooltip p.TooltipText {
    visibility: hidden;
    width: 157px;
    background-color: #f3f3f3;
    color: #3c3c3c;
    text-align: left;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #3c3c3c;
    font-weight: 700;
    font-size: 10px;
    position: absolute;
    top: 10px;
    left: 20px;
    transition: opacity 0.3s;
    z-index: 101;
}

.Tooltip:hover p.TooltipText {
    visibility: visible;
}

.ValidationUserAssociated {
    display: inline-block;
    font-size: 12px;
    text-align: left;
    padding: 4px 6px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -5px;
    margin-right: 10px;
}

.ValidationUserAssociated p {
    margin: 0;
}

.ValidationUserDissociated {
    display: inline-block;
    text-align: left;
    padding: 6px;
    border-radius: 30px;
    margin-left: 8px;
}

.ValidationUserDissociated p {
    margin: 0 !important;
    font-size: 12px !important;
    font-weight: 500 !important;
}

#UserList .FilterUserBlock .AmountOfUsersShown {
    display: inline-block;
    font-style: italic;
}

#UserList .FilterUserBlock .AmountOfUsersShown p {
    font-size: 12px;
}

.LinkUserManager {
    text-align: center;
    font-weight: 700;
    padding-top: 20px;
}

/*******  */

p.list_user {
    text-align: center;
    max-height: 200px;
    overflow: auto;
    margin: 0;
}

a.group_perm {
    position: absolute;
    bottom: 10px;
    right: 15px;
}

a.group_users {
    position: absolute;
    bottom: 10px;
    left: 15px;
}

#userList .openUserDetails {
    visibility: hidden;
}

#userList tr:hover .openUserDetails {
    visibility: visible;
}

#userList .icon-cancel-circled {
    visibility: visible;
}

#userList_length {
    float: none;
}

#userList_filter {
    margin-top: -20px;
}

.dataTables_info,
.dataTables_length {
    padding-left: 1em;
}

.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_paginate {
    margin-right: 1em;
}

.userProperties {
    max-width: 730px;
}

.userPropertiesContainer {
    border-top: 1px solid #ddd;
    margin-top: 1em;
}

.userPropertiesSet {
    width: 350px;
    float: left;
    padding-top: 5px;
}

.userPropertiesSetTitle {
    font-weight: bold;
    margin-bottom: 1em;
}

.userPrefs {
    border-left: 1px solid #ddd;
    padding-left: 10px;
}

.userProperty {
    width: 340px;
    float: left;
    margin-bottom: 15px;
}

.userActions {
    float: right;
    text-align: right;
}

.user_form_popin {
    width: 750px;
    height: 450px;
    padding: 20px;
}

.userProperties form {
    text-align: left;
}

.popinWait {
    padding-top: 200px;
}

.preview-box.icon-zoom-in {
    display: block;
    position: relative;
}

.preview-box.icon-zoom-in::before {
    opacity: 0;
    position: absolute;
    margin: -22px 0 0 -22px;
    top: 50%;
    left: 50%;
    font-size: 50px;
    line-height: 50px;
    color: white;
    z-index: 100;
    text-shadow: 0 0 20px rgb(0, 0, 0, 0.4);
    transition: opacity 200ms ease;
}

.preview-box.icon-zoom-in:hover::before {
    opacity: 0.9;
}

.preview-box.icon-zoom-in img {
    opacity: 1;
    transition: opacity 200ms ease;
    max-width: 100%;
}

.preview-box.icon-zoom-in img.svg-image {
    height: 100%;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.preview-box.icon-zoom-in:hover img {
    opacity: 0.5;
}

/* See in the gallery - Photo page */
.see-out {
    display: block;
    width: 100%;
    height: 100%;
}

.see-out::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: rgb(0, 0, 0, 0);
    transition: background 0.3s ease-in-out;
}

.see-out:hover::after {
    background: rgb(0, 0, 0, 0.301);
}

.see-out p {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    margin: unset;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease-in-out, transform 0.3s ease-in-out;
    background-color: #ffa744;
    color: #3c3c3c;
    padding: 8px 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.see-out p:hover {
    background-color: #f70;
}

.see-out:hover p {
    opacity: 1;
    transform: translate(-50%, -60%);
}

.see-out p i {
    font-size: 12px;
    line-height: 12px;
    vertical-align: 1px;
}

.see-out p i::before {
    margin: unset;
    margin-right: 4px;
}

.see-out.disabled {
    cursor: not-allowed;
}

.see-out.disabled p {
    background-color: #ececec;
    color: #b8b8b8;
}

/* Edit user popin */

.user_form_popin .ui-slider-horizontal .ui-slider-handle {
    background-color: #ffa646;
    border-radius: 25px;
    border: 1px solid #818181;
}

.user_form_popin .ui-slider-horizontal .ui-slider-range-min {
    background-color: #818181;
    border-radius: 25px;
}

.user_form_popin .ui-slider-horizontal {
    background-color: #e3e3e3;
    border: none;
    border-radius: 25px;
}

/* table in help/quick_search.html */
table.qsearch_help_table {
    border-collapse: collapse;
    text-align: left;
    margin: 1em;
}

table.qsearch_help_table q {
    font-family: Courier, Fixed, monospace;
    font-weight: bold;
}

table.qsearch_help_table q::before {
    content: "'";
    color: green;
}

table.qsearch_help_table q::after {
    content: "'";
    color: green;
}

table.qsearch_help_table td {
    border: 1px solid #ccc;
    padding: 5px;
    vertical-align: top;
}

.font-checkbox [class*="icon-check"]::before {
    font-size: 16px;
    line-height: 16px;
    margin-right: 0;
    margin-left: 0;
}

.font-checkbox .icon-check-empty {
    position: relative;
    left: -1px;
}

.font-checkbox input[type="checkbox"],
.font-checkbox input[type="radio"] {
    display: none;
}


/* View selectors css (colors) */

.AlbumViewSelector,
.UserViewSelector {
    background: #fafafa !important;
}

.AlbumViewSelector input:checked + label,
.UserViewSelector input:checked + label {
    background: transparent;
    color: white;
}

.AlbumViewSelector input:checked + label span,
.UserViewSelector input:checked + label span {
    background: orange;
}

.head-button {
    background-color: #fafafa;
}

.user-container {
    background-color: #f3f3f3;
}

.user-first-col:hover {
    background-color: #ffc276;
}

.user-first-col:hover .icon-pencil {
    color: #000;
}

.user-first-col:hover .select-checkbox {
    color: #000;
}

/* Selected container in userManager */

.user-container.container-selected
    .user-container-checkbox.user-list-checkbox
    .select-checkbox {
    background-color: #ffa646;
    border: solid #ffa646 2px;
}

.user-container.container-selected {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #ffd9a7;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 20px;
}

.user-container.container-selected .user-container-initials-wrapper > span {
    background-color: #ff7b00;
    color: #fee7bd;
}

.user-container.container-selected .user-groups,
.user-container.container-selected .registration-clock {
    background-color: #fee7c8;
    color: #ff7b00;
}

/****  */
.group-bonus {
    color: #000;
    background: #ddd;
}

.user-action-select {
    background: white;
}

.user-property-select {
    background-color: #f3f3f3;
    color: #353535;
}

.UserListPopInContainer {
    background-color: white;
}

.user-property-column-title,
.edit-username-title {
    color: #353535;
}

.user-property-button {
    color: #353535;
    background-color: #f3f3f3;
}

.user-property-input {
    color: #353535;
    background-color: #f3f3f3;
}

.user-property-input[type="text"] {
    background-color: #f3f3f3;
}

.user-property-group .selectize-input.items {
    background-color: #f3f3f3;
}

.user-property-register-visit .icon-calendar {
    color: #4c4c4c;
}

.delete-user-button {
    color: #353535;
    background-color: #f3f3f3;
}

.slider-bar-wrapper .ui-slider-horizontal {
    background-color: #e3e3e3;
}

.preferences-container,
.properties-container {
    border-left: solid 1px #ddd;
}

.update-container {
    border-top: solid 1px #ddd;
}

.user-property-input.user-property-input-username:hover {
    background-color: #f0f0f0;
}

.user-property-input.user-property-input-password:hover {
    background-color: #f0f0f0;
}

/* Activity Tab in user manager */

.select-user {
    background: #fafafa;
    height: 50%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px #00000024;
    border-radius: 5px;
}

.start-date,
.end-date {
    padding: 5px 10px;
    background: #eaeaea;
    border-radius: 50px;
    margin: 5px;
    white-space: nowrap;
}

.activity-time-text {
    font-size: 13px;
    font-weight: bold;
}

.line {
    background: #fafafa;
    box-shadow: 0 2px 4px #00000024;
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
    margin-bottom: 10px;
}

.line .detail-item {
    background: #f0f0f0f0;
    margin: 0 10px 0 0;
    padding: 3px 6px;
    border-radius: 20px;
    max-width: 120px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
    white-space: nowrap;
}

.download_csv {
    margin-left: auto;
    height: 25px;
    width: 30px;
    background: #ddd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    cursor: pointer;
    border-radius: 5px;
}

.download_csv:hover {
    background: #aaa;
    color: black;
}

.AddUserPopInContainer,
.AddAlbumPopInContainer,
.DeleteAlbumPopInContainer,
.RenameAlbumPopInContainer {
    background-color: white;
}

.AddUserPopInContainer .AddIconTitle,
.AddAlbumPopInContainer .AddIconTitle,
.DeleteAlbumPopInContainer .DeleteIconTitle,
.RenameAlbumPopInContainer .RenameAlbumTitle {
    color: #000;
}

.AddUserPopInContainer .AddUserLabel,
.AddAlbumPopInContainer .AddAlbumLabel,
.DeleteAlbumPopInContainer .DeleteAlbumLabel {
    color: #3e3e3e;
}

.AddUserPopInContainer .AddUserInput,
.AddAlbumPopInContainer .AddAlbumInput,
.DeleteAlbumPopInContainer .DeleteAlbumInput,
.RenameAlbumPopInContainer .RenameAlbumInput {
    background-color: white;
    border: solid 2px #d4d4d4;
}

.AddAlbumCancel,
.RenameAlbumCancel {
    color: #3f3e40;
    background-color: #f3f3f3;
}

.AddAlbumSubmit,
.RenameAlbumSubmit {
    color: #3f3e40;
    background-color: #ffa836;
}

.DeleteAlbumSubmit {
    background-color: #e74c3c;
    color: #fff;
}

.site-url-path {
    justify-content: flex-start;
    display: flex;
    width: max-content;
    padding-left: 25px;
}

.site-url-path span {
    margin-top: -10px;
}

.linked-albums-badge {
    padding: 2px 6px;
    border-radius: 50px;
    font-size: 10px;
    transition: 0.3s;
}

.linked-albums-badge.badge-red {
    background: red;
    color: white;
}

.breadcrumb-item {
    margin: 0 10px 10px 12px;
    padding: 7px 10px;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
}

.breadcrumb-item .link-path {
    margin-right: 15px;
}

.breadcrumb-item:hover .icon-cancel-circled {
    color: black;
}

.breadcrumb-item a {
    padding: 0 5px;
    font-weight: 400;
}

.breadcrumb-item .icon-cancel-circled,
.breadcrumb-item .help-item {
    margin-left: auto !important;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.breadcrumb-item.add-item {
    width: min-content;
    cursor: pointer;
    color: #777;
    transition: 0.3s;
}

.breadcrumb-item a:hover {
    color: #3a3a3a;
}

#addLinkedAlbum {
    display: none;
}

.linkedAlbumPopIn {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.7);
}

.linkedAlbumPopInContainer {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -48%);
    text-align: left;
    padding: 20px;
    flex-direction: column;
    border-radius: 15px;
    align-items: center;
    width: 400px;
    height: 400px;
}

.linkedAlbumPopInContainer .AddIconContainer {
    margin-top: 20px;
}

.ClosePopIn {
    position: absolute;
    right: -40px;
    top: -40px;
    font-size: 30px;
    color: white;
}

.linkedAlbumPopInContainer .AddIcon {
    border-radius: 9999px;
    padding: 10px;
    font-size: 2em;
}

.AddIconTitle {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 15px;
}

#linkedAlbumSearch .search-icon {
    position: absolute;
    transform: translate(7px, 8px);
    font-size: 18px;
    top: auto;
}

.linkedAlbumPopInContainer #searchResult {
    width: 100%;
    overflow-y: auto;
    max-height: 400px;
    margin: 10px 0 0;
}

.search-cancel-linked-album {
    opacity: 0.4;
    cursor: pointer;
    position: absolute;
    font-size: 18px;
    transform: translate(215px, 8px);
}

.search-cancel-linked-album:hover {
    opacity: 1;
}

.search-result-item {
    margin: 10px 0;
    padding: 5px 10px;
    height: 25px;
    background-color: #fafafa;
    box-shadow: 0 2px #00000024;
    border-radius: 5px;
    font-weight: bold;
    color: #777;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search-result-path {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
    direction: rtl;
    text-align: left;
}

.search-result-item .icon-plus-circled {
    margin-left: auto;
    cursor: pointer;
}

.search-result-item .notClickable {
    opacity: 0.3;
}

.linkedAlbumPopInContainer .searching {
    margin-top: 10px;
}

.invisible-related-categories-select {
    display: none;
}

.orphan-photo {
    margin-left: 4px;
    font-style: italic;
}

.search-line {
    background: #fafafa;
}

.search-line .date-section,
.search-line .user-section,
.search-line .type-section {
    border-right: 1px solid #bbb;
}

.detail-item-1,
.detail-item-2,
.detail-item-3 {
    background: #f0f0f0f0;
}

.search-line .type-name a {
    color: #a1a1a1;
}

.history-filter {
    background: #f3f3f3;
}

.hasDatepicker,
.elem-type-select {
    background: white !important;
}

.selectable-filter label {
    margin-bottom: 5px;
}

.selectable-filter .elem-type-select {
    margin-top: 5px !important;
}

.filter-title,
.remove-filter,
.filter-icon {
    color: #777;
    background: #fff;
    padding: 5px 0;
}

.search-result-item:hover {
    background: #ffc17e;
    color: #000;
    cursor: pointer;
}

.search-result-item .notClickable {
    opacity: 0.3;
    color: black !important;
}

.promote-apps {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
    margin: 0 20px 15px;
    border-radius: 5px;
    background: #f5d8b0;
    position: relative;
    box-shadow: 0 5px 10px 5px rgb(0, 0, 0, 0.1);
}

.close-apps {
    padding: 1px;
    margin-left: auto;
    border-radius: 50%;
    background: #bbb;
    color: #000;
    font-size: 19px;
}

.close-apps::before {
    transform: translateY(-1px);
}

.dont-show-again {
    position: absolute;
    color: #333;
    top: 5px;
    right: 5px;
    font-size: 25px;
}

.dont-show-again:hover,
.close-apps:hover {
    cursor: pointer;
}

.promote-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 2;
}

.promote-content .left-side {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.promote-content .right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.promote-content .left-side img {
    width: 170px;
    margin-left: 25px;
}

.promote-text {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: 700;
    color: #000;
    justify-content: center;
    flex: 2;
}

.promote-text span {
    font-size: 35px;
}

.promote-text span:first-child {
    margin-bottom: 5px;
}

.promote-text span:last-child {
    margin-top: 5px;
}

.go-to-porg {
    cursor: pointer;
    padding: 7px 14px;
    font-size: 18px;
    font-weight: bold;
    background-color: #ffa744;
    color: #3c3c3c;
    width: 150px;
    text-align: center;
    white-space: nowrap;
}

.go-to-porg::before {
    margin-right: 10px;
}

.promote-content .right-side .promote-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.badge-dropdown {
    background: linear-gradient(130deg, white 0%, white 100%);
}

.badge-dropdown::after {
    border-color: transparent transparent white;
}

