{templateType Piwigo\Admin\Projection\AlbumNotificationView}
<form action="{$fAction|noescape}" method="post" id="categoryNotify">
  <input type="hidden" name="pwg_token" value="{$csrfToken}">

  <fieldset id="emailCatInfo">
    <legend><span
        class="icon-mail-1 icon-green"
      ></span>{='Send mail to users'|translate}</legend>

    <p>
      <strong>{='Recipients'|translate}</strong>
      <label class="font-checkbox">
        <span class="icon-dot-circled"></span>
        <input type="radio" name="who" value="group" checked="checked">
        {='Group'|translate}
      </label>

      <label class="font-checkbox">
        <span class="icon-dot-circled"></span>
        <input type="radio" name="who" value="users">
        {='Users'|translate}
      </label>
    </p>

    <p class="who_option who_group">
      {if isset($groupMailOptions)}
        <select name="group" placeholder="{='Type in a search term'|translate}">
          <option
            n:foreach="$groupMailOptions as $optKey => $optLabel"
            value="{$optKey}"
          >{html_entity_decode(strval($optLabel))}</option>
        </select>
      {elseif isset($noGroupInGallery) and $noGroupInGallery}
        {='There is no group in this gallery.'|translate} <a
          href="admin.php?page=group_list"
          class="externalLink"
        >{='Group management'|translate}</a>
      {else}
        {='No group is permitted to see this private album'|translate}.
        <a
          href="{$permissionUrl|noescape}"
          class="externalLink"
        >{='Permission management'|translate}</a>
      {/if}
    </p>

    <p class="who_option who_users">
      {if isset($userOptions)}
        <select
          name="users[]"
          multiple
          placeholder="{='Type in a search term'|translate}"
        >
          <option
            n:foreach="$userOptions as $optKey => $optLabel"
            value="{$optKey}"
          >{html_entity_decode(strval($optLabel))}</option>
        </select>
      {else}
        {='No user is permitted to see this private album'|translate}.
        <a
          href="{$permissionUrl|noescape}"
          class="externalLink"
        >{='Permission management'|translate}</a>
      {/if}
    </p>

    <p>
      <strong>{='Complementary mail content'|translate}</strong>
      <br>
      <textarea
        cols="50"
        rows="5"
        name="mail_content"
        id="mail_content"
        class="description"
      >{if isset($MAIL_CONTENT)}{$MAIL_CONTENT}{/if}</textarea>
    </p>

    <p n:if="isset($authKeyDuration)">
      {='Each email sent will contain its own automatic authentication key on links, valid for %s.'|translate:$authKeyDuration}
      <br>{='For security reason, authentication keys do not work for administrators.'|translate}
    </p>

    <div class="savebar-footer">
      <div class="savebar-footer-start"></div>
      <div class="savebar-footer-end">
        <div n:if="isset($saveSuccess)" class="savebar-footer-block">
          <div class="badge info-message">
            <i class="icon-ok"></i>{$saveSuccess}
          </div>
        </div>

        <div class="savebar-footer-block">
          <button class="buttonLike" type="submit" name="submitEmail"><i
              class="icon-mail"
            ></i> {='Send'|translate}</button>
        </div>
      </div>
    </div>
  </fieldset>
</form>
