{templateType Piwigo\Admin\Projection\BatchManagerUnitView}

<div id="batchManagerGlobal">
  <div class="clear-both"></div>
  <div n:if="isset($elementIds)">
    <input type="hidden" name="element_ids" value="{$elementIds}">
  </div>
  {*Filters*}
  <form method="post" action="{$F_ACTION|noescape}">
    {var $filterTitle = ('Batch Manager Filter'|translate)}
    {var $filterSearchPlaceholder = ('Filters'|translate)}
    {include 'include/batch_manager_filter.inc.latte', title: $filterTitle, searchPlaceholder: $filterSearchPlaceholder}
  </form>
  <legend class="list-legend">
    <span class='icon-menu icon-blue'></span>
    {='List'|translate}
    <span class="count-badge"> {count($all_elements)}</span>
  </legend>
  {if !empty($elements)}
    <div class="pagination-bar">
      <div class="pagination-per-page">
        <span>{='photos per page'|translate} :</span>
        <a
          href="{$uElementsPage|noescape}&amp;display=5"
          class="{if $perPage == 5}selected-pagination{/if}"
        >5</a>
        <a
          href="{$uElementsPage|noescape}&amp;display=10"
          class="{if $perPage == 10}selected-pagination{/if}"
        >10</a>
        <a
          href="{$uElementsPage|noescape}&amp;display=50"
          class="{if $perPage == 50}selected-pagination{/if}"
        >50</a>
      </div>

      <div class="pagination-reload-container">
        <div class="pagination-reload">
          {if $navbar !== null && !$navbar->isEmpty()}
            <a
              class="button-reload tiptip"
              title="{='Pagination has changed and needs to be reloaded !'|translate}"
              href="{$F_ACTION|noescape}"
            ><i class="icon-cw"></i></a>
            {include 'navigation_bar.latte', navbar: $navbar}{/if}
        </div>
      </div>
    </div>
    {foreach $elements as $element}
      <div class="infos deleted-badge" data-image_id="{$element->id}">
        <i class="icon-ok"></i>
        <p>
          &nbsp;{='Image'|translate}&nbsp;
          <p>
            #{$element->id} '{$element->file}'
          </p>
          &nbsp;{='was succesfully deleted'|translate}
        </p>
      </div>
      <fieldset
        class="elementEdit"
        id="picture-{$element->id}"
        data-image_id="{$element->id}"
      >
        <div class="metasync-success badge-container">
          <div class="badge-succes">
            <i class="icon-ok"></i>
            {='Metadata sync complete'|translate}
          </div>
        </div>
        <div class="pictureIdLabel">
          #{$element->id}
        </div>
        <div class="media-box">
          <img
            src="{$element->tnSrc|noescape}"
            alt="imagename"
            class="media-box-embed {if $element->isWide}is-landscape{else}is-portrait{/if}"
          >
          <div class="media-hover">
            <div class='picture-preview-actions'>
              <a
                class="preview-box icon-zoom-square tiptip"
                href="{$element->fileSrc|noescape}"
                title="{='Zoom'|translate}"
              ></a>
              <a
                class="icon-download tiptip"
                href="{$element->uDownload|noescape}"
                title="{='Download'|translate}"
              ></a>
              <a
                class="icon-signal tiptip"
                href="{$element->uHistory|noescape}"
                title="{='Visit history'|translate}"
              ></a>
              <a
                class="icon-pulse tiptip"
                href="{$element->uActivity}"
                title="{='Activity'|translate}"
              ></a>
              <a
                target="_blank"
                class="icon-pencil tiptip"
                href="{$element->uEdit}"
                title="{='Edit photo'|translate}"
              ></a>
              {if !url_is_remote($element->path)}
                <a
                  class="icon-arrows-cw tiptip action-sync-metadata"
                  title="{='Synchronize metadata'|translate}"
                ></a>
                <a
                  class="icon-trash tiptip action-delete-picture"
                  title="{='delete photo'|translate}"
                ></a>
              {/if}
            </div>
            {if isset($element->uJumpto)}
              <a class="see-out" href="{$element->uJumpto}">
                <p>
                  <i class="icon-left-open"></i>
                  {='Open in gallery'|translate}
                </p>
              </a>
            {else}
              <a class="see-out disabled" href="#">
                <p
                  class=""
                  title="{='You don\'t have access to this photo'|translate}"
                >
                  <i class="icon-left-open"></i>
                  {='Open in gallery'|translate}
                </p>
              </a>
            {/if}
          </div>
        </div>
        <div class="main-info-container">
          <div class="main-info-block">
            <div class='info-framed-icon'>
              <i class='icon-picture'></i>
            </div>
            <span class="main-info-title" id="filename">{$element->file}</span>
            <span
              class="main-info-desc"
              id="dimensions"
            >{$element->dimensions}</span>
            <span
              class="main-info-desc"
              id="filesize"
            >{$element->filesize}</span>
            <span class="main-info-desc">{$element->ext}</span>
          </div>
          <div class="main-info-block">
            <div class='info-framed-icon'>
              <span class='icon-calendar'></span>
            </div>
            <span
              class="main-info-title first-letter-capitalize"
            >{$element->postDate}</span>
            <span class="main-info-desc">{$element->age}</span>
            <span class="main-info-desc">{$element->addedBy}</span>
            <span class="main-info-desc">{$element->stats}</span>
          </div>
        </div>
        <div class="info-container">
          <div class="half-line-info-box">
            <strong>{='Title'|translate}</strong>
            <input type="text" name="name" id="name" value="{$element->name}">
          </div>
          <div class="calendar-box">
            <strong>{='Creation date'|translate}</strong>
            <input
              type="hidden"
              id="date_creation"
              name="date_creation-{$element->id}"
              value="{$element->dateCreation}"
            >
            <label class="calendar-input">
              <i class="icon-calendar"></i>
              <input
                type="text"
                data-datepicker="date_creation-{$element->id}"
                data-datepicker-unset="date_creation_unset-{$element->id}"
                readonly
              >
              <a
                href="#"
                class="icon-cancel-circled unset datepickerDelete"
                id="date_creation_unset-{$element->id}"
              ></a>
            </label>
          </div>
          <div class="half-line-info-box">
            <strong>{='Author'|translate}</strong>
            <input
              type="text"
              name="author"
              id="author"
              value="{$element->author}"
            >
          </div>
          <div class="half-line-info-box">
            <div class="privacy-label-container">
              <strong>{='Who can see ?'|translate}</strong>
              <i>{='level of confidentiality'|translate}</i>
            </div>
            <select name="level" id="level" size="1">
              <option
                n:foreach="$levelOptions as $optKey => $optLabel"
                value="{$optKey}"
                n:attr="selected: (string) $optKey === (string) $element->levelSelected ? 'selected' : null"
              >{html_entity_decode(strval($optLabel))}</option>
            </select>
          </div>
          <div class="full-line-tag-box" id="action_add_tags">
            <strong>{='Tags'|translate}</strong>
            <select
              id="tags"
              data-selectize="tags"
              data-value="{$element->tags|json_encode|htmlspecialchars|noescape}"
              placeholder="{='Type in a search term'|translate}"
              data-create="true"
              name="tags"
              id="tags-{$element->id}[]"
              multiple
            ></select>
          </div>
          <div class="full-line-box" id="{$element->id}">
            <strong>{='Linked albums'|translate} <span
                class="linked-albums-badge {if count($element->relatedCategories) < 1} badge-red {/if}"
              > {count($element->relatedCategories)} </span></strong>
            {if count($element->relatedCategories) < 1}
              <span
                class="orphan-photo"
              >{='This photo is an orphan'|translate}</span>
            {else}
              <span class="orphan-photo"></span>
            {/if}
            <div class="related-categories-container">
              <div
                n:foreach="$element->relatedCategories as $key => $cat_path"
                class="breadcrumb-item"
              >
                <span class="link-path">{$cat_path['name']|noescape}</span>
                {if $cat_path['unlinkable']}
                  <span
                    id="{$key}"
                    class="icon-cancel-circled remove-item"
                  ></span>
                {else}
                  <span
                    id="{$key}"
                    class="icon-help-circled help-item tiptip"
                    title="{='This picture is physically linked to this album, you can\'t dissociate them'|translate}"
                  ></span>
                {/if}
              </div>
            </div>
            <div
              class="breadcrumb-item linked-albums add-item {if count($element->relatedCategories) < 1} highlight {/if}"
            >
              <span class="icon-plus-circled"></span>
              {='Add'|translate}
            </div>
          </div>
          <div class="full-line-description-box">
            <strong>{='Description'|translate}</strong>
            <textarea
              cols="50"
              rows="4"
              name="description"
              class="description-box"
              id="description"
            >{$element->description}</textarea>
          </div>
          {foreach $pluginElementSubtemplates as $path}
            {include $path}
          {/foreach}
          {* Plugins anchor 1 *}
          <div class="validation-container">
            <div class="save-button-container">
              <div class="buttonLike action-save-picture buttonSubmitLocal">
                <i class="icon-floppy"></i>
                {='Save'|translate}
              </div>
            </div>
            <div class="local-unsaved-badge badge-container">
              <div class="badge-unsaved">
                <i class="icon-attention"></i>
                {='You have unsaved changes'|translate}
              </div>
            </div>
            <div class="local-success-badge badge-container">
              <div class="badge-succes">
                <i class="icon-ok"></i>
                {='Changes saved'|translate}
              </div>
            </div>
            <div class="local-error-badge badge-container">
              <div class="badge-error">
                <i class="icon-cancel"></i>
                {='An error has occured'|translate}
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    {/foreach}
    <div class="pagination-bar">
      <div class="pagination-per-page">
        <span>{='photos per page'|translate} :</span>
        <a
          href="{$uElementsPage|noescape}&amp;display=5"
          class="{if $perPage == 5}selected-pagination{/if}"
        >5</a>
        <a
          href="{$uElementsPage|noescape}&amp;display=10"
          class="{if $perPage == 10}selected-pagination{/if}"
        >10</a>
        <a
          href="{$uElementsPage|noescape}&amp;display=50"
          class="{if $perPage == 50}selected-pagination{/if}"
        >50</a>
      </div>

      <div class="pagination-reload-container">
        <div class="pagination-reload">
          {if $navbar !== null && !$navbar->isEmpty()}
            <a
              class="button-reload tiptip"
              title="{='Pagination has changed and needs to be reloaded !'|translate}"
              href="{$F_ACTION|noescape}"
            ><i class="icon-cw"></i></a>
            {include 'navigation_bar.latte', navbar: $navbar}{/if}
        </div>
      </div>
    </div>
  {/if}
  <div class="bottom-save-bar">
    <input type="hidden" name="pwg_token" value="{$csrfToken}">
    <div class="badge-container global-unsaved-badge">
      <div class="badge-unsaved">
        <i class="icon-attention"></i>
        <span id="unsaved-count"></span>
        {='image(s) contains unsaved changes'|translate}
      </div>
    </div>
    <div class="badge-container global-succes-badge">
      <div class="badge-succes">
        <i class="icon-ok"></i>
        {='Changes saved'|translate}
      </div>
    </div>
    <div class="badge-container global-error-badge">
      <div class="badge-error">
        <i class="icon-cancel"></i>
        {='An error has occured'|translate}
      </div>
    </div>
    <div class="buttonLike action-save-global">
      <i class="icon-floppy"></i>
      {='Save all photos'|translate}
    </div>
  </div>
</div>

{* Kept -- real markup (the linked-album popin), not just asset
   registration; BatchManagerUnitView::pageAssets()/exposedStrings()
   already merge in AlbumSelectorView's own contribution too
   (dedup-safe no-op). *}
{include 'include/album_selector.inc.latte'}
