{templateType Piwigo\Admin\Projection\CatOptionsView}
<form method="post" action="{$formAction}" id="cat_options">
  <fieldset>
    <legend>{$section}</legend>
    {$doubleSelect}
  </fieldset>
  <input type="hidden" name="pwg_token" value="{$pwgToken}">
</form>
