{templateType Piwigo\Admin\Projection\CatModifyView}
{do combineScript(id: 'common', load: 'footer', path: 'themes/admin/default/js/common.js')}
{do combineScript(id: 'cat_modify', load: 'footer', require: 'page-data', path: 'themes/admin/default/js/cat_modify.js')}
{do exposeData('cat_id', $catId)}
{do exposeData('parent_cat_id', $parentCatId)}
{do exposeData('cat_name', $catName)}
{do exposeData('nb_subcats', $nbSubcats)}
{do exposeData('csrf_token', $csrfToken)}
{do exposeData('u_delete', $uDelete)}
{do exposeData('is_visible', $isVisible)}
{do exposeString('No, I have changed my mind')}
{do exposeString('Delete album')}
{do exposeString('Delete album "%s" and its %d sub-albums.')}
{do exposeString('Just now')}
{do exposeString('delete only album, not photos')}
{do exposeString('delete album and the %d orphan photos')}
{do exposeString('delete album and all %d photos, even the %d associated to other albums')}
{do exposeString('Comments allowed for sub-albums')}
{do exposeString('Comments disallowed for sub-albums')}
{do exposeString('New parent album')}
{do combineScript(id: 'jquery.confirm', load: 'footer', require: 'jquery', path: 'themes/default/js/plugins/jquery-confirm.min.js')}
{do combineCss(path: "themes/default/js/plugins/jquery-confirm.min.css")}
{do combineCss(path: "themes/admin/default/fontello/css/animation.css", order: 10)} {* order 10 is required, see issue 1080 *}
{do combineCss(id: 'cat_modify', path: 'themes/admin/default/css/pages/cat_modify.css')}
{do combineScript(id: 'jquery.tipTip', load: 'footer', path: 'themes/default/js/plugins/jquery.tipTip.minified.js')}

<div class="cat-modify" id="cat-modify">
  <div class="cat-modify-header">
    <div class="cat-modify-ariane">
      <span class="icon-home"> /</span>
      {$categoriesNav|noescape}
    </div>

    <div class="cat-modify-actions">
      <a
        class="icon-pulse tiptip"
        href="{$uActivity|noescape}"
        title="{='Activity'|translate}"
      ></a>

      <a
        n:if="isset($uManageElements)"
        class="icon-th tiptip"
        href="{$uManageElements|noescape}"
        title="{='Manage album photos'|translate}"
      ></a>

      <a
        class="icon-plus-circled tiptip"
        href="{$uAddPhotosAlbum|noescape}"
        title="{='Add Photos'|translate}"
      ></a>

      <a
        class="icon-sitemap tiptip"
        href="{$uMove|noescape}"
        title="{='Manage sub-albums'|translate}"
      ></a>

      <a
        n:if="isset($uSync)"
        class="icon-exchange tiptip"
        href="{$uSync|noescape}"
        title="{='Synchronize'|translate}"
      ></a>

      <a
        n:if="isset($uDelete)"
        class="icon-trash deleteAlbum tiptip"
        href="#"
        title="{='Delete album'|translate}"
      ></a>

      {* <a class="icon-ellipsis-vert tiptip" href="#" title="{'Comments'|@translate}"></a> *}

      <span class="icon-ellipsis-vert toggle-comment-option">
        <div class="comment-option">
          <span
            class="allow-comments icon-ok"
          > {='Allow comments for sub-albums'|translate} </span>
          <span
            class="disallow-comments icon-cancel"
            target="_blank"
          >{='Disallow comments for sub-albums'|translate}</span>
        </div>
      </span>

      {* Comment for extensions to add their custom actions *}
    </div>
  </div>

  <div class="cat-modify-content">
    <div class="cat-modify-infos">
      <div class="cat-modify-info-card cat-creation">
        <span class="cat-modify-info-title">{='Created'|translate}</span>
        <span
          class="cat-modify-info-content"
        >{if isset($infoCreationSince)}{$infoCreationSince}{else}{='unknown'|translate}{/if}</span>
        <span
          class="cat-modify-info-subcontent"
        >{if isset($infoCreation)}{$infoCreation}{else}{='Unknown time period'|translate}{/if}</span>
      </div>
      <div class="cat-modify-info-card cat-modification">
        <span class="cat-modify-info-title">{='Modified'|translate}</span>
        <span class="cat-modify-info-content">{$infoLastModifiedSince}</span>
        <span class="cat-modify-info-subcontent">{$infoLastModified}</span>
      </div>
      <div title="{$infoTitle}" class="cat-modify-info-card cat-photos">
        <span class="cat-modify-info-title">{='Photos'|translate}</span>
        <span class="cat-modify-info-content">{$infoPhoto}</span>
        <span class="cat-modify-info-subcontent">{$infoImagesRecursive}</span>
      </div>
      <div class="cat-modify-info-card cat-albums">
        <span class="cat-modify-info-title">{='sub-albums'|translate}</span>
        <span class="cat-modify-info-content">{$infoDirectSub}</span>
        <span class="cat-modify-info-subcontent">{$infoSubcats}</span>
      </div>
      <div n:if="isset($uSync)" class="cat-modify-info-card">
        <span class="cat-modify-info-title">Directory</span>
        <span
          class="cat-modify-info-content directory"
          title="{$catDirName}"
        >{$catDirName}</span>
        <span
          class="cat-modify-info-subcontent directory"
          title="{$catFullDir}"
        >{$catMinDir}</span>
      </div>
    </div>

    <div
      class="cat-modify-representative {if !isset($representant)}icon-file-image{elseif !isset($representant['picture'])}icon-dice-solid{/if}"
      {if !isset($representant)}
      title="{='No photos in the current album, no thumbnail available'|translate}"
      {/if}
      {if isset($representant) && isset($representant['picture'])}
      {* A custom property can't carry this url() safely: browsers resolve a
         url() inside a custom property against the STYLESHEET that consumes
         it via var() (cat_modify.css, 4 directories deep), not the page --
         breaking $representant['picture']['src']'s page-relative path. Kept
         as a full inline declaration instead. *}
      style="background-image:url('{$representant['picture']['src']|noescape}')"
      {/if}
    >
      <div
        n:if="isset($representant) and ($representant['ALLOW_SET_RANDOM'] || $representant['ALLOW_SET_RANDOM'])"
        class="cat-modify-representative-actions"
      >
        <a
          n:if="$representant['ALLOW_SET_RANDOM']"
          class="refreshRepresentative buttonLike"
          id="refreshRepresentative"
          title="{='Find a new representant by random'|translate}"
        >
          <i class="icon-ccw"></i>
          {='Refresh thumbnail'|translate}
        </a>
        <a
          n:if="isset($representant['ALLOW_DELETE'])"
          class="deleteRepresentative buttonLike{if !isset($representant['picture'])} u-hidden{/if}"
          id="deleteRepresentative"
          title="{='Delete Representant'|translate}"
        >
          <i class="icon-cancel"></i>
          {='Remove thumbnail'|translate}
        </a>
      </div>
    </div>

    <div class="cat-modify-form">
      <div class="cat-modify-input-container">
        <label for="cat-name">{='Name'|translate}</label>
        <input type="text" id="cat-name" value="{$catName}" maxlength="255">
      </div>

      <div class="cat-modify-input-container">
        <label for="cat-comment">{='Description'|translate} <span
            id="desc-zoom-square"
            class="icon-resize-full tiptip"
            title="{='Expand'|translate}"
          ></span></label>
        <textarea
          class="sync-textarea"
          resize="false"
          rows="5"
          name="comment"
          id="cat-comment"
        >{$catComment}</textarea>
      </div>

      <div class="cat-modify-input-container">
        <label for="cat-parent">{='Parent album'|translate}</label>
        <div
          class="icon-pencil"
          id="cat-parent"
        >{$categoriesParentNav|noescape}</div>
      </div>

      {include 'include/album_selector.inc.latte'}

      <div n:if="isset($catCommentable)" class="cat-modify-switch-container">
        <div class="switch-input">
          <label class="switch">
            <input
              type="checkbox"
              name="commentable"
              id="cat-commentable"
              value="true"
              {if $catCommentable}
              checked
              {/if}
            >
            <span class="slider round"></span>
          </label>
        </div>
        <label
          class="switch-label"
          for="cat-commentable"
        ><span>{='Authorize comments'|translate}</span> <i
            class="icon-help-circled tiptip u-help-cursor"
            title="{='A photo can receive comments from your visitors if it belongs to an album with comments activated.'|translate}"
          ></i></label>
      </div>

      <div class="cat-modify-switch-container">
        <div class="switch-input">
          <label class="switch">
            <input
              type="checkbox"
              name="locked"
              id="cat-locked"
              value="true"
              {if !$isVisible}
              checked
              {/if}
            >
            <span class="slider round"></span>
          </label>
        </div>
        <label
          class="switch-label"
          for="cat-locked"
        ><span>{='Locked album'|translate}</span> <i
            class="icon-help-circled tiptip u-help-cursor"
            title="{='Locked albums are disabled for maintenance. Only administrators can view them in the gallery. Lock this album will also lock his Sub-albums'|translate}"
          ></i></label>
      </div>
    </div>
  </div>

  <div class="cat-modify-footer">
    <div class="cat-modify-footer-start">
      {if $catAdminAccess}
        <a class="cat-modify-footer-see-out" href="{$uJumpto|noescape}"><i
            class="icon-left-open"
          ></i>{='Open in gallery'|translate}</a>
      {else}
        <a
          class="tiptip cat-modify-footer-see-out disabled"
          title="{='ACCESS_5'|translate}"
          href="#"
        ><i class="icon-left-open"></i>{='Open in gallery'|translate}</a>
      {/if}
    </div>
    <div class="cat-modify-footer-end">
      <div class="info-message icon-ok">{='Album updated'|translate}</div>
      <div
        class="info-error icon-cancel"
      >{='An error has occured while saving album settings'|translate}</div>
      <span class="buttonLike" id="cat-properties-save"><i
          class="icon-floppy"
        ></i> {='Save Settings'|translate}</span>
    </div>
  </div>
  <div class="desc-modal" id="desc-modal">
    <div class="desc-modal-content">
      <div class="desc-modal-header">
        <p>{='Description'|translate}</p>
      </div>
      <div class="desc-modal-body">
        <textarea
          class="sync-textarea"
          name="comment-modal"
          id="cat-comment-modal"
        >{$catComment}</textarea>
      </div>
      <div class="desc-modal-footer">
        <p id="desc-modal-close" class="cat-modify-footer-see-out"><span
            class="icon-resize-small"
          ></span>{='Shrink'|translate}</p>
      </div>
    </div>
  </div>
</div>
