{templateType Piwigo\Admin\Integrity\Projection\CheckIntegrityView}
{*
  Rendered by CheckIntegrity::display(), conditionally (only when
  there's a real integrity anomaly to show), and appended after
  intro.latte's own output by its one real caller, IntroSubController.
  This file's own <dl> below is never closed anywhere in this file
  either -- a pre-existing typo in the original source (every other
  cell/row here is properly closed), harmless because browsers
  tolerate an unclosed <dl> at end-of-document, not something to "fix"
  by trying to close it from intro.latte.
*}
<dl>
  <dt>{='Check integrity'|translate}</dt>
  <dd>
    <ul>
      <form method="post" name="c13y" id="c13y" action="">
        <fieldset>
          <table class="table2">
            <tr class="throw">
              <th></th>
              <th>{='Anomaly'|translate}</th>
              <th>{='Correction'|translate}</th>
            </tr>
            {if isset($c13yList)}
              <tr
                n:foreach="$c13yList as $c13y"
                class="{if $iterator->counter0 % 2 !== 0}row1{else}row2{/if}"
              >
                <td>
                  {if $c13y['can_select']}
                    <input
                      type="checkbox"
                      name="c13y_selection[]"
                      value="{$c13y['id']}"
                      id="c13y_selection-{$c13y['id']}"
                    ><label for="c13y_selection-{$c13y['id']}"></label>
                  {/if}
                </td>
                <td><label
                    for="c13y_selection-{$c13y['id']}"
                  >{$c13y['anomaly']}</label></td>
                <td>
                  <label for="c13y_selection-{$c13y['id']}">
                    {if $c13y['show_ignore_msg']}
                      {='The anomaly will be ignored until next application version'|translate}
                      <br>
                      {='Correction the anomaly will cancel the fact that it\'s ignored'|translate}
                    {/if}
                    {if $c13y['show_correction_fct']}
                      {='Automatic correction'|translate}
                    {/if}
                    {if $c13y['show_correction_bad_fct']}
                      {='Impossible automatic correction'|translate}
                    {/if}
                    {if $c13y['show_correction_success_fct']}
                      {='Correction applied with success'|translate}
                    {/if}
                    {if !empty($c13y['correction_error_fct'])}
                      {='Correction applied with error'|translate}
                      <br>
                      {$c13y['correction_error_fct']|noescape}
                    {/if}
                    {if !empty($c13y['correction_msg'])}
                      <br
                        n:if="$c13y['show_correction_success_fct'] or !empty($c13y['correction_error_fct']) or $c13y['show_correction_fct'] or $c13y['show_correction_bad_fct']"
                      >
                      {$c13y['correction_msg']|breakLines}
                    {/if}
                  </label>
                </td>
              </tr>
            {/if}
          </table>

          <p>
            {if $showSubmitIgnore}
              <a href="#" id="checkAllLink">{='Check all'|translate}</a>
              / <a href="#" id="uncheckAllLink">{='Uncheck all'|translate}</a>
            {/if}
            {if isset($c13yDoCheck)}
              / <a
                href="#"
                id="checkAutomaticCorrectionsLink"
              >{='Check automatic corrections'|translate}</a>
            {/if}
          </p>

          <p>
            <input
              n:if="$showSubmitAutomaticCorrection"
              class="submit"
              type="submit"
              value="{='Apply selected corrections'|translate}"
              name="Apply selected corrections"
            >
            <input
              n:if="$showSubmitIgnore"
              class="submit"
              type="submit"
              value="{='Ignore selected anomalies'|translate}"
              name="Ignore selected anomalies"
            >
            <input
              class="submit"
              type="submit"
              value="{='Refresh'|translate}"
              name="Refresh"
            >
          </p>
        </fieldset>
      </form>
    </ul>
  </dd>
