{templateType Piwigo\Controller\Admin\Projection\ConfigurationSizesView}
<form method="post" action="{$fAction}" class="properties">
  <div id="configContent">
    <fieldset id="sizesConf">
      <legend><span
          class="icon-picture icon-red"
        ></span>{='Original Size'|translate}</legend>
      {if (isset($isGd) and $isGd)}
        <div>
          {='Resize after upload disabled due to the use of GD as graphic library'|translate}
          <input
            type="checkbox"
            name="original_resize"
            disabled="disabled"
            class="u-invisible"
          >
          <input
            type="hidden"
            name="original_resize_maxwidth"
            value="{$sizes->originalResizeMaxwidth}"
          >
          <input
            type="hidden"
            name="original_resize_maxheight"
            value="{$sizes->originalResizeMaxheight}"
          >
          <input
            type="hidden"
            name="original_resize_quality"
            value="{$sizes->originalResizeQuality}"
          >
        </div>
      {else}
        <div>
          <label class="font-checkbox">
            <span class="icon-check"></span>
            <input
              type="checkbox"
              name="original_resize"
              {if $sizes->originalResize}
              checked="checked"
              {/if}
            >
            {='Resize after upload'|translate}
          </label>
        </div>

        <table id="sizeEdit-original">
          <tr>
            <th>{='Maximum width'|translate}</th>
            <td>
              <input
                type="text"
                name="original_resize_maxwidth"
                value="{$sizes->originalResizeMaxwidth}"
                size="4"
                maxlength="4"
                {if $ferrors?->originalResizeMaxwidth !== null}
                class="dError"
                {/if}
              > {='pixels'|translate}
              <span
                n:if="$ferrors?->originalResizeMaxwidth !== null"
                class="dErrorDesc"
                title="{$ferrors->originalResizeMaxwidth}"
              >!</span>
            </td>
          </tr>
          <tr>
            <th>{='Maximum height'|translate}</th>
            <td>
              <input
                type="text"
                name="original_resize_maxheight"
                value="{$sizes->originalResizeMaxheight}"
                size="4"
                maxlength="4"
                {if $ferrors?->originalResizeMaxheight !== null}
                class="dError"
                {/if}
              > {='pixels'|translate}
              <span
                n:if="$ferrors?->originalResizeMaxheight !== null"
                class="dErrorDesc"
                title="{$ferrors->originalResizeMaxheight}"
              >!</span>
            </td>
          </tr>
          <tr>
            <th>{='Image Quality'|translate}</th>
            <td>
              <input
                type="text"
                name="original_resize_quality"
                value="{$sizes->originalResizeQuality}"
                size="3"
                maxlength="3"
                {if $ferrors?->originalResizeQuality !== null}
                class="dError"
                {/if}
              > %
              <span
                n:if="$ferrors?->originalResizeQuality !== null"
                class="dErrorDesc"
                title="{$ferrors->originalResizeQuality}"
              >!</span>
            </td>
          </tr>
        </table>
      {/if}
    </fieldset>

    <fieldset id="multiSizesConf">
      <legend><span
          class="icon-th icon-purple"
        ></span>{='Multiple Size'|translate}</legend>

      <div class="showDetails">
        <a
          href="#"
          id="showDetails"
          class="{if $ferrors !== null}u-hidden{/if}"
        >{='show details'|translate}</a>
      </div>

      <table class="multi-sizes-table">
        {foreach $derivatives as $type => $d}
          <tr>
            <td>
              <label>
                {if $d->mustEnable}
                  <span class="sizeEnable">
                    <span class="icon-ok"></span>
                  </span>
                {else}
                  <span class="sizeEnable font-checkbox">
                    <span class="icon-check"></span>
                    <input
                      type="checkbox"
                      name="d[{$type}][enabled]"
                      {if $d->enabled}
                      checked="checked"
                      {/if}
                    >
                  </span>
                {/if}
                {$type|translate}
              </label>
            </td>

            <td>
              <span
                class="sizeDetails{if $ferrors !== null} u-inline{/if}"
              >{$d->width} x {$d->height} {='pixels'|translate}{if $d->cropped}, {='Crop'|translate|lower}{/if}</span>
            </td>

            <td>
              <span
                class="sizeDetails{if $ferrors !== null and $ferrors->forType($type) === null} u-inline{/if}"
              >
                <a
                  href="#"
                  id="sizeEditOpen-{$type}"
                  class="sizeEditOpen"
                >{='edit'|translate}</a>
              </span>
            </td>
          </tr>

          <tr
            id="sizeEdit-{$type}"
            class="sizeEdit{if $ferrors?->forType($type) !== null} u-block{/if}"
          >
            <td colspan="3">
              <table class="sizeEditForm">
                <tr n:if="!$d->mustSquare">
                  <td colspan="2">
                    <label class="font-checkbox">
                      <span class="icon-check"></span>
                      <input
                        type="checkbox"
                        class="cropToggle"
                        name="d[{$type}][crop]"
                        {if $d->cropped}
                        checked="checked"
                        {/if}
                      >
                      {='Crop'|translate}
                    </label>
                  </td>
                </tr>
                <tr>
                  <td
                    class="sizeEditWidth"
                  >{if $d->mustSquare or $d->cropped}{='Width'|translate}{else}{='Maximum width'|translate}{/if}</td>
                  <td>
                    <input
                      type="text"
                      name="d[{$type}][w]"
                      maxlength="4"
                      size="4"
                      value="{$d->width}"
                      {if $ferrors?->forType($type)?->width !== null}
                      class="dError"
                      {/if}
                    > {='pixels'|translate}
                    <span
                      n:if="$ferrors?->forType($type)?->width !== null"
                      class="dErrorDesc"
                      title="{$ferrors->forType($type)->width}"
                    >!</span>
                  </td>
                </tr>
                <tr n:if="!$d->mustSquare">
                  <td
                    class="sizeEditHeight"
                  >{if $d->cropped}{='Height'|translate}{else}{='Maximum height'|translate}{/if}</td>
                  <td>
                    <input
                      type="text"
                      name="d[{$type}][h]"
                      maxlength="4"
                      size="4"
                      value="{$d->height}"
                      {if $ferrors?->forType($type)?->height !== null}
                      class="dError"
                      {/if}
                    > {='pixels'|translate}
                    <span
                      n:if="$ferrors?->forType($type)?->height !== null"
                      class="dErrorDesc"
                      title="{$ferrors->forType($type)->height}"
                    >!</span>
                  </td>
                </tr>
                <tr>
                  <td>{='Sharpen'|translate}</td>
                  <td>
                    <input
                      type="text"
                      name="d[{$type}][sharpen]"
                      maxlength="4"
                      size="4"
                      value="{$d->sharpen}"
                      {if $ferrors?->forType($type)?->sharpen !== null}
                      class="dError"
                      {/if}
                    > %
                    <span
                      n:if="$ferrors?->forType($type)?->sharpen !== null"
                      class="dErrorDesc"
                      title="{$ferrors->forType($type)->sharpen}"
                    >!</span>
                  </td>
                </tr>
              </table> {* #sizeEdit *}
            </td>
          </tr>
        {/foreach}
      </table>

      <p class="sizeDetails{if $ferrors !== null} u-block{/if}">
        {='Image Quality'|translate}
        <input
          type="text"
          name="resize_quality"
          value="{$resizeQuality}"
          size="3"
          maxlength="3"
          {if $ferrors?->resizeQuality !== null}
          class="dError"
          {/if}
        > %
        <span
          n:if="$ferrors?->resizeQuality !== null"
          class="dErrorDesc"
          title="{$ferrors->resizeQuality}"
        >!</span>
      </p>
      <p class="sizeDetails{if $ferrors !== null} u-block{/if}">
        <a
          href="{$fAction}&action=restore_settings&pwg_token={$csrfToken}"
          class="restore-settings-button"
        >{='Reset to default values'|translate}</a>
      </p>
    </fieldset>
  </div> <!-- configContent -->

  <div class="savebar-footer">
    <div class="savebar-footer-start"></div>
    <div class="savebar-footer-end">
      <div n:if="isset($saveSuccess)" class="savebar-footer-block">
        <div class="badge info-message">
          <i class="icon-ok"></i>{$saveSuccess}
        </div>
      </div>
      <div class="savebar-footer-block">
        <button
          class="buttonLike"
          type="submit"
          name="submit"
          {if $isWebmaster !== 1}
          disabled
          {/if}
        ><i class="icon-floppy"></i> {='Save Settings'|translate}</button>
      </div>
    </div>
    <input type="hidden" name="pwg_token" value="{$csrfToken}">
  </div>
</form>
