{templateType Piwigo\Controller\Admin\Projection\ConfigurationDefaultView}
<form
  method="post"
  name="profile"
  action="{$guestFAction|noescape}"
  id="profile"
  class="properties"
>
  <div id="configContent">
    <fieldset n:if="$username != 'guest'">
      {='The settings for the guest are from the %s user'|translate:$username}
    </fieldset>

    <fieldset>
      <legend>{='Preferences'|translate}</legend>
      <input type="hidden" name="redirect" value="{$redirect}">

      <ul>
        <li>
          <span class="property">
            <label
              for="nb_image_page"
            >{='Number of photos per page'|translate}</label>
          </span>
          <input
            type="text"
            size="4"
            maxlength="3"
            name="nb_image_page"
            id="nb_image_page"
            value="{$nbImagePage}"
          >
        </li>

        <li>
          <span class="property">
            <label for="recent_period">{='Recent period'|translate}</label>
          </span>
          <input
            type="text"
            size="3"
            maxlength="2"
            name="recent_period"
            id="recent_period"
            value="{$recentPeriod}"
          >
        </li>

        <li>
          <span class="property">{='Expand all albums'|translate}</span>
          {=htmlRadios(name: 'expand', options: $radioOptions, selected: $expand)}
        </li>

        <li n:if="$activateComments">
          <span class="property">{='Show number of comments'|translate}</span>
          {=htmlRadios(name: 'show_nb_comments', options: $radioOptions, selected: $nbComments)}
        </li>

        <li>
          <span class="property">{='Show number of hits'|translate}</span>
          {=htmlRadios(name: 'show_nb_hits', options: $radioOptions, selected: $nbHits)}
        </li>
      </ul>
    </fieldset>

    <p class="bottomButtons">
      <input type="hidden" name="pwg_token" value="{$csrfToken}">
      <input
        class="submit"
        type="submit"
        name="validate"
        value="{='Submit'|translate}"
        {if $isWebmaster != 1}
        disabled
        {/if}
      >
      <input
        class="submit"
        type="reset"
        name="reset"
        value="{='Reset'|translate}"
        {if $isWebmaster != 1}
        disabled
        {/if}
      >
    </p>
  </div>

  <input type="hidden" name="pwg_token" value="{$csrfToken}">
</form>
