{templateType Piwigo\Controller\Admin\Projection\DoubleSelectView}
<table class="doubleSelect">
  <tr>
    <td>
      <h3>{$lCatOptionsTrue}</h3>
      <select
        class="categoryList"
        name="cat_true[]"
        multiple="multiple"
        size="30"
      >
        <option
          n:foreach="$categoryOptionTrue as $optKey => $optLabel"
          value="{$optKey}"
          n:attr="selected: in_array((string) $optKey, array_map(strval(...), $categoryOptionTrueSelected), true) ? 'selected' : null"
        >{html_entity_decode(strval($optLabel))}</option>
      </select>
      <p><input class="submit" type="submit" value="&raquo;" name="falsify"></p>
    </td>

    <td>
      <h3>{$lCatOptionsFalse}</h3>
      <select
        class="categoryList"
        name="cat_false[]"
        multiple="multiple"
        size="30"
      >
        <option
          n:foreach="$categoryOptionFalse as $optKey => $optLabel"
          value="{$optKey}"
          n:attr="selected: in_array((string) $optKey, array_map(strval(...), $categoryOptionFalseSelected), true) ? 'selected' : null"
        >{html_entity_decode(strval($optLabel))}</option>
      </select>
      <p><input class="submit" type="submit" value="&laquo;" name="trueify"></p>
    </td>
  </tr>
</table>
