{templateType Piwigo\Controller\Admin\Projection\DoubleSelectView}
{do combineCss(id: 'double_select', path: 'themes/admin/default/css/pages/double_select.css')}
<table class="doubleSelect">
  <tr>
    <td>
      <h3>{$lCatOptionsTrue}</h3>
      <select
        class="categoryList"
        name="cat_true[]"
        multiple="multiple"
        size="30"
      >
        {=htmlOptions(options: $categoryOptionTrue, selected: $categoryOptionTrueSelected)}
      </select>
      <p><input
          class="submit"
          type="submit"
          value="&raquo;"
          name="falsify"
        ></p>
    </td>

    <td>
      <h3>{$lCatOptionsFalse}</h3>
      <select
        class="categoryList"
        name="cat_false[]"
        multiple="multiple"
        size="30"
      >
        {=htmlOptions(options: $categoryOptionFalse, selected: $categoryOptionFalseSelected)}
      </select>
      <p><input
          class="submit"
          type="submit"
          value="&laquo;"
          name="trueify"
        ></p>
    </td>
  </tr>
</table>
