{templateType Piwigo\Admin\Projection\ElementSetRanksView}
<form action="{$formAction|noescape}" method="post" id="element_set_ranks">
  <input type="hidden" name="pwg_token" value="{$csrfToken}">
  <fieldset n:if="!empty($thumbnails)">
    <legend><span
        class="icon-sort-alt-down icon-blue"
      ></span>{='Manual order'|translate}</legend>
    {if !empty($thumbnails)}
      <p>{='Drag to re-order'|translate}</p>
      <ul class="thumbnails">
        <li n:foreach="$thumbnails as $thumbnail" class="rank-of-image">
          <img
            src="{$thumbnail['TN_SRC']|noescape}"
            class="thumbnail"
            alt="{$thumbnail['NAME']}"
            title="{$thumbnail['NAME']}"
            style="--tn-width:{$thumbnail['SIZE'][0]}px; --tn-height:{$thumbnail['SIZE'][1]}px;"
          >
          <input
            type="text"
            name="rank_of_image[{$thumbnail['ID']}]"
            value="{$thumbnail['RANK']}"
            class="u-hidden"
          >
        </li>
      </ul>
    {/if}
  </fieldset>

  <fieldset>
    <legend><span
        class="icon-sort-name-up icon-red"
      ></span>{='Sort order'|translate}</legend>
    <p class="field">
      <label class="font-checkbox">
        <span class="icon-dot-circled"></span>
        <input
          type="radio"
          name="image_order_choice"
          id="image_order_default"
          value="default"
          {if $imageOrderChoice == 'default'}
          checked="checked"
          {/if}
        >
        {='Use the default photo sort order'|translate}
      </label>
    </p>
    <p class="field">
      <label class="font-checkbox">
        <span class="icon-dot-circled"></span>
        <input
          type="radio"
          name="image_order_choice"
          id="image_order_rank"
          value="rank"
          {if $imageOrderChoice == 'rank'}
          checked="checked"
          {/if}
        >
        {='manual order'|translate}
      </label>
    </p>
    <p class="field">
      <label class="font-checkbox">
        <span class="icon-dot-circled"></span>
        <input
          type="radio"
          name="image_order_choice"
          id="image_order_user_define"
          value="user_define"
          {if $imageOrderChoice == 'user_define'}
          checked="checked"
          {/if}
        >
        {='automatic order'|translate}
      </label>
      <div id="image_order_user_define_options">
        <p n:foreach="$imageOrder as $order" class="field">
          <select name="image_order[]">
            <option
              n:foreach="$imageOrderOptions as $optKey => $optLabel"
              value="{$optKey}"
              n:attr="selected: in_array($optKey, array_map(strval(...), (array) $order), true) ? 'selected' : null"
            >{html_entity_decode(strval($optLabel))}</option>
          </select>
        </p>
      </div>
    </p>
    </fieldset>

  <div class="savebar-footer">
    <div class="savebar-footer-start">
      <div class="savebar-footer-block">
        <div class="switch-input">
          <label class="switch">
            <input
              type="checkbox"
              name="image_order_subcats"
              id="image_order_subcats"
            >
            <span class="slider round"></span>
          </label>
        </div>
        <label
          class="switch-label"
          for="apply_on_sub"
        ><span>{='Apply to sub-albums'|translate}</span></label>
      </div>
    </div>
    <div class="savebar-footer-end">
      <div n:if="isset($saveSuccess)" class="savebar-footer-block">
        <div class="badge info-message">
          <i class="icon-ok"></i>{$saveSuccess}
        </div>
      </div>

      <div class="savebar-footer-block">
        <button
          id="applyAction"
          class="buttonLike"
          type="submit"
          name="submit"
        ><i class="icon-floppy"></i>{='Save order'|translate}</button>
      </div>
    </div>
  </div>
</form>
