{* $Id *}
<h2>{$TITLE}</h2>

<form method="post" action="{$F_ACTION|noescape}">
  {$DOUBLE_SELECT|noescape}
  <input type="hidden" name="pwg_token" value="{$CSRF_TOKEN}">
</form>

<p>{='Only private albums are listed'|translate}</p>
