{templateType Piwigo\Admin\Projection\GroupPermView}
{* $Id *}
<h2>{$title}</h2>

<form method="post" action="{$formAction|noescape}">
  {$doubleSelect}
  <input type="hidden" name="pwg_token" value="{$pwgToken}">
</form>

<p>{='Only private albums are listed'|translate}</p>
