{*
          Warning : This is the admin pages header only
          don't confuse with the public page header
*}
<!DOCTYPE html>
<html lang="{$lang_info['code']}" dir="{$lang_info['direction']}">
  <head>
    {if $SHOW_MOBILE_APP_BANNER}
      <meta name="apple-itunes-app" content="app-id=472225196">
    {/if}
    <meta charset="{$CONTENT_ENCODING}">
    <title>{$GALLERY_TITLE} :: {$PAGE_TITLE}</title>
    <link
      rel="icon"
      type="image/svg+xml"
      href="{$ROOT_URL}{$themeconf['icon_dir']}/piwigo.org-icon 1.svg"
    >
    <link
      rel="stylesheet"
      type="text/css"
      href="{$ROOT_URL}themes/admin/default/fonts/open-sans/open-sans.css"
    >

    {spaceless}
      {do combineCss(path: "themes/admin/default/fontello/css/fontello.css", order: -10)}
      {var $theme_id = ""}
      {foreach $themes as $theme}
        {var $theme_id = $theme['id']}

        {if $theme['load_css']}
          {do combineCss(path: "themes/admin/" . $theme['id'] . "/theme.css", order: -10)}
          {do combineCss(path: "themes/admin/" . $theme['id'] . "/css/components/general.css", order: -9)}
        {/if}
        {if !empty($theme['local_head'])}
          {include $theme['local_head'], load_css: $theme['load_css']}
        {/if}
      {/foreach}

      {do combineScript(id: 'jquery', path: 'themes/default/js/jquery.min.js')}
    {/spaceless}

    <!-- BEGIN get_combined -->
    {=getCombinedCss()}

    {=getCombinedScripts('header')}
    <!-- END get_combined -->

    {if !empty($head_elements)}
      {foreach $head_elements as $elt}
        {$elt|noescape}
      {/foreach}
    {/if}
  </head>

  <body id="{$BODY_ID}">
    <div id="the_page">
      {if !empty($header_msgs)}
        <div class="header_msgs">
          {foreach $header_msgs as $elt}
            {$elt}
          {/foreach}
        </div>
      {/if}

      <div id="pwgHead">
        <a
          href="{$U_RETURN|noescape}"
          class="visit-gallery tiptip"
          title="{='Visit Gallery'|translate}"
        ><i class="icon-left-open"></i>{='Visit'|translate}</a>
        <div class="pwgHead-gallery-title">{$GALLERY_TITLE}</div>

        <div id="headActions">
          <span class="admin-head-username"><i
              class="icon-user"
            ></i>{$USERNAME}</span>
          {*
    <a href="{$U_RETURN}" title="{'Visit Gallery'|translate}"><i class="icon-eye"></i><span>{'Visit Gallery'|translate}</span></a>
*}

          {spaceless}
            <a
              href="{$U_CHANGE_THEME|noescape}"
              class="tiptip"
              title="{='Switch to clear or dark colors for administration'|translate}"
            >
              {if $theme_id == "clear"}
                <i class="icon-moon-inv"></i><span>Dark</span>
              {elseif $theme_id == "roma"}
                <i class="icon-sun-inv"></i><span>Light</span>
              {/if}
            </a>
          {/spaceless}

          <a
            class="tiptip"
            href="{$U_FAQ|noescape}"
            title="{='Instructions to use Piwigo'|translate}"
          ><i
              class="icon-help-circled"
            ></i><span>{='Help Me'|translate}</span></a>
          <a href="{$U_LOGOUT|noescape}"><i
              class="icon-logout"
            ></i><span>{='Logout'|translate}</span></a>
        </div>
      </div>

      <div style="clear:both;"></div>

      {if !empty($header_notes)}
        <div class="header_notes">
          {foreach $header_notes as $elt}
            {$elt}
          {/foreach}
        </div>
      {/if}

      <div id="pwgMain">
        {*
  This file is deliberately left unclosed here (<div id="the_page">,
  <body>, <html> above, and <div id="pwgMain"> right above this comment,
  are never closed in this file). The rest of the page (varies by
  controller) is appended next, followed by footer.latte, both via
  Template::parse()'s shared output buffer (PageHeaderRenderer /
  PageTailRenderer) -- not {include}. footer.latte is the file that
  closes them.
*}
