{templateType Piwigo\Controller\Admin\Projection\IntroView}
{include 'include/colorbox.inc.latte'}

{do combineScript(id: 'jquery.cluetip', load: 'async', require: 'jquery', path: 'themes/default/js/plugins/jquery.cluetip.js')}

{do exposeString('A new version of Piwigo is available.')}
{do exposeString('Some upgrades are available for extensions.')}
{do exposeString('%s GB used')}
{do exposeString('%s MB used')}
{do exposeString('%sGB')}
{do exposeString('%sMB')}
{do exposeString('%d files')}
{do exposeData('storage_total', $storageTotal)}
{do exposeData('storage_chart_data', $storageChartData)}
{do exposeData('check_for_updates', $checkForUpdates)}
{do exposeData('subscribe_base_url', $subscribeBaseUrl)}
{do exposeData('email', $email)}
{do exposeData('old_newsletters_url', $oldNewslettersUrl)}
{foreach $storageChartData as $type_to_translate => $details}
  {do exposeString($type_to_translate)}
{/foreach}
{if isset($subscribeBaseUrl)}
  {do exposeString('Subscribe to our newsletter and stay updated!')}
  {do exposeString('Sign up to the newsletter')}
  {do exposeString('See previous newsletters')}
  {do exposeString('Understood, do not show again')}
{/if}
{do combineScript(id: 'intro', load: 'footer', require: 'jquery.cluetip,page-data', path: 'themes/admin/default/js/intro.js')}
{do combineScript(id: 'intro_tooltips', load: 'footer', path: 'themes/admin/default/js/intro_tooltips.js')}

{do combineCss(id: 'intro', path: 'themes/admin/default/css/pages/intro.css')}

<h2>{='Piwigo Administration'|translate}</h2>

<div class="intro-page-container">
  <div class="stat-boxes">
    <a n:if="$nbPhotos > 1" class="stat-box" href="{$U_ADD_PHOTOS|noescape}">
      <i class="icon-picture icon-yellow"></i>
      <span class="number">{$nbPhotos|number}</span><span
        class="caption"
      >{='Photos'|translate}</span>
    </a>

    <a n:if="$nbAlbums > 1" class="stat-box" href="{$U_ALBUMS|noescape}">
      <i class="icon-sitemap icon-red"></i>
      <span class="number">{$nbAlbums}</span><span
        class="caption"
      >{='Albums'|translate}</span>
    </a>

    <a n:if="$nbTags > 1" class="stat-box" href="{$U_TAGS|noescape}">
      <i class="icon-tags icon-yellow"></i>
      <span class="number">{$nbTags}</span><span
        class="caption"
        title="{='%d associations'|translate:$nbImageTag}"
      >{='Tags'|translate}</span>
    </a>

    <a n:if="$nbUsers > 2" class="stat-box" href="{$U_USERS|noescape}">
      <i class="icon-users icon-purple"></i>
      {* -1 because we don't count the "guest" user *}
      <span class="number">{$nbUsers - 1}</span><span
        class="caption"
      >{='Users'|translate}</span>
    </a>

    <a n:if="$nbGroups > 0" class="stat-box" href="{$U_GROUPS|noescape}">
      <i class="icon-group icon-purple"></i>
      <span class="number">{$nbGroups}</span><span
        class="caption"
      >{='Groups'|translate}</span>
    </a>

    <a n:if="$nbComments > 1" class="stat-box" href="{$U_COMMENTS|noescape}">
      <i class="icon-chat icon-blue"></i>
      <span class="number">{$nbComments}</span><span
        class="caption"
      >{='Comments'|translate}</span>
    </a>

    <a n:if="$nbRates > 0" class="stat-box" href="{$U_RATING|noescape}">
      <i class="icon-star icon-yellow"></i>
      <span class="number">{$nbRates}</span><span
        class="caption"
      >{='Rating'|translate}</span>
    </a>

    <a n:if="$nbViews > 0" class="stat-box" href="{$U_HISTORY_STAT|noescape}">
      <i class="icon-signal icon-blue"></i>
      <span class="number">{$nbViews}</span><span
        class="caption"
      >{='Pages seen'|translate}</span>
    </a>

    <a n:if="$nbPlugins > 0" class="stat-box" href="{$U_PLUGINS|noescape}">
      <i class="icon-puzzle icon-green"></i>
      <span class="number">{$nbPlugins}</span><span
        class="caption"
      >{='Plugins'|translate}</span>
    </a>

    <div class="stat-box">
      <i class="icon-hdd icon-blue"></i>
      <span class="number">{$storageUsed|noescape}</span><span
        class="caption"
      >{='Storage used'|translate}</span>
    </div>
  </div> {* .stat-boxes *}

  <div class="intro-charts">
    <div
      class="chart-title"
    > {='Activity peak in the last weeks'|translate}</div>
    <div
      class="activity-chart"
      style="--activity-chart-rows: {=count($activityChartData) + 1}"
    >
      {foreach $activityChartData as $WEEK_NUMBER => $WEEK_ACTIVITY}
        <div
          id="week-{$WEEK_NUMBER}-legend"
          class="row-legend"
        ><div>{='Week %d'|translate:$activityWeekNumber[$WEEK_NUMBER]}</div></div>
        <span
          n:foreach="$WEEK_ACTIVITY as $DAY_NUMBER => $SIZE"
          class="activity_tooltips"
          style="{if $SIZE != 0}--size-in-unit: {=$SIZE / $activityChartNumberSizes * 5 + 1}vw{/if}"
        >
          {if $SIZE != 0}
            {var $SIZE_IN_UNIT = $SIZE / $activityChartNumberSizes * 5 + 1}
            {var $OPACITY_IN_UNIT = $SIZE / $activityChartNumberSizes * 0.6 + 0.2}
            <div
              id="day{$WEEK_NUMBER}-{$DAY_NUMBER}"
              class="activity-day-cell"
            ></div>
            <p
              n:if="$activityLastWeeks[$WEEK_NUMBER][$DAY_NUMBER]['number'] != 0"
              class="tooltip"
            >
              <span class="tooltip-arrow"></span>
              <span class="tooltip-header">
                <span
                  class="tooltip-title"
                >{if $activityLastWeeks[$WEEK_NUMBER][$DAY_NUMBER]['number'] > 1}{='%d Activities'|translate:$activityLastWeeks[$WEEK_NUMBER][$DAY_NUMBER]['number']}{else}{='%d Activity'|translate:$activityLastWeeks[$WEEK_NUMBER][$DAY_NUMBER]['number']}{/if}</span>
                <span
                  class="tooltip-date"
                >{$activityLastWeeks[$WEEK_NUMBER][$DAY_NUMBER]['date']}</span>
              </span>
              <span class="tooltip-details">
                <span
                  n:foreach="$activityLastWeeks[$WEEK_NUMBER][$DAY_NUMBER]['details'] as $cat => $actions"
                  class="tooltip-details-cont"
                >
                  {if $cat == "Group"} <span
                      class="icon-group icon-purple tooltip-details-title"
                    >{$cat|translate}</span>
                  {elseif $cat == "User"} <span
                      class="icon-users icon-purple tooltip-details-title"
                    > {$cat|translate}</span>
                  {elseif $cat == "Album"} <span
                      class="icon-sitemap icon-red tooltip-details-title"
                    >{$cat|translate}</span>
                  {elseif $cat == "Photo"} <span
                      class="icon-picture icon-yellow tooltip-details-title"
                    >{$cat|translate} </span>
                  {elseif $cat == "Tag"} <span
                      class="icon-tags icon-green tooltip-details-title"
                    >{$cat|translate} </span>
                  {else} <span
                      class="tooltip-details-title"
                    > {$cat|translate} </span> {/if}

                  {foreach $actions as $action => $number}
                    {if $action == "Edit"} <span
                        class="icon-pencil tooltip-detail"
                        title="{='%s editions'|translate:$number}"
                      >{$number}</span>
                    {elseif $action == "Add"} <span
                        class="icon-plus tooltip-detail"
                        title="{='%s additions'|translate:$number}"
                      >{$number}</span>
                    {elseif $action == "Delete"} <span
                        class="icon-trash tooltip-detail"
                        title="{='%s deletions'|translate:$number}"
                      >{$number}</span>
                    {elseif $action == "Login"} <span
                        class="icon-key tooltip-detail"
                        title="{='%s login'|translate:$number}"
                      >{$number}</span>
                    {elseif $action == "Logout"} <span
                        class="icon-logout tooltip-detail"
                        title="{='%s logout'|translate:$number}"
                      >{$number} </span>
                    {elseif $action == "Move"} <span
                        class="icon-move tooltip-detail"
                        title="{='%s movement'|translate:$number}"
                      >{$number} </span>
                    {else} <span> ({$action|translate}) {$number} </span>
                    {/if}
                  {/foreach}
                </span>
              </p>
          {/if}
        </span>
      {/foreach}
      <div></div>
      <div n:foreach="$dayLabels as $day" class="col-legend">{$day} <div
          class="line-vertical"
          style="--line-height: {=count($activityChartData) * 100 - 50}%"
        ></div></div>
    </div>

    <div
      id="chart-title-storage"
      class="chart-title"
    > {='Storage'|translate} <span
        class="chart-title-infos"
      > {='%s MB used'|translate:round($storageTotal / 1000, 0)} </span></div>

    <div class="storage-chart">
      <span
        n:foreach="$storageChartData as $type => $details"
        data-type="storage-{$type}"
        style="--storage-width: {if $storageTotal > 0}{=$details['total']['filesize'] / $storageTotal * 100}{else}0{/if}%"
      >
        <p>{if $storageTotal > 0}{=round($details['total']['filesize'] / $storageTotal * 100)}{else}0{/if}%</p>
      </span>
    </div>

    <div class="storage-tooltips">
      <p
        n:foreach="$storageChartData as $type => $value"
        id="storage-{$type}"
        class="tooltip"
      >
        <span class="tooltip-arrow"></span>
        <span class="tooltip-header">
          <span id="storage-title-{$type}" class="tooltip-title"></span>
          <span id="storage-size-{$type}" class="tooltip-size"></span>
          <span id="storage-files-{$type}" class="tooltip-files"></span>
        </span>
        <span class="separated"></span>
        <span id="storage-detail-{$type}" class="tooltip-details"></span>
      </p>
    </div>

    <div class="storage-chart-legend">
      <div
        n:foreach="$storageChartData as $type => $i"
      ><span></span> <p>{$type|translate}</p></div>
    </div>
  </div> {* .intro-chart *}
</div> {* .intro-page-container *}

<p class="showCreateAlbum">
  <a
    n:if="$ENABLE_SYNCHRONIZATION"
    href="{$uQuickSync|noescape}"
    class="icon-exchange"
  >{='Quick Local Synchronization'|translate}</a>
</p>

{*
  check_integrity.latte's own output may be appended here, conditionally
  (only when there's a real integrity anomaly to show) -- see
  CheckIntegrity.php's Template::concat('ADMIN_CONTENT', ...) call,
  which appends onto the string this file's own
  assignVarFromTemplate('ADMIN_CONTENT', 'intro.latte') already set, not
  {include}. This file is otherwise a complete, self-closed document on
  its own.
*}
