{templateType Piwigo\Admin\Projection\LanguagesNewView}
{if $isWebmaster == 1}
  {if $languages !== []}
    <table class="table2 languages">
      <thead>
        <tr class="throw">
          <td>{='Language'|translate}</td>
          <td>{='Version'|translate}</td>
          <td>{='Date'|translate}</td>
          <td>{='Author'|translate}</td>
          <td>{='Actions'|translate}</td>
        </tr>
      </thead>
      <tr
        n:foreach="$languages as $language"
        class="{if $iterator->counter0 % 2 !== 0}row1{else}row2{/if}"
      >
        <td><a
            href="{$language->url|noescape}"
            class="externalLink cluetip"
            title="{$language->name}|{$language->description|htmlspecialchars|nl2br|noescape}"
          >{$language->name}</a></td>
        <td class="centered-cell"><a
            href="{$language->url|noescape}"
            class="externalLink cluetip"
            title="{$language->name}|{$language->versionDescription|htmlspecialchars|nl2br|noescape}"
          >{$language->version}</a></td>
        <td>{$language->date}</td>
        <td>{$language->author}</td>
        <td class="centered-cell"><a
            href="{$language->installUrl|noescape}"
          >{='Install'|translate}</a>
          / <a
            href="{$language->downloadUrl|noescape}"
          >{='Download'|translate}</a>
        </td>
      </tr>
    </table>
  {else}
    <p>{='There is no other language available.'|translate}</p>
  {/if}
{/if}
