{templateType Piwigo\Admin\Projection\LanguagesNewView}
{do combineScript(id: 'jquery.cluetip', load: 'async', require: 'jquery', path: 'themes/default/js/plugins/jquery.cluetip.js')}

{do combineScript(id: 'languages_new', load: 'footer', require: 'jquery.cluetip', path: 'themes/admin/default/js/languages_new.js')}
{do combineCss(id: 'languages_new', path: 'themes/admin/default/css/pages/languages_new.css')}

{if $isWebmaster == 1}
  {if !empty($languages)}
    <table class="table2 languages">
      <thead>
        <tr class="throw">
          <td>{='Language'|translate}</td>
          <td>{='Version'|translate}</td>
          <td>{='Date'|translate}</td>
          <td>{='Author'|translate}</td>
          <td>{='Actions'|translate}</td>
        </tr>
      </thead>
      <tr
        n:foreach="$languages as $language"
        class="{if $iterator->counter0 % 2 !== 0}row1{else}row2{/if}"
      >
        <td><a
            href="{$language['EXT_URL']|noescape}"
            class="externalLink cluetip"
            title="{$language['EXT_NAME']}|{$language['EXT_DESC']|htmlspecialchars|nl2br|noescape}"
          >{$language['EXT_NAME']}</a></td>
        <td class="centered-cell"><a
            href="{$language['EXT_URL']|noescape}"
            class="externalLink cluetip"
            title="{$language['EXT_NAME']}|{$language['VER_DESC']|htmlspecialchars|nl2br|noescape}"
          >{$language['VERSION']}</a></td>
        <td>{$language['DATE']}</td>
        <td>{$language['AUTHOR']}</td>
        <td class="centered-cell"><a
            href="{$language['URL_INSTALL']|noescape}"
          >{='Install'|translate}</a>
          / <a
            href="{$language['URL_DOWNLOAD']|noescape}"
          >{='Download'|translate}</a>
        </td>
      </tr>
    </table>
  {else}
    <p>{='There is no other language available.'|translate}</p>
  {/if}
{/if}
