{templateType Piwigo\Admin\Projection\MaintenanceSysView}
{if $isWebmaster}
  <fieldset id="activities-system">
    <div class="tab-header">
      <div class="tab-object">
        <p>{='Object'|translate}</p>
      </div>
      <div class="tab-action">
        <p>{='Action'|translate}</p>
      </div>
      <div class="tab-users">
        <p>{='Users'|translate}</p>
      </div>
      <div class="tab-date">
        <p>{='Date'|translate}</p>
      </div>
      <div class="tab-details">
        <p>{='Details'|translate}</p>
      </div>
    </div>

    <div
      n:foreach="$activityLogEntries as $entry"
      id="{$entry['id']}"
      class="tab-body line{if $entry['major_infos']} major-infos{/if}"
    >
      <div class="tab-body-object">
        <p>
          <span class="icon_object {$entry['object_icon']}"></span>
          <span
            class="text_object"
            title="{$entry['object']}"
          >{$entry['object']}</span>
        </p>
      </div>
      <div class="tab-body-action">
        <p class="color_action {$entry['action_color']}">
          <span class="icon_action {$entry['action_icon']}"></span>
          <span
            class="text_action"
            title="{$entry['action']}"
          >{$entry['action']}</span>
        </p>
      </div>
      <div class="tab-body-users">
        <p>
          {if $entry['username'] === 'System'}
            <span class="icon_user icon-robot-head"></span>
          {else}
            <span
              class="icon_user {=['icon-red', 'icon-blue', 'icon-yellow', 'icon-purple', 'icon-green'][$entry['user_id'] % 5]}"
            >{$entry['initial']}</span>
          {/if}
          <span
            class="text_username"
            title="{$entry['username']}"
          >{$entry['username']}</span>
        </p>
      </div>
      <div class="tab-body-date">
        <p>
          <span class="icon icon-clock"></span>
          <span
            class="text_date"
            title="{$entry['date']} {$entry['hour']}"
          >{$entry['date']}</span>
          <span class="text_hour">{$entry['hour']}</span>
        </p>
      </div>
      <div class="tab-body-details">
        {foreach $entry['detailItems'] as $i => $item}
          {if $i > 0 && $entry['detailArrow']}<span
              class="icon-right"
            >&nbsp;</span>{/if}
          <p class="detail-item">
            <span class="icon_details {$item['icon']}"></span>
            <span
              class="text_details"
              title="{$item['text']}"
            >{$item['text']}</span>
          </p>
        {/foreach}
      </div>
    </div>
  </fieldset>
{/if}
