{templateType Piwigo\Admin\Projection\MaintenanceActionsView}
{if $isWebmaster == 1}
  <fieldset class="">
    <legend><span
        class="icon-globe icon-blue"
      ></span>{='Global Gallery Actions'|translate}</legend>
    <div class="maintenance-action-group">
      {if isset($maintLockGallery)}
        <a
          href="{$maintLockGallery|noescape}"
          class="lock-gallery-button {$maintActions['lock_gallery']['icon']} maintenance-action"
        >{$maintActions['lock_gallery']['label']}</a>
      {else}
        <a
          href="{$maintUnlockGallery|noescape}"
          class="lock-gallery-button {$maintActions['unlock_gallery']['icon']} maintenance-action"
        >{$maintActions['unlock_gallery']['label']}</a>
      {/if}
      <a
        href="{$maintCategories|noescape}"
        class="{$maintActions['categories']['icon']} maintenance-action"
      >{$maintActions['categories']['label']}</a>
      <a
        href="{$maintImages|noescape}"
        class="{$maintActions['images']['icon']} maintenance-action"
      >{$maintActions['images']['label']}</a>
      <a
        href="{$maintDatabase|noescape}"
        class="{$maintActions['database']['icon']} maintenance-action"
      >{$maintActions['database']['label']}</a>
      <a
        href="{$maintC13y|noescape}"
        class="{$maintActions['c13y']['icon']} maintenance-action"
      >{$maintActions['c13y']['label']}</a>
      <a
        n:if="isset($uEmptyLounge)"
        href="{$uEmptyLounge|noescape}"
        class="{$maintActions['empty_lounge']['icon']} maintenance-action tiptip"
        title="{='There is currently %d photos in the lounge (upload buffer)'|translate:$loungeCounter}"
      >{$maintActions['empty_lounge']['label']}<span
          class="multiple-pictures-sizes"
        >{$loungeCounter}</span></a>
    </div>
  </fieldset>
  <fieldset class="">
    <legend><span
        class="icon-trash-1 icon-green"
      ></span>{='Purge Actions'|translate}</legend>
    <div class="maintenance-action-group">
      <a
        href="{$maintUserCache|noescape}"
        class="{$maintActions['user_cache']['icon']} maintenance-action"
      >{$maintActions['user_cache']['label']}</a>
      <a
        href="{$maintOrphanTags|noescape}"
        class="{$maintActions['delete_orphan_tags']['icon']} maintenance-action"
      >{$maintActions['delete_orphan_tags']['label']}</a>
      <a
        href="{$maintHistoryDetail|noescape}"
        class="{$maintActions['history_detail']['icon']} maintenance-action purge-history-detail-button"
      >{$maintActions['history_detail']['label']}</a>
      <a
        href="{$maintHistorySummary|noescape}"
        class="{$maintActions['history_summary']['icon']} maintenance-action purge-history-summary-button"
      >{$maintActions['history_summary']['label']}</a>
      <a
        href="{$maintSessions|noescape}"
        class="{$maintActions['sessions']['icon']} maintenance-action"
      >{$maintActions['sessions']['label']}</a>
      <a
        href="{$maintFeeds|noescape}"
        class="{$maintActions['feeds']['icon']} maintenance-action"
      >{$maintActions['feeds']['label']}</a>
      <a
        href="{$maintSearch|noescape}"
        class="{$maintActions['search']['icon']} maintenance-action purge-search-history-button"
      >{$maintActions['search']['label']}</a>
    </div>
  </fieldset>

  <fieldset n:if="$advancedFeatures !== []" class="">
    <legend><span
        class="icon-puzzle icon-purple"
      ></span>{='Advanced features'|translate}</legend>
    <div class="maintenance-action-group">
      <a
        n:foreach="$advancedFeatures as $feature"
        href="{$feature->url}"
        class="{$feature->icon} maintenance-action"
      >{$feature->caption}</a>
    </div>
  </fieldset>

  <fieldset class="">
    <legend><span
        class="icon-trash-1 icon-red"
      ></span>{='Purge Cache'|translate}</legend>

    <div class="template-purge">
      <div class="cache-infos">
        <span class="cache-size-text">{='Cache size'|translate}</span>
        <span class="cache-size-value">
          {if isset($cacheSizes) and $cacheSizes->cacheSize !== null}
            {='%s MB'|translate:round($cacheSizes->cacheSize / 1024 / 1024, 2)}
          {else}
            {='N/A'|translate}
          {/if}
        </span>
        <span
          class="cache-lastCalculated-text"
        >{if $timeElapsedSinceLastCalc !== null}&ThickSpace;{='calculated'|translate}{/if}</span>
        <span
          class="cache-lastCalculated-value"
        >{if $timeElapsedSinceLastCalc !== null} {$timeElapsedSinceLastCalc} {else} &ThickSpace;{='never calculated'|translate} {/if}</span>
        <a class="refresh-cache-size"><span
            class="refresh-icon icon-arrows-cw"
          ></span>{='Refresh'|translate}</a>
      </div>
      <a
        href="{$maintCompiledTemplates|noescape}"
        class="{$maintActions['compiled-templates']['icon']} maintenance-action"
      >{$maintActions['compiled-templates']['label']}
        <span class="multiple-compiledTemplate-sizes">
          {if isset($cacheSizes) and $cacheSizes->tsizes !== null}
            {='%s MB'|translate:round($cacheSizes->tsizes / 1024 / 1024, 2)}
          {else}
            {='N/A'|translate}
          {/if}
        </span>
      </a>
    </div>

    <div class="delete-size-checks">
      <span
        id="label-delete-size-checkbox"
      >{$maintActions['derivatives']['label']}
        <span class="multiple-pictures-sizes">
          {if isset($cacheSizes) and isset($cacheSizes->msizes['all'])}
            {='%s MB'|translate:round($cacheSizes->msizes['all'] / 1024 / 1024, 2)}
          {else}
            {='N/A'|translate}
          {/if}
        </span>
      </span>
      <div class="delete-check-container">
        <div
          n:foreach="$purgeDerivatives as $name => $url"
          class="delete-size-check"
          title="{if isset($cacheSizes) and isset($cacheSizes->msizes[$url])}{='%s MB'|translate:round($cacheSizes->msizes[$url] / 1024 / 1024, 2)}{else}{='N/A'|translate}{/if}"
          data-selected="0"
          name="{$url}"
        >
          <span class="select-checkbox"><i class="icon-ok"></i></span>
          <span class="picture-deletion-size">{$name}</span>
        </div>
      </div>
    </div>

    <a class="icon-ok delete-sizes">{='Delete these sizes'|translate}</a>
  </fieldset>
{/if}
