{templateType Piwigo\Admin\Projection\MaintenanceEnvView}
<fieldset id="environment">
  <legend><span
      class="icon-television icon-red"
    ></span> {='Environment'|translate}</legend>
  <ul class="bold-list">
    <li><a href="{$phpwgUrl}" class="externalLink">Piwigo</a> {$pwgVersion} <a
        href="{$checkUpgradeUrl|noescape}&tab=env"
        class="icon-arrows-cw"
      >{='Check for upgrade'|translate}</a></li>
    <li
      n:if="isset($installedOn)"
    >{='Installed on %s, %s'|translate:$installedOn,$installedSince}</li>
    <li>{='Operating system'|translate}: {$os}</li>
    <li
      n:if="$containerInfo != 'none'"
    >{='Container info'|translate}: {$containerInfo}</li>
    <li>PHP: {$phpVersion} (<a
        href="{$phpinfoUrl|noescape}"
        class="externalLink"
      >{='Show info'|translate}</a>) [{$phpCurrentTimestamp}]</li>
    <li>{$dbEngine}: {$dbVersion} [{$dbCurrentDate}]</li>
    <li
      n:if="isset($graphicsLibrary)"
    >{='Graphics Library'|translate}: {$graphicsLibrary}</li>
    <li>
      <span class="cache-size-text">{='Cache size'|translate}</span>
      <span class="cache-size-value">
        {if isset($cache_sizes) and $cache_sizes->cacheSize !== null}
          {=round($cache_sizes->cacheSize / 1024 / 1024, 2)} Mo
        {else}
          {='N/A'|translate}
        {/if}
      </span>
      <span
        class="cache-lastCalculated-text"
      >{if $time_elapsed_since_last_calc}&ThickSpace;{='calculated'|translate}{/if}</span>
      <span
        class="cache-lastCalculated-value"
      >{if $time_elapsed_since_last_calc} {$time_elapsed_since_last_calc} {else} &ThickSpace;{='never calculated'|translate} {/if}</span>
      <a class="refresh-cache-size"><span
          class="refresh-icon icon-arrows-cw"
        ></span>{='Refresh'|translate}</a>
    </li>
  </ul>
</fieldset>

<fieldset id="pluginList">
  <legend><span
      class="icon-puzzle icon-green"
    ></span> {='Activated plugin list'|translate} <span
      class="badge-number"
    >{=count($activePluginNames)}</span></legend>
  <ul class="bold-list">
    {if $activePluginNames === []}
      <p>{='No plugin activated'|translate}</p>
    {else}
      <li n:foreach="$activePluginNames as $name">{$name}</li>
    {/if}
  </ul>
</fieldset>
