{templateType Piwigo\Controller\Projection\NavigationBarView}
<div class="pagination-container">
  {if $navbar->urlFirst !== null}
    <a
      href="{$navbar->urlPrev|noescape}"
      class='pagination-arrow left'
      rel="prev"
    >
      <span class="icon-left-open"></span>
    </a>
  {else}
    <a class='pagination-arrow left unavailable'>
      <span class="icon-left-open"></span>
    </a>
  {/if}

  {var $prev_page = 0}
  <div class="pagination-item-container">
    {foreach $navbar->pages as $page => $url}
      <span n:if="$page > $prev_page + 1">...</span>
      {if $page === $navbar->currentPage}
        <a class="actual">{$page}</a>
      {else}
        <a href="{$url|noescape}">{$page}</a>
      {/if}
      {var $prev_page = $page}
    {/foreach}
  </div>

  {if $navbar->urlNext !== null}
    <a
      href="{$navbar->urlNext|noescape}"
      class='pagination-arrow rigth'
      rel="next"
    >
      <span class="icon-left-open"></span>
    </a>
  {else}
    <a class='pagination-arrow rigth unavailable'>
      <span class="icon-left-open"></span>
    </a>
  {/if}
</div>
