{templateType Piwigo\Controller\Admin\Projection\PermalinksView}

<p id="showAddPermalink"><a
    href="#"
    id="addPermalinkOpen"
  >{='Add/delete a permalink'|translate}</a></p>

<form method="post" action="" id="addPermalink" class="u-hidden">
  <fieldset>
    <legend>{='Add/delete a permalink'|translate}</legend>
    <p>
      <strong>{='Album'|translate}</strong>
      <br>
      <select name="cat_id">
        <option value="0">------</option>
        <option
          n:foreach="$categoriesOptions->options as $optKey => $optLabel"
          value="{$optKey}"
          n:attr="selected: in_array((string) $optKey, array_map(strval(...), $categoriesOptions->selected), true) ? 'selected' : null"
        >{html_entity_decode(strval($optLabel))}</option>
      </select>
    </p>

    <p>
      <strong>{='Permalink'|translate}</strong>
      <br><input name="permalink">
    </p>

    <p>
      <label><input
          type="checkbox"
          name="save"
          checked="checked"
        > <strong>{='Save to permalink history'|translate}</strong></label>
    </p>

    <p class="actionButtons">
      <input
        type="submit"
        class="submit"
        name="set_permalink"
        value="{='Submit'|translate}"
      >
      <a href="#" id="addPermalinkClose">{='Cancel'|translate}</a>
    </p>
  </fieldset>
  <input type="hidden" name="pwg_token" value="{$csrfToken}">
</form>

<fieldset>
  <legend><span
      class="icon-lock icon-blue"
    ></span>{='Permalinks'|translate}</legend>
  <table class="table2 permalinks-table">
    <tr class="throw">
      <td>Id {$sortId|noescape}</td>
      <td>{='Album'|translate} {$sortName|noescape}</td>
      <td>{='Permalink'|translate} {$sortPermalink|noescape}</td>
    </tr>
    <tr
      n:foreach="$permalinks as $permalink"
      class="permalink-row {if $iterator->counter0 % 2 !== 0}row1{else}row2{/if}"
    >
      <td class="centered-cell">{$permalink->id}</td>
      <td>{$permalink->name|noescape}</td>
      <td>{$permalink->permalink}</td>
    </tr>
  </table>
</fieldset>

<fieldset>
  <legend><span
      class="icon-lock icon-red"
    ></span>{='Permalink history'|translate} <a
      name="old_permalinks"
    ></a></legend>
  <table class="table2 permalinks-table">
    <tr class="throw">
      <td>Id {$sortOldCatId|noescape}</td>
      <td>{='Album'|translate}</td>
      <td>{='Permalink'|translate} {$sortOldPermalink|noescape}</td>
      <td>{='Deleted on'|translate} {$sortOldDateDeleted|noescape}</td>
      <td>{='Last hit'|translate} {$sortOldLastHit|noescape}</td>
      <td>{='Hit'|translate} {$sortOldHit|noescape}</td>
      <td class="hit-history-spacer"></td>
    </tr>
    <tr
      n:foreach="$deletedPermalinks as $deletedPermalink"
      class="permalink-row"
    >
      <td class="centered-cell">{$deletedPermalink->catId}</td>
      <td>{$deletedPermalink->name|noescape}</td>
      <td>{$deletedPermalink->permalink}</td>
      <td>{$deletedPermalink->dateDeleted}</td>
      <td>{$deletedPermalink->lastHit}</td>
      <td>{$deletedPermalink->hit}</td>
      <td><a href="{$deletedPermalink->uDelete|noescape}"><img
            src="{$ROOT_URL}{$themeconf['admin_icon_dir']}/delete.png"
            alt="[{='Delete'|translate}]"
          ></a></td>
    </tr>
  </table>
</fieldset>
