{templateType Piwigo\Admin\Projection\PhotosAddDirectView}
{if isset($addToAlbum) or isset($selectedCategoryName)}{var $can_upload = true}{else}{var $can_upload = false}{/if}

{if !$displayFormats}
  {include 'include/add_album.inc.latte'}
{/if}

<div id="photosAddContent">
  {if count($setupErrors) > 0}
    <div class="errors">
      <ul>
        <li n:foreach="$setupErrors as $error">{$error}</li>
      </ul>
    </div>
  {else}
    <div n:if="count($setupWarnings) > 0" class="warnings">
      <ul>
        <li n:foreach="$setupWarnings as $warning">{$warning}</li>
      </ul>
      <div class="hideButton centered-block"><a
          href="{$hideWarningsLink|noescape}"
        >{='Hide'|translate}</a></div>
    </div>
  {/if} {* $setupErrors *}

  <div n:if="$promoteMobileApps" class="promote-apps">
    <div class="promote-content">
      <div class="left-side">
        <img
          src="https://sandbox.piwigo.com/uploads/4/y/1/4y1zzhnrnw//2023/01/24/20230124175152-015bc1e3.png"
        >
      </div>
      <div class="promote-text">
        <span>{='Piwigo is also on mobile.'|translate}</span>
        <span>{='Try now !'|translate}</span>
      </div>
      <div class="right-side">
        <div>
          <a href="{$phpwgUrl}/mobile-applications" target="_blank"><span
              class="go-to-porg icon-link-1"
            >{='Discover'|translate}</span></a>
        </div>
      </div>
    </div>
    <span
      class="dont-show-again icon-cancel tiptip"
      title="{='Understood, do not show again'|translate}"
    ></span>
  </div>

  <div n:if="$enableFormats and $can_upload" class="format-mode-group-manager">
    <label
      class="switch"
      onClick="window.location.replace({$switchFormatModeUrl}); $('.switch .slider').addClass('loading');"
    >
      <input
        type="checkbox"
        id="toggleFormatMode"
        {if $displayFormats}
        checked
        {/if}
      >
      <span class="slider round"></span>
    </label>
    <p>{='Upload Formats'|translate}</p>
  </div>

  <div
    n:if="!$displayFormats"
    class="addAlbumEmptyCenter{if $nbAlbums > 0} u-hidden{/if}"
  >
    <div class="addAlbumEmpty">
      <div class="addAlbumEmptyTitle">{='Welcome!'|translate}</div>
      <p
        class="addAlbumEmptyInfos"
      >{='Piwigo requires an album to add photos.'|translate}</p>
      <a
        class="buttonLike"
        id="btnFirstAlbum"
      >{='Create a first album'|translate}</a>
    </div>
  </div>

  <div class="infos u-hidden"><i class="eiw-icon icon-ok"></i></div>
  <div class="errors u-hidden"><i
      class="eiw-icon icon-cancel"
    ></i><ul></ul></div>

  <p class="afterUploadActions u-hidden">
    {if !$displayFormats}
      <a class="batchLink icon-pencil"></a><span
        class="buttonSeparator"
      >{='or'|translate}</span><a
        href="admin.php?page=photos_add"
        class="secondary_button icon-plus-circled"
      >{='Add another set of photos'|translate}</a>
    {else}
      <a
        href="admin.php?page=photos_add&formats"
        class="icon-plus-circled"
      >{='Add another set of formats'|translate}</a>
    {/if}
  </p>

  <form
    id="uploadForm"
    class="{if $displayFormats}format-mode{/if}{if $nbAlbums == 0} u-hidden{/if}"
    enctype="multipart/form-data"
    method="post"
    action="{$formAction|noescape}"
  >
    {if !$displayFormats}
      <fieldset class="selectAlbum">
        <legend><span
            class="icon-folder-open icon-red"
          ></span>{='Drop into album'|translate}</legend>
        <div
          class="selectedAlbum{if !$can_upload} u-hidden{/if}"
          id="selectedAlbum"
        >
          <span
            class="icon-sitemap"
            id="selectedAlbumName"
          >{if isset($addToAlbum)}{$addToAlbum|noescape}{elseif isset($selectedCategoryName)}{$selectedCategoryName|noescape}{/if}</span>
          <a class="icon-pencil" id="selectedAlbumEdit"></a>
        </div>
        <div
          class="selectAlbumSelector{if $can_upload} u-hidden{/if}"
          id="addPhotosAS"
        >
          <p
            class="head-button-1 icon-folder-open"
            id="btnPhotosAS"
          >{='Select or create an album'|translate}</p>
        </div>
      </fieldset>
    {elseif $haveFormatsOriginal}
      <fieldset class="originalPicture">
        <legend><span
            class="icon-link-1 icon-red"
          ></span>{='Picture to associate formats with'|translate}</legend>
        <a
          class='info-framed'
          href='{$formatsOriginalInfo['u_edit']|noescape}'
          title='{='Edit photo'|translate}'
        >
          <div class='info-framed-icon'>
            <img src='{$formatsOriginalInfo['src']|noescape}'></i>
          </div>
          <div class='info-framed-container'>
            <div
              class='info-framed-title'
            >{$formatsOriginalInfo['name']}</div>
            <div
              n:if="isset($formatsOriginalInfo['formats'])"
            >{$formatsOriginalInfo['formats']}</div>
            <div>{$formatsOriginalInfo['ext']}</div>
          </div>
        </a>
      </fieldset>
    {/if}
    <fieldset class="selectFiles">
      <legend>
        <div class="select-files-legend-row">
          <span
            class="icon-file-image icon-yellow"
          ></span>{='Select files'|translate}
          <div
            n:if="!$displayFormats"
            id="uploadOptions"
            class="upload-options"
          >
            <span
              class="icon-equalizer rotate-element upload-options-icon"
            ></span>{='Options'|translate}
          </div>
        </div>
        <div
          n:if="!$displayFormats"
          class="upload-options-content"
          id="uploadOptionsContent"
        >
          <label class="switch">
            <input type="checkbox" id="toggleUpdateMode">
            <span class="slider round"></span>
          </label>
          <div class="update-mode-hint">
            <p>{='If a photo in this album has the same filename, update the file without changing the photo\'s properties'|translate}</p>
          </div>
        </div>
      </legend>

      <div class="selectFilesButtonBlock">
        <button
          id="addFiles"
          class="buttonLike icon-plus-circled"
          {if !$can_upload}
          disabled
          {/if}
        >
          {if !$displayFormats}{='Add Photos'|translate}{else}{='Add formats'|translate}{/if}
        </button>
        <div class="selectFilesinfo">
          <p
            n:if="isset($originalResizeMaxheight)"
            class="uploadInfo"
          >{='The picture dimensions will be reduced to %dx%d pixels.'|translate:$originalResizeMaxwidth,$originalResizeMaxheight}</p>
          <p id="uploadWarningsSummary">
            {if !$displayFormats}
              {='Allowed file types: %s.'|translate:$uploadFileTypes}
            {else}
              {='Allowed file types: %s.'|translate:$strFormatExt}
              <p
                n:if="!$haveFormatsOriginal"
              >{='The original picture will be detected with the filename (without extension).'|translate}</p>
            {/if}
          </p>
          </p>
          {if isset($maxUploadResolution)}
            {='Approximate maximum resolution: %dM pixels (that\'s %dx%d pixels).'|translate:$maxUploadResolution,$maxUploadWidth,$maxUploadHeight}
          {/if}
          </p>
        </div>
      </div>
      <div
        class="photosUploader{if !$can_upload} u-hidden{/if}"
        id="uploader"
      >
        <p>Your browser doesn't have HTML5 support.</p>
      </div>
      <div
        class="selectAlbumFirst{if $can_upload} u-hidden{/if}"
        id="chooseAlbumFirst"
      >
        <p>{='First choose an album, then add your files'|translate}</p>
      </div>
    </fieldset>

    <div id="uploadingActions" class="u-hidden">
      <div class="big-progressbar">
        <div class="progressbar"></div>
      </div>
      <button
        id="cancelUpload"
        class="buttonLike icon-cancel-circled"
      >{='Cancel'|translate}</button>
    </div>

    <button
      id="startUpload"
      class="buttonLike icon-upload"
      disabled
    >{='Start Upload'|translate}</button>
  </form>

  <fieldset class="Addedphotos u-hidden">
    <div id="uploadedPhotos"></div>
  </fieldset>
</div> <!-- photosAddContent -->
<div class="bg-modal" id="addFirstAlbum">
  <div class="new-album-modal-content">
    <a class="icon-cancel close-modal" id="closeFirstAlbum"></a>

    <div class="AddIconContainer">
      <span class="AddIcon icon-blue icon-add-album"></span>
    </div>
    <div class="AddIconTitle">
      <span>{='Create your first album'|translate}</span>
    </div>
    <div class="AddAlbumInputContainer">
      <label
        class="user-property-label AddAlbumLabelUsername"
      >{='Album name'|translate}
        <input class="user-property-input" id="inputFirstAlbum">
      </label>
    </div>
    <a
      class="buttonLike icon-plus"
      id="btnAddFirstAlbum"
    >{='Create and select'|translate}</a>
  </div>
</div>

{* Kept -- real markup (the linked-album popin), not just asset
   registration; PhotosAddDirectView::pageAssets()/exposedStrings()
   already merge in AlbumSelectorView's own contribution too
   (dedup-safe no-op). *}
{include 'include/album_selector.inc.latte'}
