{templateType Piwigo\Admin\Projection\PictureCoiView}
{capture $tmpHtmlHead}
<link rel="stylesheet" type="text/css" href="themes/default/js/plugins/jquery.Jcrop.css" />
{/capture}
{do htmlHead($tmpHtmlHead)}
{do combineScript(id: 'jquery.jcrop', load: 'footer', require: 'jquery', path: 'themes/default/js/plugins/jquery.Jcrop.min.js')}
{do combineCss(id: 'picture_coi', path: 'themes/admin/default/css/pages/picture_coi.css')}

<form method="post">
  <fieldset>
    <legend>{='Photo sizes with crop'|translate}</legend>
    <img
      n:foreach="$croppedDerivatives as $deriv"
      src="{$deriv['U_IMG']|noescape}"
      alt="{$alt}"
      {$deriv['HTM_SIZE']|noescape}
    >
  </fieldset>

  <fieldset>
    <legend>{='Center of interest'|translate}</legend>
    <p class="coi-intro">
      {='The center of interest is the most meaningful zone in the photo.'|translate}
      {='For photo sizes with crop, such as "Square", Piwigo will do its best to include the center of interest.'|translate}
      {='By default, the center of interest is placed in the middle of the photo.'|translate}
      {='Select a zone with your mouse to define a new center of interest.'|translate}
    </p>
    <input
      type="hidden"
      id="l"
      name="l"
      value="{if isset($coi)}{$coi['l']}{/if}"
    >
    <input
      type="hidden"
      id="t"
      name="t"
      value="{if isset($coi)}{$coi['t']}{/if}"
    >
    <input
      type="hidden"
      id="r"
      name="r"
      value="{if isset($coi)}{$coi['r']}{/if}"
    >
    <input
      type="hidden"
      id="b"
      name="b"
      value="{if isset($coi)}{$coi['b']}{/if}"
    >

    <img id="jcrop" src="{$imgUrl|noescape}" alt="{$alt}">

    <p>
      <input type="submit" name="submit" value="{='Submit'|translate}">
    </p>
  </fieldset>
</form>

{do combineScript(id: 'picture_coi', load: 'footer', require: 'jquery.jcrop,page-data', path: 'themes/admin/default/js/picture_coi.js')}
{if isset($coi)}{do exposeData('coi', $coi)}{/if}
