{templateType Piwigo\Admin\Projection\PictureModifyView}

<form action="{$fAction|noescape}" method="post" id="pictureModify">
  <div id='picture-preview' n:class="$introVars->isSvg ? svg-container">
    <div class='picture-preview-actions'>
      <a
        class="preview-box icon-zoom-square"
        href="{$fileSrc}"
        title="{='Zoom'|translate}"
      ></a>
      <a
        class="icon-download"
        href="{$uDownload|noescape}"
        title="{='Download'|translate}"
      ></a>
      <a
        class="icon-signal"
        href="{$uHistory|noescape}"
        title="{='Visit history'|translate}"
      ></a>
      <a
        class="icon-pulse"
        href="{$uActivity|noescape}"
        title="{='Activity'|translate}"
      ></a>
      {if !url_is_remote($path)}
        <a
          class="icon-arrows-cw"
          href="{$uSync|noescape}"
          title="{='Synchronize metadata'|translate}"
        ></a>
        <a
          class="icon-trash"
          title="{='delete photo'|translate}"
          id='action-delete-picture'
        ></a>
      {/if}
    </div>
    {if $introVars->isSvg}
      <img
        src="{$path}"
        alt="{='Thumbnail'|translate}"
        class="svg-image other-image-format {if $isWide}is-landscape{else}is-portrait{/if}"
      >
    {else}
      <img
        src="{$tnSrc|noescape}"
        alt="{='Thumbnail'|translate}"
        class="other-image-format {if $isWide}is-landscape{else}is-portrait{/if}"
      >
    {/if}
  </div>
  <div id='picture-content'>
    <div id='picture-infos'>
      <div class='info-framed'>
        <div class='info-framed-icon'>
          <i class='icon-picture'></i>
        </div>
        <div class='info-framed-container'>
          <div class='info-framed-title'>{$introVars->file}</div>
          <div>{$introVars->size|noescape}</div>
          <div>{if isset($introVars->formats)}{$introVars->formats} {/if}</div>
          <div>{$introVars->ext}</div>
        </div>
      </div>

      <div class='info-framed'>
        <div class='info-framed-icon'>
          <span class='icon-calendar'></span>
        </div>
        <div class='info-framed-container'>
          <div class='info-framed-title'>{$introVars->date}</div>
          <div>{$introVars->age}</div>
          <div>{$introVars->addedBy}</div>
          <div>{$introVars->stats}</div>
        </div>
      </div>
    </div>

    <p>
      <strong>{='Title'|translate}</strong>
      <br>
      <input type="text" class="large" name="name" value="{$name}">
    </p>

    <p>
      <strong>{='Author'|translate}</strong>
      <br>
      <input type="text" class="large" name="author" value="{$author}">
    </p>

    <p>
      <strong>{='Creation date'|translate}</strong>
      <br>
      <input type="hidden" name="date_creation" value="{$dateCreation}">
      <label class="date-input">
        <i class="icon-calendar"></i>
        <input
          type="text"
          data-datepicker="date_creation"
          data-datepicker-unset="date_creation_unset"
          readonly
        >
      </label>
      <a
        href="#"
        class="icon-cancel-circled"
        id="date_creation_unset"
      >{='unset'|translate}</a>
    </p>

    <p>
      <strong>{='Linked albums'|translate} <span
          class="linked-albums-badge {if count($relatedCategories) < 1} badge-red {/if}"
        > {$relatedCategories|length} </span></strong>
      {if count($relatedCategories) < 1}
        <span class="orphan-photo">{='This photo is an orphan'|translate}</span>
      {else}
        <span class="orphan-photo"></span>
      {/if}
      <br>
      <select
        class="invisible-related-categories-select"
        name="associate[]"
        multiple
      >
        <option
          n:foreach="$relatedCategories as $key => $cat_path"
          selected
          value="{$key}"
        ></option>
      </select>
      <div class="related-categories-container">
        <div
          n:foreach="$relatedCategories as $key => $cat_path"
          class="breadcrumb-item"
        ><span
            class="link-path"
          >{$cat_path['name']|noescape}</span>{if $cat_path['unlinkable']}<span
              id="{$key}"
              class="icon-cancel-circled remove-item"
            ></span>{else}<span
              id="{$key}"
              class="icon-help-circled help-item tiptip"
              title="{='This picture is physically linked to this album, you can\'t dissociate them'|translate}"
            ></span>{/if}</div>
      </div>
      <div
        class="breadcrumb-item linked-albums add-item {if count($relatedCategories) < 1} highlight {/if}"
      ><span class="icon-plus-circled"></span>{='Add'|translate}</div>
    </p>

    <p>
      <strong>{='Representation of albums'|translate}</strong>
      <br>
      <select
        data-selectize="categories"
        data-value="{$representedAlbums|json_encode|noescape}"
        placeholder="{='Type in a search term'|translate}"
        name="represent[]"
        multiple
        class="wide-selectize-select"
      ></select>
    </p>

    <p>
      <strong>{='Tags'|translate}</strong>
      <br>
      <select
        data-selectize="tags"
        data-value="{$tagSelection|json_encode|noescape}"
        placeholder="{='Type in a search term'|translate}"
        data-create="true"
        name="tags[]"
        multiple
        class="wide-selectize-select"
      ></select>
    </p>

    <p>
      <strong>{='Description'|translate}</strong>
      <br>
      <textarea
        name="comment"
        id="description"
        class="description"
      >{$description}</textarea>
    </p>

    <p>
      <strong>{='Who can see this photo?'|translate}</strong> ({='Privacy level'|translate})
      <br>
      <div class='select-icon icon-down-open'></div>
      <select name="level" size="1">
        <option
          n:foreach="$levelOptions as $optKey => $optLabel"
          value="{$optKey}"
          n:attr="selected: in_array((string) $optKey, array_map(strval(...), $levelOptionsSelected), true) ? 'selected' : null"
        >{html_entity_decode(strval($optLabel))}</option>
      </select>
    </p>

    <div class="savebar-footer">
      <div class="savebar-footer-start">
        <div class="savebar-footer-block">
          {if isset($uJumpto)}
            <a class="savebar-see-out" href="{$uJumpto|noescape}"><i
                class="icon-left-open"
              ></i>{='Open in gallery'|translate}</a>
          {else}
            <a
              class="savebar-see-out tiptip disabled"
              href="#"
              title="{='You don\'t have access to this photo'|translate}"
            ><i class="icon-left-open"></i>{='Open in gallery'|translate}</a>
          {/if}
        </div>
      </div>
      <div class="savebar-footer-end">
        <div n:if="isset($saveSuccess)" class="savebar-footer-block">
          <div class="badge info-message">
            <i class="icon-ok"></i>{$saveSuccess}
          </div>
        </div>

        <div class="savebar-footer-block">
          <button class="buttonLike" type="submit" name="submit"><i
              class="icon-floppy"
            ></i> {='Save Settings'|translate}</button>
        </div>
      </div>
      <input type="hidden" name="pwg_token" value="{$csrfToken}">
    </div>
  </div>
</form>

{* Kept -- real markup (the linked-album popin), not just asset
   registration; PictureModifyView::pageAssets()/exposedStrings()
   already merge in AlbumSelectorView's own contribution too
   (dedup-safe no-op). *}
{include 'include/album_selector.inc.latte'}
