{templateType Piwigo\Admin\Projection\PictureFormatsView}
<div class="formats-header">
  <a
    class="{if count($formats) !== 0}head-button-1{else}head-button-2{/if} icon-plus-circled"
    href="{$addFormatsUrl}"
  >{='Add formats'|translate}</a>
</div>
<div class="formats-content">
  <div class="no-formats{if count($formats) !== 0} u-hidden{/if}">
    {='No format for this picture'|translate}
  </div>

  <div class="formats-list{if count($formats) === 0} u-hidden{/if}">
    <div
      n:foreach="$formats as $format"
      class="format-card"
      data-id="{$format->formatId}"
      style="background-image: url('{$imgSquareSrc|noescape}')"
    >
      <span
        class="format-card-size"
      >{='%s MB'|translate:$format->filesize}</span>
      <div class="format-card-ext"><span>{$format->label}</span></div>
      <div class="format-card-actions">
        <a href="{$format->downloadUrl|noescape}" rel="nofollow"> <i
            class="icon-download"
          ></i> </a>
        <a class="format-delete"> <i class="icon-trash-1"></i> </a>
      </div>
    </div>
  </div>
</div>
