{templateType Piwigo\Admin\Projection\PluginsNewView}
<div class="titrePage">
  <div class="sort">
    <div class="sort-actions">
      <div
        class="beta-test-plugin-switch tiptip"
        title="{='Show plugins compatible with previous version of Piwigo'|translate}"
      >
        <label class="switch">
          <input
            type="checkbox"
            id="showBetaTestPlugin"
            {if $betaTest}
            checked
            {/if}
          >
          <span class="slider round"></span>
        </label>
        <label
          for='showBetaTestPlugin'
        >{='Show beta test plugins'|translate}</label>
      </div>

      <div class="sort-by">
        <label>{='Sort order'|translate}</label>
        <div class="select-container">
          <select name="selectOrder">
            <option
              n:foreach="$orderOptions as $optKey => $optLabel"
              value="{$optKey}"
              n:attr="selected: in_array($optKey, array_map(strval(...), (array) $orderSelected), true) ? 'selected' : null"
            >{html_entity_decode(strval($optLabel))}</option>
          </select>
        </div>
      </div>

      <div
        class="advanced-filter-btn icon-filter"
      > <span>{='Filters'|translate}</span></div>

      <div id="search-plugin">
        <span class="icon-search search-icon"></span>
        <span class="icon-cancel search-cancel"></span>
        <input
          class="search-input"
          type="text"
          placeholder="{='Search'|translate}"
          id="search"
        >
      </div>
    </div>

    <div class="advanced-filter advanced-filter-new-plugin">
      <div class="advanced-filter-header">
        <span
          class="advanced-filter-title"
        >{='Advanced filters'|translate}</span>
        <span class="advanced-filter-close icon-cancel"></span>
      </div>
      <div class="advanced-filter-container">
        <div class="advanced-filter-item advanced-filter-author">
          <label
            class="advanced-filter-item-label"
            for="author-filter"
          >{='Author'|translate}</label>
          <div class="advanced-filter-item-container">
            <select name="author-filter" id="author-filter"></select>
          </div>
        </div>

        <div class="advanced-filter-item advanced-filter-tag">
          <label
            class="advanced-filter-item-label"
            for="tag-filter"
          >{='Tag'|translate}</label>
          <div class="advanced-filter-item-container">
            <select name="tag-filter" id="tag-filter"></select>
          </div>
        </div>

        <div class="advanced-filter-item advanced-filter-rating">
          <label class="advanced-filter-item-label" for="notation-filter">
            {='Rating greater than'|translate}
            <span class="rating-star-container">
              <span data-star="0"><i></i></span>
              <span data-star="1"><i></i></span>
              <span data-star="2"><i></i></span>
              <span data-star="3"><i></i></span>
              <span data-star="4"><i></i></span>
            </span>
          </label>
          <div class="advanced-filter-item-container">
            <div id="notation-filter" class="select-bar"></div>
            <div class="slider-bar-wrapper">
              <div class="slider-bar-container notation-filter-slider"></div>
            </div>
          </div>
        </div>

        <div class="advanced-filter-item advanced-filter-revision-date">
          <label class="advanced-filter-item-label" for="revision-date-filter">
            {='Last revision date is newer than'|translate}<span
              class="revision-date"
            ></span>
          </label>
          <div class="advanced-filter-item-container">
            <div id="revision-date" class="select-bar"></div>
            <div class="slider-bar-wrapper">
              <div
                class="slider-bar-container revision-date-filter-slider"
              ></div>
            </div>
          </div>
        </div>

        <div class="advanced-filter-item advanced-filter-certification">
          <label class="advanced-filter-item-label" for="certification-filter">
            {='Certification higher or equal to'|translate}
            <span><i class="certification tiptip" title=""></i></span>
          </label>
          <div class="advanced-filter-item-container">
            <div id="certification-filter" class="select-bar"></div>
            <div class="slider-bar-wrapper">
              <div
                class="slider-bar-container certification-filter-slider"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{if $plugins !== []}
  <div id="availablePlugins">
    {var $color_tab = ["icon-red", "icon-blue", "icon-yellow", "icon-purple", "icon-green"]}

    <div
      n:foreach="$plugins as $plugin"
      class="pluginBox pluginBigBox"
      id="plugin_{$plugin->id}"
      data-id="{$plugin->id}"
      data-date="{$plugin->id}"
      data-name="{$plugin->name}"
      data-revision="{$plugin->revisionSort}"
      data-downloads="{$plugin->downloads}"
      data-author="{$plugin->author}"
      data-tags="{$plugin->tags|implode:", "}"
    >
      <div class="pluginContent">
        <div class="pluginImage">
          {if $plugin->screenshot == ''}
            <span class="noImage {$color_tab[$plugin->id % 5]}"><i
                class="icon-puzzle"
              ></i></span>
          {else}
            <span
              class="screenshot has-screenshot"
              style="--screenshot-url: url({$plugin->screenshot});"
            ></span>
          {/if}
        </div>
        <div class="pluginInfo">
          <div>
            <div class="pluginName">
              <span title="{$plugin->name}">{$plugin->name}</span>
              <i
                class="certification tiptip"
                data-certification="{$plugin->certification}"
                {if $plugin->certification == 3}
                title="{='This plugin have been updated recently'|translate}"
                {elseif $plugin->certification == 2}
                title="{='This plugin was updated less than 6 months ago'|translate}"
                {elseif $plugin->certification == 1}
                title="{='This plugin has no recent update'|translate}"
                {elseif $plugin->certification == 0}
                title="{='This plugin have no update since 3 years ! It may be outdated'|translate}"
                {elseif $plugin->certification == -1}
                title="{='This plugin is incompatible with your version'|translate}"
                {/if}
              ></i>
            </div>
            <div
              class="pluginAuthorVersion"
            >{='by %s'|translate:$plugin->author}</div>
          </div>

          <div>
            <div
              n:if="!is_null($plugin->rating)"
              class="pluginRating tiptip"
              data-rating="{$plugin->rating}"
              title="{='On %d rating(s)'|translate:$plugin->nbRatings}"
            >
              <div class="rating-star-container">
                <span data-star="0"><i></i></span>
                <span data-star="1"><i></i></span>
                <span data-star="2"><i></i></span>
                <span data-star="3"><i></i></span>
                <span data-star="4"><i></i></span>
              </div>
              <span class="rating">{$plugin->rating}</span>
            </div>
            <div
              class="pluginDownload tiptip"
              title="{$plugin->downloads} {='Downloads'|translate}"
            ><i class="icon-download">{$plugin->downloads}</i></div>
            <div
              class="pluginVersion tiptip"
              title="{$plugin->revisionDate|format_date:['day', 'month', 'year']}, {$plugin->revisionDate|time_since:'day'}"
            ><i
                class="icon-flow-branch"
              ></i>{='Version %s'|translate:$plugin->version}</div>
            <a class="pluginLink" href="{$plugin->url|noescape}"><i
                class="icon-link"
              ></i>{='Website'|translate}</a>
          </div>

          <div class="pluginInstall">
            <a
              class="buttonLike buttonInstall"
              href="{$plugin->installUrl|noescape}"
            ><i class="icon-plus-circled"></i>{='Add'|translate}</a>
          </div>
        </div>
        <div class="pluginMoreInfo">
          <div
            class="pluginTags tiptip"
            title="{='Tags'|translate} : {$plugin->tags|implode:", "}"
          >
            <span
              n:foreach="$plugin->tags as $tag_id => $tag_label"
              data-id="{$tag_id}"
            >{$tag_label}</span>
          </div>
          <div class="pluginDesc">
            {$plugin->description|breakLines}
          </div>
        </div>
      </div>
    </div>
  </div>
{else}
  <p>{='There is no other plugin available.'|translate}
    <a
      n:if="isset($betaUrl)"
      href="{$betaUrl|noescape}"
      class="buttonLike icon-fire"
    >{='Show beta test plugins'|translate}</a>
  </p>
{/if}
