{templateType Piwigo\Admin\Projection\PluginsInstalledView}
{if isset($plugins)}
  {var $field_name = 'null'} {* <!-- 'counter' for fieldset management --> *}

  <div class="pluginTypeFilter">
    <input
      type="radio"
      name="p-filter"
      class="filter"
      id="seeAll"
      {if $countTypesPlugins["active"] <= 0}
      checked
      {/if}
    ><label for="seeAll">{='All'|translate}<span
        class="filter-badge"
      >X</span></label><input
      type="radio"
      name="p-filter"
      class="filter"
      id="seeActive"
      {if $countTypesPlugins["active"] > 0}
      checked
      {/if}
    ><label class="filterLabel" for="seeActive">{='Activated'|translate}<span
        class="filter-badge"
      >X</span></label><input
      type="radio"
      name="p-filter"
      class="filter"
      id="seeInactive"
    ><label
      class="filterLabel"
      for="seeInactive"
    >{='Deactivated'|translate}<span class="filter-badge">X</span></label><input
      type="radio"
      name="p-filter"
      class="filter"
      id="seeOther"
    ><label class="filterLabel" for="seeOther">{='Other'|translate}<span
        class="filter-badge"
      >X</span></label>
  </div>

  <div class="nbPluginsSearch"></div>

  <div class="pluginFilter">
    <span class="icon-search search-icon"></span>
    <span class="icon-cancel search-cancel"></span>
    <input class='search-input' type="text" placeholder="{='Search'|translate}">
  </div>

  <div class="AlbumViewSelector">
    <input
      type="radio"
      name="layout"
      class="switchLayout"
      id="displayClassic"
      {if $viewSelector === 'classic'}
      checked
      {/if}
    /><label for="displayClassic"><span
        class="icon-pause firstIcon tiptip"
        title="{='Classic View'|translate}"
      ></span></label><input
      type="radio"
      name="layout"
      class="switchLayout"
      id="displayLine"
      {if $viewSelector === 'line'}
      checked
      {/if}
    /><label for="displayLine"><span
        class="icon-th-list tiptip"
        title="{='Line View'|translate}"
      ></span></label><input
      type="radio"
      name="layout"
      class="switchLayout"
      id="displayCompact"
      {if $viewSelector === 'compact'}
      checked
      {/if}
    /><label for="displayCompact"><span
        class="icon-th-large lastIcon tiptip"
        title="{='Compact View'|translate}"
      ></span></label>
  </div>

  <div
    class="pluginContainer {if $viewSelector === 'classic'} classic-form {elseif $viewSelector === 'line'} line-form {elseif $viewSelector === 'compact'} compact-form {else} {/if}"
  >
    {foreach $plugins as $plugin}
      {* Reset per iteration: {var} is a plain PHP variable, so a plugin
         with no author would otherwise render the previous plugin's. *}
      {var $author = null}
      {if $plugin->author !== ''}
        {if $plugin->authorUrl !== null}
          {var $author = ("<a href='%s'>%s</a>"|sprintf:$plugin->authorUrl,$plugin->author)}
        {else}
          {var $author = ('<u>' . $plugin->author . '</u>')}
        {/if}
      {/if}

      {if $plugin->visitUrl !== ''}
        {var $version = ("<a class='externalLink' href='" . $plugin->visitUrl . "'>" . $plugin->version . "</a>")}
      {else}
        {var $version = $plugin->version}
      {/if}

      <div
        id="{$plugin->id}"
        class="pluginBox pluginMiniBox {$plugin->state} plugin-{$plugin->state}"
      >
        <div class="AddPluginSuccess pluginNotif">
          <label class="icon-ok">
            <span>{='Plugin activated'|translate}</span>
          </label>
        </div>

        <div class="DeactivatePluginSuccess pluginNotif">
          <label class="icon-ok">
            <span>{='Plugin deactivated'|translate}</span>
          </label>
        </div>

        <div class="RestorePluginSuccess pluginNotif">
          <label class="icon-ok">
            <span>{='Plugin deactivated'|translate}</span>
          </label>
        </div>

        <div class="PluginActionError pluginNotif">
          <label class="icon-cancel">
            <span>{='Plugin deactivated'|translate}</span>
          </label>
        </div>

        <div class="pluginContent">
          <div class="PluginOptionsIcons">
            <a
              n:if="$plugin->state === 'active' || $plugin->state === 'inactive'"
              class="icon-ellipsis-v showOptions showInfo"
            ></a>
          </div>
          <label
            n:if="$plugin->state === 'active' || $plugin->state === 'inactive'"
            class="switch"
          >
            <input
              type="checkbox"
              id="toggleSelectionMode"
              {if $plugin->state === "active"}
              checked
              {/if}
            >
            <span class="slider round"></span>
          </label>

          <div class="pluginActionsSmallIcons">
            {if $plugin->state === 'active'}
              {if $plugin->settingsUrl !== ''}
                <div class="tiptip" title="{='Settings'|translate}">
                  <a href="{$plugin->settingsUrl|noescape}"><span
                      class="icon-cog"
                    ></span></a>
                </div>
              {else}
                <div class="tiptip" title="{='N/A'|translate}">
                  <a><i class="icon-cog"></i></a>
                </div>
              {/if}
            {elseif $plugin->state === 'inactive'}
              {if $plugin->settingsUrl !== ''}
                <div class="tiptip" title="{='Settings'|translate}">
                  <a href="{$plugin->settingsUrl|noescape}"><span
                      class="icon-cog"
                    ></span></a>
                </div>
              {else}
                <div class="tiptip" title="{='N/A'|translate}">
                  <a><i class="icon-cog"></i></a>
                </div>
              {/if}
            {elseif $plugin->state === 'missing'}
              <div class="tiptip" title="{='Uninstall'|translate}">
                <a class="uninstall-plugin-button">{='Uninstall'|translate}</a>
              </div>
            {/if}
          </div>

          <div class="PluginOptionsBlock dropdown">
            <div
              class="dropdown-option-content"
            > {if $author !== null}{='By %s'|translate:$author|noescape} | {/if}{='Version'|translate} {$version|noescape}</div>
            <div class="pluginDescCompact">
              {$plugin->desc}
            </div>
            <a
              class="dropdown-option icon-back-in-time plugin-restore separator-top tiptip"
              title="{='While restoring this plugin, it will be reset to its original parameters and associated data is going to be reset'|translate}"
            >{='Restore'|translate}</a>
            <a
              n:if="$enableExtensionsInstall"
              class="dropdown-option icon-trash delete-plugin-button separator-top"
            >{='Delete'|translate}</a>
          </div>
          <div class="pluginName" data-title="{$plugin->name}">
            {$plugin->name}
          </div>
          <div class="pluginDesc">
            {$plugin->desc}
          </div>
          <div class="pluginActions">
            {if $plugin->state === 'active'}
              {if $plugin->settingsUrl !== ''}
                <a
                  href="{$plugin->settingsUrl|noescape}"
                  class="pluginActionLevel1 icon-cog"
                >{='Settings'|translate}</a>
              {else}
                <a
                  class="pluginUnavailableAction icon-cog tiptip"
                  title="{='N/A'|translate}"
                >{='Settings'|translate}</a>
              {/if}
            {elseif $plugin->state === 'inactive'}
              {if $plugin->settingsUrl !== ''}
                <a
                  href="{$plugin->settingsUrl|noescape}"
                  class="pluginUnavailableAction icon-cog"
                >{='Settings'|translate}</a>
              {else}
                <a
                  class="pluginUnavailableAction icon-cog tiptip"
                  title="{='N/A'|translate}"
                >{='Settings'|translate}</a>
              {/if}
            {elseif $plugin->state === 'missing'}
              <a
                class="pluginActionLevel3 uninstall-plugin-button"
              >{='Uninstall'|translate}</a>
            {/if}
          </div>
        </div>
      </div>
    {/foreach}
  </div>
{/if}
