{templateType Piwigo\Admin\Projection\RatingView}
{do combineScript(id: 'common', load: 'footer', path: 'themes/admin/default/js/common.js')}
{do combineScript(id: 'LocalStorageCache', load: 'footer', path: 'themes/admin/default/js/LocalStorageCache.js')}

{do combineScript(id: 'jquery.selectize', load: 'footer', path: 'themes/default/js/plugins/selectize.min.js')}
{do combineCss(id: 'jquery.selectize', path: "themes/default/js/plugins/selectize.{$themeconf['colorscheme']}.css")}
{do combineCss(id: 'rating', path: 'themes/admin/default/css/pages/rating.css')}

{do exposeData('cache_key_categories', $cacheKeys['categories'])}
{do exposeData('cache_key_hash', $cacheKeys['_hash'])}
{do exposeData('root_url', $ROOT_URL)}
{do exposeData('nb_elements', $nbElements)}

{do combineScript(id: 'rating', load: 'footer', require: 'jquery.selectize,page-data,LocalStorageCache', path: 'themes/admin/default/js/rating.js')}

<form action="{$fAction|noescape}" method="GET" class="filter">
  <fieldset>
    <legend><span
        class="icon-filter icon-green"
      ></span>{='Filter'|translate}</legend>

    <label>
      {='Sort by'|translate}
      <select name="order_by">
        {=htmlOptions(options: $orderByOptions, selected: $orderByOptionsSelected)}
      </select>
    </label>

    <label>
      {='Users'|translate}
      <select name="users">
        {=htmlOptions(options: $userOptions, selected: $userOptionsSelected)}
      </select>
    </label>

    <label>
      {='Number of items'|translate}
      <input type="text" name="display" size="2" value="{$display}">
    </label>

    <label>
      {='Album'|translate}<a
        href="#"
        id="removeAlbumFilter"
        class="icon-cancel-circled"
      ></a>
      <select
        data-selectize="categories"
        data-value="{$category|json_encode|noescape}"
        placeholder="{='No filter on album. Select one or type to search'|translate}"
        name="cat"
        class="rating-album-filter"
      ></select>
    </label>

    <div class="clear-both"></div>

    <p class="rating-submit">
      <button name="submit" type="submit" class="buttonLike">
        <i class="icon-filter"></i> {='Submit'|translate}
      </button>
    </p>
    <input type="hidden" name="page" value="rating">
  </fieldset>
</form>

{if !empty($navbar)}{include 'navigation_bar.latte', navbar: $navbar}{/if}

<table width="99%">
  <tr class="throw">
    <td>{='File'|translate}</td>
    <td>{='Number of rates'|translate}</td>
    <td>{='Rating score'|translate}</td>
    <td>{='Average rate'|translate}</td>
    <td>{='Sum of rates'|translate}</td>
    <td>{='Rate'|translate}/{='Username'|translate}/{='Rate date'|translate}</td>
    <td></td>
  </tr>
  <tr
    n:foreach="$images as $image"
    valign="top"
    class="{if $iterator->counter0 % 2 !== 0}row1{else}row2{/if}"
  >
    <td><a href="{$image['U_URL']|noescape}"><img
          src="{$image['U_THUMB']|noescape}"
          alt="{$image['FILE']}"
          title="{$image['FILE']}"
        ></a></td>
    <td><strong>{$image['NB_RATES']}/{$image['NB_RATES_TOTAL']}</strong></td>
    <td><strong>{$image['SCORE_RATE']}</strong></td>
    <td><strong>{$image['AVG_RATE']}</strong></td>
    <td
      class="rating-sum-rate"
    ><strong>{$image['SUM_RATE']}</strong></td>
    <td>
      <table class="rating-detail-table">
        <tr n:foreach="$image['rates'] as $rate">
          <td>{$rate['rate']}</td>
          <td><b>{$rate['USER']}</b></td>
          <td>{$rate['date']}</td>
          <td><a
              data-image-id="{$image['id']}"
              data-user-id="{$rate['user_id']}"
              data-anonymous-id="{$rate['anonymous_id']}"
              class="icon-trash"
            ></a></td>
        </tr>{* rates *}
      </table>
    </td>
  </tr>{* images *}
</table>
{do combineScript(id: 'core.scripts', load: 'async', path: 'themes/default/js/scripts.js')}
{do exposeData('csrf_token', $csrfToken)}

{if !empty($navbar)}{include 'navigation_bar.latte', navbar: $navbar}{/if}
