{templateType Piwigo\Admin\Projection\RatingUserView}
{do combineScript(id: 'jquery.dataTables', load: 'footer', path: 'themes/default/js/plugins/jquery.dataTables.js')}
{do combineCss(id: 'rating_user', path: 'themes/admin/default/css/pages/rating_user.css')}
{* .ui-tooltip is appended to <body> by jquery.ui.tooltip.js, outside #rateTable's
   subtree, so its max-width can't be inherited from an element-scoped custom
   property -- :root is the only DOM-reachable common ancestor available here. *}
<style>:root { --rating-tooltip-max-width: {=3 * $tnWidth}px; }</style>
{do exposeData('nb_elements', $nbElements)}
{do exposeData('csrf_token', $csrfToken)}
{do exposeData('root_url', $ROOT_URL)}
{do exposeString('Are you sure you want to delete the ratings of the user "%s"?')}
{do exposeString('Yes, I am sure')}
{do exposeString('No, I have changed my mind')}

<form action="{$formAction|noescape}" method="GET">
  <fieldset>
    <noscript>
      <label>{='Sort by'|translate}
        <select name="order_by">
          {=htmlOptions(options: $orderByOptions, selected: $orderByOptionsSelected)}
        </select>
      </label>
    </noscript>
    <label>{='Number of rates'|translate}&gt;
      <input type="text" size="5" name="f_min_rates" value="{$minRates}">
    </label>
    <label>{='Consensus deviation'|translate}
      <input
        type="text"
        size="5"
        name="consensus_top_number"
        value="{$consensusTopNumber}"
      >
      {='Best rated'|translate}
    </label>

    <div class="clear-both"></div>

    <p class="rating-submit">
      <button name="submit" type="submit" class="buttonLike">
        <i class="icon-filter"></i> {='Submit'|translate}
      </button>
    </p>
    <input type="hidden" name="page" value="rating_user">
  </fieldset>
</form>
{do combineScript(id: 'common', load: 'footer', path: 'themes/admin/default/js/common.js')}
{do combineScript(id: 'jquery.confirm', load: 'footer', require: 'jquery', path: 'themes/default/js/plugins/jquery-confirm.min.js')}
{do combineCss(path: "themes/default/js/plugins/jquery-confirm.min.css")}
{do combineScript(id: 'core.scripts', load: 'async', path: 'themes/default/js/scripts.js')}
{do combineScript(id: 'jquery.geoip', load: 'async', path: 'themes/admin/default/js/jquery.geoip.js')}
<table id="rateTable">
  <thead>
    <tr class="throw">
      <th class="dtc_user">{='Username'|translate}</th>
      <th class="dtc_date">{='Last'|translate}</th>
      <th class="dtc_stat">{='Number of rates'|translate}</th>
      <th class="dtc_stat">{='Average rate'|translate}</th>
      <th class="dtc_stat">{='Variation'|translate}</th>
      <th
        class="dtc_stat"
      >{_ 'Consensus deviation'|replace:' ','<br>'|noescape}</th>
      <th
        class="dtc_stat"
      >{_ 'Consensus deviation'|replace:' ','<br>'|noescape} {$consensusTopNumber}</th>
      {foreach $availableRates as $rate}
        <th class="dtc_rate">{$rate}</th>
      {/foreach}
      <th class="dtc_del"></th>
    </tr>
  </thead>
  {foreach $ratings as $user => $rating}
    <tr data-usr='{"uid":{$rating["uid"]},"aid":"{$rating["aid"]}"}'>
      {spaceless}
        <td class="usr">{$user}</td><td
          title="First: {$rating['first_date']}"
        >{$rating['last_date']}</td>
        <td>{$rating['count']}</td><td>{$rating['avg']|number:2}</td>
        <td>{$rating['cv']|number:3}</td><td>{$rating['cd']|number:3}</td><td>{if !empty($rating['cdtop'])}{$rating['cdtop']|number:3}{/if}</td>
        {foreach $rating['rates'] as $rate => $rates}
          <td>{if !empty($rates)}
              {capture $rate_over}{foreach $rates as $rate_arr}{breakIf $iterator->counter0 > 29}<img src="{$imageUrls[$rate_arr['id']]['tn']|noescape}" alt="thumb-{$rate_arr['id']}" width="{$tnWidth}" height="{$tnWidth}">{/foreach}{/capture}
              <a
                title="{=(string) $rate_over|htmlspecialchars|noescape}"
              >{$rates|count}</a>
            {/if}</td>
        {/foreach}
        <td><a class="del icon-trash"></a></td>
        </tr>
      {/spaceless}
    {/foreach}
</table>

{do combineScript(id: 'jquery.ui.tooltip', load: 'footer')}
{do combineScript(id: 'rating_user', load: 'footer', require: 'jquery.dataTables,jquery.ui.tooltip,page-data', path: 'themes/admin/default/js/rating_user.js')}
