{templateType Piwigo\Admin\Projection\RatingView}
<form action="{$fAction|noescape}" method="GET" class="filter">
  <fieldset>
    <legend><span
        class="icon-filter icon-green"
      ></span>{='Filter'|translate}</legend>

    <label>
      {='Sort by'|translate}
      <select name="order_by">
        <option
          n:foreach="$orderByOptions as $optKey => $optLabel"
          value="{$optKey}"
          n:attr="selected: in_array((string) $optKey, array_map(strval(...), $orderByOptionsSelected), true) ? 'selected' : null"
        >{html_entity_decode(strval($optLabel))}</option>
      </select>
    </label>

    <label>
      {='Users'|translate}
      <select name="users">
        <option
          n:foreach="$userOptions as $optKey => $optLabel"
          value="{$optKey}"
          n:attr="selected: in_array($optKey, array_map(strval(...), $userOptionsSelected), true) ? 'selected' : null"
        >{html_entity_decode(strval($optLabel))}</option>
      </select>
    </label>

    <label>
      {='Number of items'|translate}
      <input type="text" name="display" size="2" value="{$display}">
    </label>

    <label>
      {='Album'|translate}<a
        href="#"
        id="removeAlbumFilter"
        class="icon-cancel-circled"
      ></a>
      <select
        data-selectize="categories"
        data-value="{$category|json_encode|noescape}"
        placeholder="{='No filter on album. Select one or type to search'|translate}"
        name="cat"
        class="rating-album-filter"
      ></select>
    </label>

    <div class="clear-both"></div>

    <p class="rating-submit">
      <button name="submit" type="submit" class="buttonLike">
        <i class="icon-filter"></i> {='Submit'|translate}
      </button>
    </p>
    <input type="hidden" name="page" value="rating">
  </fieldset>
</form>

{if !empty($navbar)}{include 'navigation_bar.latte', navbar: $navbar}{/if}

<table width="99%">
  <tr class="throw">
    <td>{='File'|translate}</td>
    <td>{='Number of rates'|translate}</td>
    <td>{='Rating score'|translate}</td>
    <td>{='Average rate'|translate}</td>
    <td>{='Sum of rates'|translate}</td>
    <td>{='Rate'|translate}/{='Username'|translate}/{='Rate date'|translate}</td>
    <td></td>
  </tr>
  <tr
    n:foreach="$images as $image"
    valign="top"
    class="{if $iterator->counter0 % 2 !== 0}row1{else}row2{/if}"
  >
    <td><a href="{$image['U_URL']|noescape}"><img
          src="{$image['U_THUMB']|noescape}"
          alt="{$image['FILE']}"
          title="{$image['FILE']}"
        ></a></td>
    <td><strong>{$image['NB_RATES']}/{$image['NB_RATES_TOTAL']}</strong></td>
    <td><strong>{$image['SCORE_RATE']}</strong></td>
    <td><strong>{$image['AVG_RATE']}</strong></td>
    <td
      class="rating-sum-rate"
    ><strong>{$image['SUM_RATE']}</strong></td>
    <td>
      <table class="rating-detail-table">
        <tr n:foreach="$image['rates'] as $rate">
          <td>{$rate['rate']}</td>
          <td><b>{$rate['USER']}</b></td>
          <td>{$rate['date']}</td>
          <td><a
              data-image-id="{$image['id']}"
              data-user-id="{$rate['user_id']}"
              data-anonymous-id="{$rate['anonymous_id']}"
              class="icon-trash"
            ></a></td>
        </tr>{* rates *}
      </table>
    </td>
  </tr>{* images *}
</table>

{if !empty($navbar)}{include 'navigation_bar.latte', navbar: $navbar}{/if}
