{templateType Piwigo\Controller\Admin\Projection\SiteManagerView}
<table n:if="!empty($sites)" class="table2">
  <tr class="throw">
    <td>{='Directory'|translate}</td>
    <td>{='Actions'|translate}</td>
  </tr>
  <tr
    n:foreach="$sites as $site"
    class="site-row {if $iterator->counter0 % 2 !== 0}row1{else}row2{/if}"
  ><td>
      <a
        href="{$site->name}"
      >{$site->name}</a><br>({$site->type}, {$site->categories} {='Albums'|translate}, {$site->images|translate_dec:'%d photo','%d photos'})
    </td><td>
      [<a
        href="{$site->uSynchronize|noescape}"
        title="{='update the database from files'|translate}"
      >{='Synchronize'|translate}</a>]
      {if isset($site->uDelete)}
        [<a
          class="delete-site-button"
          href="{$site->uDelete|noescape}"
          title="{='delete this site and all its attached elements'|translate}"
        >{='delete'|translate}</a>]
      {/if}
      {if !empty($site->pluginLinks)}
        <br>
        {foreach $site->pluginLinks as $plugin_link}
          [<a
            href="{$plugin_link['U_HREF']}"
            title='{$plugin_link['U_HINT']}'
          >{$plugin_link['U_CAPTION']}</a>]
        {/foreach}
      {/if}
    </td></tr>
</table>

<p id="showCreateSite">
  <a href="#">{='create a new site'|translate}</a>
</p>

<form
  action="{$formAction|noescape}"
  method="post"
  id="createSite"
  class="u-hidden"
>
  <input type="hidden" name="pwg_token" value="{$csrfToken}">
  <fieldset>
    <legend>{='create a new site'|translate}</legend>

    <p class="create-site-directory"><strong>{='Directory'|translate}</strong>
      <br><input type="text" name="galleries_url" id="galleries_url">
    </p>

    <p class="actionButtons">
      <input
        class="submit"
        type="submit"
        name="submit"
        value="{='Submit'|translate}"
      >
    </p>
  </fieldset>
</form>
