{templateType Piwigo\Admin\Projection\StatsView}
{do exposeString('Page Visited')}
{do exposeString('Average last 12 months')}
{do exposeData('month_labels', $monthLabels)}
{do exposeData('lang_code', $langCode)}

{do combineScript(id: 'chart.js', load: 'footer', path: 'themes/default/js/plugins/Chart.min.js')}
{do combineCss(path: "themes/default/js/plugins/Chart.min.css")}

{do combineScript(id: 'moment-with-locales.js', path: 'themes/default/js/plugins/moment-with-locales.min.js')}

{do combineScript(id: 'stats', load: 'footer', require: 'chart.js,moment-with-locales.js,page-data', path: 'themes/admin/default/js/stats.js')}

<div class="stat-compare-mode">
  <label class="switch">
    <input type="checkbox" id="toggleCompareMode">
    <span class="slider round" checked="false"></span>
  </label>
  {='Compare mode'|translate}
</div>

<div
  id="data"
  data-hours='{$lastHours|json_encode}'
  data-days='{$lastDays|json_encode}'
  data-months='{$lastMonths|json_encode}'
  data-years='{$lastYears|json_encode}'
  data-compare-years='{$compareYears|json_encode}'
  data-month-stats='{$monthStats|json_encode}'
></div>
<div class="stat-legend-container">
  <div class="stat-data-selector">
    <input type="radio" id="hours-selector" name="stat-data-type">
    <label for="hours-selector" data-value="hours">{='Hour'|translate}</label>
    <input type="radio" id="days-selector" name="stat-data-type" checked>
    <label for="days-selector" data-value="days">{='Day'|translate}</label>
    <input type="radio" id="months-selector" name="stat-data-type">
    <label
      for="months-selector"
      data-value="months"
    >{='Month'|translate}</label>
    <input type="radio" id="years-selector" name="stat-data-type">
    <label for="years-selector" data-value="years">{='Year'|translate}</label>
  </div>
</div>

<div class="stat-graph-container">
  <canvas
    id="stat-graph"
    width="400"
    height="150"
    role="img"
  ><p>Your browser does not support the canvas element.</p></canvas>
</div>
