{templateType Piwigo\Admin\Projection\TabsheetView}
<div n:if="isset($sheets) and $sheets !== []" id="tabsheet">
  <ul class="tabsheet">
    <li
      n:foreach="$sheets as $name => $sheet"
      class="{if ($name === $selected)}selected_tab{else}normal_tab{/if}"
    >
      <a
        href="{$sheet->url}"
      ><span>{$sheet->caption|noescape}</span></a>
    </li>
  </ul>
</div>
