{templateType Piwigo\Admin\Projection\ThemesNewView}
{include 'include/colorbox.inc.latte'}
{do exposeData('default_screenshot', $defaultScreenshot)}
{do combineScript(id: 'themes_new', load: 'footer', require: 'page-data', path: 'themes/admin/default/js/themes_new.js')}

{if !empty($newThemes)}
  <div class="themeBoxes">
    <div n:foreach="$newThemes as $theme" class="themeBox">
      <div class="themeShot"><a
          href="{$theme['screenshot']|noescape}"
          class="preview-box"
          title="{$theme['name']}"
        ><img
            src="{$theme['screenshot']|noescape}"
            class="themeShotImg"
          ></a></div>
      <div class="themeName" title="{$theme['name']}">{$theme['name']}</div>
      <div class="themeActions"><a
          href="{$theme['install_url']|noescape}"
        >{='Install'|translate}</a></div>
    </div>
  </div> <!-- themeBoxes -->
{else}
  <p>{='There is no other theme available.'|translate}</p>
{/if}
