{templateType Piwigo\Admin\Projection\ThemesNewView}

{if $newThemes !== []}
  <div class="themeBoxes">
    <div n:foreach="$newThemes as $theme" class="themeBox">
      <div class="themeShot"><a
          href="{$theme['screenshot']}"
          class="preview-box"
          title="{$theme['name']}"
        ><img src="{$theme['screenshot']}" class="themeShotImg"></a></div>
      <div class="themeName" title="{$theme['name']}">{$theme['name']}</div>
      <div class="themeActions"><a
          href="{$theme['install_url']|noescape}"
        >{='Install'|translate}</a></div>
    </div>
  </div> <!-- themeBoxes -->
{else}
  <p>{='There is no other theme available.'|translate}</p>
{/if}
