{templateType Piwigo\Admin\Projection\UpdatesExtView}
{do combineScript(id: 'jquery.ajaxmanager', load: 'footer', require: 'jquery', path: 'themes/default/js/plugins/jquery.ajaxmanager.js')}
{do combineScript(id: 'jquery.jgrowl', load: 'footer', require: 'jquery', path: 'themes/default/js/plugins/jquery.jgrowl_minimized.js')}
{do combineCss(path: "themes/default/js/plugins/jquery.jgrowl.css")}
{do combineCss(id: 'updates_ext', path: 'themes/admin/default/css/pages/updates_ext.css')}

{do exposeData('csrf_token', $pwgToken)}
{do exposeData('ext_type', $extType)}
{do exposeString('ERROR')}
{do exposeString('Update Complete')}
{do exposeString('an error happened')}
{do exposeString('Reset ignored updates')}
{do exposeString('Yes, I am sure')}
{do exposeString('No, I have changed my mind')}
{do exposeString('Are you sure you want to update all extensions?')}
{do combineScript(id: 'common', load: 'footer', path: 'themes/admin/default/js/common.js')}
{do combineScript(id: 'jquery.confirm', load: 'footer', require: 'jquery', path: 'themes/default/js/plugins/jquery-confirm.min.js')}
{do combineCss(path: "themes/default/js/plugins/jquery-confirm.min.css")}
{do combineScript(id: 'updates_ext', load: 'footer', require: 'jquery.ui.effect-blind,jquery.ajaxmanager,jquery.jgrowl,common,jquery.confirm,page-data', path: 'themes/admin/default/js/updates_ext.js')}

{if $isWebmaster == 1}
  <div class="autoupdate_bar">
    <div
      class="head-button-1 icon-ok-circled"
      id="update_all"
    >{='Update All'|translate}</div>
    <div
      class="head-button-2 icon-block"
      id="ignore_all"
      onClick="ignoreAll(); return false;"
    >{='Ignore All'|translate}</div>
    <div
      class="head-button-2 icon-ccw{if !$showReset} u-hidden{/if}"
      id="reset_ignore"
      onClick="resetIgnored(); return false;"
    >{='Reset ignored updates'|translate}</div>
  </div>
  <div class="autoupdate_bar u-hidden">
    {='Please wait...'|translate}<br><img
      src="themes/admin/default/images/ajax-loader-bar.gif"
    >
  </div>

  <p
    id="up_to_date"
    class="u-hidden up-to-date-message"
  >{='All %s are up to date.'|sprintf:$extType|translate}</p>

  {foreach $updatesExtension as $type => $updates}
    <fieldset
      n:if="!empty($updates)"
      id="{$type}"
      class="pluginContainer pluginUpdateContainer line-form"
      data-type="{$type}"
    >
      <legend>
        {if $type == 'plugins'}
          <span class="icon-puzzle icon-green"></span>{='Plugins'|translate}
        {elseif $type == 'themes'}
          <span class="icon-brush icon-blue"></span>{='Themes'|translate}
        {elseif $type == 'languages'}
          <span
            class="icon-language icon-purple"
          ></span>{='Languages'|translate}
        {/if}
      </legend>

      <div
        n:foreach="$updates as $extension"
        class="pluginBox pluginMiniBox{if $extension['IGNORED']} u-hidden{/if}"
        id="{$type}_{$extension['EXT_ID']}"
        {if $extension['IGNORED']}
        data-ignored="true"
        {/if}
      >
        <div class="pluginContent">
          <div class="pluginName">
            {$extension['EXT_NAME']}
          </div>
          <div class="pluginDesc" id="desc_{$extension['ID']}">
            <span
              class="plugin-version plugin-version-old icon-flow-branch"
              title="{='Current Version'|translate}"
            >{$extension['CURRENT_VERSION']}</span> <i
              class="icon-right"
            ></i> <span
              class="plugin-version icon-flow-branch"
              title="{='New Version'|translate}"
            >{$extension['NEW_VERSION']}</span>
            <div
              class="plugin-revision-info"
            ><span>{$extension['REV_DESC']}</span></div>
            <a
              href='{$extension['EXT_URL']|noescape}'
              target="_blank"
              class="plugin-update-link icon-info-circled-1"
            >{='More information'|translate}</a>
          </div>
          <div class="pluginActions">
            <a
              href="#"
              onClick="updateExtension({$type}, {$extension['EXT_ID']}, {$extension['REVISION_ID']});"
              class="updateExtension pluginActionLevel1"
            > <i class="icon-ok-circled"></i> {='Install'|translate}</a>
            <a
              href="{$extension['URL_DOWNLOAD']|noescape}"
              class="pluginActionLevel2"
            > <i class="icon-download"></i> {='Download'|translate}</a>
            <a
              href="#"
              onClick="ignoreExtension({$type}, {$extension['EXT_ID']}); return false;"
              class="ignoreExtension pluginActionLevel2"
            ><i class="icon-block"></i>{='Ignore this update'|translate}</a>
          </div>
        </div>
      </div>
    </fieldset>
  {/foreach}
{/if}
