{templateType Piwigo\Admin\Projection\UpdatesPwgView}

<div
  n:if="isset($minorReleasePhpRequired) and isset($majorReleasePhpRequired)"
  class="warnings"
>
  <i class="eiw-icon icon-attention"></i>
  <ul>
    <li> {='Please upgrade your PHP version before any update.'|translate} </li>
  </ul>
</div>

{if isset($piwigoCurrentVersion) and !isset($containerVersion)}
  <p><i
      class="icon-info-circled-1"
    ></i> {='Currently running version %s'|translate:$piwigoCurrentVersion}</p>
{elseif isset($containerVersion)}
  <p><i
      class="icon-info-circled-1"
    ></i> {='Currently running version %s'|translate:$containerVersion} (Docker)</p>
{/if}

{if $step == 0}
  {if $checkVersion}
    <p>{='You are running the latest version of Piwigo.'|translate}</p>
  {elseif $devVersion}
    <p>{='You are running on development sources, no check possible.'|translate}</p>
  {else}
    <p>{='Check for update failed for unknown reasons.'|translate}</p>
  {/if}
{/if}

<fieldset n:if="$step == 1 && $majorReleaseUrl !== null">
  {if isset($containerVersion)}
    <legend><span
        class="icon-ok icon-purple"
      ></span>{='Two container updates are available'|translate}</legend>
  {else}
    <legend><span
        class="icon-ok icon-purple"
      ></span>{='Two updates are available'|translate}</legend>
  {/if}
  <p class="release release-minor">
    <a
      href="{$minorReleaseUrl}"
      target="_blank"
      class="badge-release icon-green icon-tags"
    >{$minorVersion}</a>
    {='This is a minor update, with only bug corrections.'|translate}
    {if isset($minorReleasePhpRequired)}
      <span
        class="errors icon-block"
      >{='Requires PHP %s'|translate:$minorReleasePhpRequired}</span>
    {else}
      {if isset($containerVersion)}
        <a
          href="{$dockerUpdateGuideUrl}"
          target="_blank"
          class="icon-arrows-cw goto-update-page"
        >{='Follow the update guide'|translate}</a>
      {else}
        <a
          href="admin.php?page=updates&amp;step=2&amp;to={$minorVersion}"
          class="icon-arrows-cw goto-update-page"
        >{='Update to Piwigo %s'|translate:$minorVersion}</a>
      {/if}
    {/if}
  </p>

  <p class="release release-major">
    <a
      href="{if isset($containerVersion)} {$majorDockerReleaseUrl} {else} {$majorReleaseUrl} {/if}"
      target="_blank"
      class="badge-release icon-blue icon-tags"
    >{$majorVersion}</a>
    {='This is a major update, with <a href="%s">new exciting features</a>.'|translate:($majorReleaseUrl|htmlspecialchars)|noescape}
    {='Some themes and plugins may be not available yet.'|translate}
    {if isset($majorReleasePhpRequired)}
      <span
        class="errors icon-block"
      >{='Requires PHP %s'|translate:$majorReleasePhpRequired}</span>
    {else}
      <a
        href="admin.php?page=updates&amp;step=3&amp;to={$majorVersion}"
        class="icon-arrows-cw goto-update-page"
      >{='Update to Piwigo %s'|translate:$majorVersion}</a>
    {/if}
  </p>
  <p class="update-recommendation">
    <span class="icon-info-circled-1"></span>
    {='You can update to Piwigo %s directly, without upgrading to Piwigo %s (recommended).'|translate:$majorVersion,$minorVersion}
  </p>
</fieldset>

{if $step == 2}
  <p>
    <a
      href="{$minorReleaseUrl}"
      target="_blank"
      class="badge-release icon-green icon-tags"
    >{$minorVersion}</a>
  </p>
  <p>
    {='A new version of Piwigo is available.'|translate}<br>
    {='This is a minor update, with only bug corrections.'|translate}
  </p>
  <form action="" method="post">
    <p>
      {if isset($containerVersion)}
        <a
          class="icon-right goto-update-guide"
          href="{$dockerUpdateGuideUrl}"
          target="_blank"
        > {='Follow the update guide'|translate}</a>
      {else}
        <input
          type="submit"
          name="submit"
          value="{='Update to Piwigo %s'|translate:$upgradeTo}"
          {if isset($minorReleasePhpRequired)}
          disabled
          {/if}
        >
        <span
          n:if="isset($minorReleasePhpRequired)"
          class="errors icon-block"
        >{='Requires PHP %s'|translate:$minorReleasePhpRequired}</span>
      {/if}
    </p>
    <p
      class="autoupdate_bar u-hidden"
    >&nbsp; {='Update in progress...'|translate}<br><img
        src="themes/admin/default/images/ajax-loader-bar.gif"
      ></p>
    <p><input type="hidden" name="upgrade_to" value="{$upgradeTo}"><input
        type="hidden"
        name="pwg_token"
        value="{$csrfToken}"
      ></p>
  </form>
{/if}

{if $step == 3 && $majorReleaseUrl !== null}
  <p>
    <a
      href="{if isset($containerVersion)} {$majorDockerReleaseUrl} {else} {$majorReleaseUrl} {/if}"
      target="_blank"
      class="badge-release icon-blue icon-tags"
    >{$majorVersion}</a>
  </p>
  <p>
    {='A new version of Piwigo is available.'|translate}<br>
    {='This is a major update, with <a href="%s">new exciting features</a>.'|translate:($majorReleaseUrl|htmlspecialchars)|noescape} {='Some themes and plugins may be not available yet.'|translate}
  </p>
  <form action="" method="post">
    <fieldset>
      <legend><span
          class="icon-floppy icon-red"
        ></span>{='Backup'|translate}</legend>
      <p>
        {='Always have a backup of your database and files.'|translate}
        {='The best is to have them made automatically on a regular basis.'|translate}
        {='If anything bad happens during the update, you would be able to restore a backup.'|translate}
      </p>
    </fieldset>

    <fieldset>
      <legend><span
          class="icon-cog icon-purple"
        ></span>{='Update to Piwigo %s'|translate:$upgradeTo}</legend>
      {if $missingPlugins !== []}
        <p><i>{='Following plugins may not be compatible with the new version of Piwigo:'|translate}</i></p>
        <p><ul><li n:foreach="$missingPlugins as $plugin"><a
                href="{$plugin['uri']}"
                class="externalLink"
              >{$plugin['name']}</a></li></ul><br></p>
      {/if}
      {if $missingThemes !== []}
        <p><i>{='Following themes may not be compatible with the new version of Piwigo:'|translate}</i></p>
        <p><ul><li n:foreach="$missingThemes as $theme"><a
                href="{$theme['uri']}"
                class="externalLink"
              >{$theme['name']}</a></li></ul><br></p>
      {/if}
      <p>
        <p n:if="$missingPlugins !== [] or $missingThemes !== []"><label><input
              type="checkbox"
              name="understand"
            > &nbsp;{='I decide to update anyway'|translate}</label></p>
        {if isset($containerVersion)}
          <p><a
              class="icon-right goto-update-guide {if $missingPlugins !== [] or $missingThemes !== []} goto-update-guide-disabled{/if}"
              href="{$dockerUpdateGuideUrl}"
              target="_blank"
            > {='Follow the update guide'|translate}</a></p>
        {else}
          <p><input
              type="submit"
              name="submit"
              value="{='Update to Piwigo %s'|translate:$upgradeTo}"
              {if $missingPlugins !== [] or $missingThemes !== [] or isset($majorReleasePhpRequired)}
              disabled="disabled"
              {/if}
            ></p>
        {/if}
        <span
          n:if="isset($majorReleasePhpRequired)"
          class="errors icon-block"
        >{='Requires PHP %s'|translate:$majorReleasePhpRequired}</span>
      </p>
      <p
        class="autoupdate_bar u-hidden"
      >&nbsp; {='Update in progress...'|translate}<br><img
          src="themes/admin/default/images/ajax-loader-bar.gif"
        ></p>
    </fieldset>

    <p><input type="hidden" name="upgrade_to" value="{$upgradeTo}"><input
        type="hidden"
        name="pwg_token"
        value="{$csrfToken}"
      ></p>
  </form>
{/if}
