{templateType Piwigo\Admin\Projection\UpdatesExtView}
{if $isWebmaster === 1}
  <div class="autoupdate_bar">
    <div
      class="head-button-1 icon-ok-circled"
      id="update_all"
    >{='Update All'|translate}</div>
    <div
      class="head-button-2 icon-block"
      id="ignore_all"
      onClick="ignoreAll(); return false;"
    >{='Ignore All'|translate}</div>
    <div
      class="head-button-2 icon-ccw{if !$showReset} u-hidden{/if}"
      id="reset_ignore"
      onClick="resetIgnored(); return false;"
    >{='Reset ignored updates'|translate}</div>
  </div>
  <div class="autoupdate_bar u-hidden">
    {='Please wait...'|translate}<br><img
      src="themes/admin/default/images/ajax-loader-bar.gif"
    >
  </div>

  <p
    id="up_to_date"
    class="u-hidden up-to-date-message"
  >{='All %s are up to date.'|sprintf:$extType|translate}</p>

  {foreach $updatesExtension as $type => $updates}
    <fieldset
      n:if="$updates !== []"
      id="{$type}"
      class="pluginContainer pluginUpdateContainer line-form"
      data-type="{$type}"
    >
      <legend>
        {if $type === 'plugins'}
          <span class="icon-puzzle icon-green"></span>{='Plugins'|translate}
        {elseif $type === 'themes'}
          <span class="icon-brush icon-blue"></span>{='Themes'|translate}
        {elseif $type === 'languages'}
          <span
            class="icon-language icon-purple"
          ></span>{='Languages'|translate}
        {/if}
      </legend>

      <div
        n:foreach="$updates as $extension"
        class="pluginBox pluginMiniBox{if $extension->ignored} u-hidden{/if}"
        id="{$type}_{$extension->extId}"
        {if $extension->ignored}
        data-ignored="true"
        {/if}
      >
        <div class="pluginContent">
          <div class="pluginName">
            {$extension->name}
          </div>
          <div class="pluginDesc" id="desc_{$extension->id}">
            <span
              class="plugin-version plugin-version-old icon-flow-branch"
              title="{='Current Version'|translate}"
            >{$extension->currentVersion}</span> <i
              class="icon-right"
            ></i> <span
              class="plugin-version icon-flow-branch"
              title="{='New Version'|translate}"
            >{$extension->newVersion}</span>
            <div
              class="plugin-revision-info"
            ><span>{$extension->revisionDescription}</span></div>
            <a
              href='{$extension->url|noescape}'
              target="_blank"
              class="plugin-update-link icon-info-circled-1"
            >{='More information'|translate}</a>
          </div>
          <div class="pluginActions">
            <a
              href="#"
              onClick="updateExtension({$type}, {$extension->extId}, {$extension->revisionId});"
              class="updateExtension pluginActionLevel1"
            > <i class="icon-ok-circled"></i> {='Install'|translate}</a>
            <a
              href="{$extension->downloadUrl|noescape}"
              class="pluginActionLevel2"
            > <i class="icon-download"></i> {='Download'|translate}</a>
            <a
              href="#"
              onClick="ignoreExtension({$type}, {$extension->extId}); return false;"
              class="ignoreExtension pluginActionLevel2"
            ><i class="icon-block"></i>{='Ignore this update'|translate}</a>
          </div>
        </div>
      </div>
    </fieldset>
  {/foreach}
{/if}
