{templateType Piwigo\Admin\Projection\UserPermView}
<h2>{$title}</h2>

<fieldset n:if="isset($categoriesBecauseOfGroups)">
  <legend>{='Albums authorized thanks to group associations'|translate}</legend>

  <ul>
    <li n:foreach="$categoriesBecauseOfGroups as $cat">{$cat}</li>
  </ul>
</fieldset>

<fieldset>
  <legend>{='Other private albums'|translate}</legend>

  <form method="post" action="{$formAction}">
    {$doubleSelect}
    <input type="hidden" name="pwg_token" value="{$pwgToken}">
  </form>
</fieldset>
