.graphicalCheckbox {
    font-size: 16px;
    line-height: 16px;
  }

  .graphicalCheckbox+input {
    display: none;
  }

  #album_thumb_size {
    width: 400px;
    display: inline-block;
    margin-right: 10px;
  }

  #album_square_thumbs {
    margin-top: 5px;
  }

  .themeShot {
    margin: 10px 0;
  }

  .themeShot img {
    width: 280px;
    border: 1px solid white;
    margin: 0 15px;
  }

  .themeBox {
    padding: 5px 5px 10px 5px;
    background-color: #e5e5e5;
    display: inline-table;
  }

  .themeBoxModusConfig {
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: none;
    padding: 5px 5px 10px 5px;
    background-color: #e5e5e5;
    display: inline-table;
    position: relative;
    height: 192px;
  }

  .themeNameModusConfig {
    color: black;
    margin: 5px 0;
    position: relative;
  }

  .themeDefault {
    background-color: #333;
  }

  .themeDefault .themeNameModusConfig {
    color: #fff;
  }

  .themeDefault a {
    color: #aaa;
  }

  .fieldsetModusConfig {
    border-top: 2px solid #ddd;
  }

  .legendModusConfig {
    padding: 0 10px;
  }
