{templateType Piwigo\Admin\Projection\BatchManagerFilterView}
{* All of this partial's own combineCss/combineScript/exposeData/
   exposeString calls moved to its 2 real parents' own
   pageAssets()/exposedPageData()/exposedStrings() (docs/PLAN.md's
   P42-B) -- batch_manager_unit.latte and batch_manager_global.latte,
   the only 2 real templates that {include} this file. *}
<fieldset>
  <legend><span
      class='icon-filter icon-green'
    ></span>{='Filter'|translate}</legend>
  <div class="filterBlock">
    <ul id="filterList">
      <li
        id="filter_prefilter"
        {if $filter->prefilter === null}
        class="u-hidden"
        {/if}
      >
        <input
          type="checkbox"
          name="filter_prefilter_use"
          class="useFilterCheckbox"
          {if $filter->prefilter !== null}
          checked="checked"
          {/if}
        >
        <p>{='Predefined filter'|translate}</p>
        <a
          href="#"
          class="removeFilter"
          title="{='remove this filter'|translate}"
        ><span>[x]</span></a>
        <select name="filter_prefilter">
          {foreach $prefilters as $prefilter}
            {var $optionClass = ''}
            {if $prefilter['ID'] == 'no_album'}{var $optionClass = 'icon-heart-broken'}{/if}
            {if $prefilter['ID'] == 'caddie'}{var $optionClass = 'icon-flag'}{/if}

            <option
              value="{$prefilter['ID']}"
              class="{$optionClass}"
              {if $filter->prefilter !== null && $filter->prefilter === $prefilter['ID']}
              selected="selected"
              {/if}
            >{$prefilter['NAME']}</option>
          {/foreach}
        </select>
        <a
          id="empty_caddie"
          href="admin.php?page=batch_manager&amp;action=empty_caddie&amp;pwg_token={$CSRF_TOKEN}"
          class="{if $filter->prefilter === null || $filter->prefilter !== 'caddie'}u-hidden{/if}"
        >{='Empty caddie'|translate}</a>
        <a
          n:if="$NB_ORPHANS > 0"
          id="delete_orphans"
          href="#"
          class="icon-trash{if $filter->prefilter === null || $filter->prefilter !== 'no_album'} u-hidden{/if}"
        >{='Delete %d orphan photos'|translate:$NB_ORPHANS}</a>
        <a
          n:if="$NB_NO_MD5SUM > 0"
          id="sync_md5sum"
          href="#"
          class="icon-arrows-cw{if $filter->prefilter === null || $filter->prefilter !== 'no_sync_md5sum'} u-hidden{/if}"
        >{='Compute %d missing checksums'|translate:$NB_NO_MD5SUM}</a>

        <span id="add_md5sum" class="u-hidden">
          <img
            class="loading"
            src="themes/default/images/ajax-loader-small.gif"
          >
          <span id="md5sum_added">0</span>% -
          <span
            id="md5sum_to_add"
            data-origin="{$NB_NO_MD5SUM}"
          >{$NB_NO_MD5SUM}</span>
          {='checksums to add'|translate}
        </span>

        <span id="add_md5sum_error" class="errors u-hidden"></span>

        <span id="orphans_deletion" class="u-hidden">
          <img
            class="loading"
            src="themes/default/images/ajax-loader-small.gif"
          >
          <span id="orphans_deleted">0</span>% -
          <span
            id="orphans_to_delete"
            data-origin="{$NB_ORPHANS}"
          >{$NB_ORPHANS}</span>
          {='orphans to delete'|translate}
        </span>

        <span id="orphans_deletion_error" class="errors u-hidden"></span>

        <span
          id="duplicates_options"
          class="{if $filter->prefilter === null || $filter->prefilter !== 'duplicates'}u-hidden{/if}"
        >
          {='based on'|translate}
          <label class="font-checkbox"><span class="icon-check"></span><input
              type="checkbox"
              name="filter_duplicates_filename"
              {if $filter->duplicateFlags->filename}
              checked="checked"
              {/if}
            > {='file name'|translate}</label>
          <label class="font-checkbox" title="md5sum"><span
              class="icon-check"
            ></span><input
              type="checkbox"
              name="filter_duplicates_checksum"
              {if $filter->duplicateFlags->checksum}
              checked="checked"
              {/if}
            > {='checksum'|translate} <i
              class="icon-help-circled tiptip"
              title="translated md5sum definition here !"
            ></i></label>
          <label class="font-checkbox"><span class="icon-check"></span><input
              type="checkbox"
              name="filter_duplicates_date"
              {if $filter->duplicateFlags->date || ($filter->prefilter !== null && $filter->prefilter !== 'duplicates')}
              checked="checked"
              {/if}
            > {='date & time'|translate}</label>
          <label class="font-checkbox"><span class="icon-check"></span><input
              type="checkbox"
              name="filter_duplicates_dimensions"
              {if $filter->duplicateFlags->dimensions}
              checked="checked"
              {/if}
            > {='width & height'|translate}</label>
        </span>
      </li>
      {* categories *}
      <li
        id="filter_category"
        {if $filter->category === null}
        class="u-hidden"
        {/if}
      >
        <input
          type="checkbox"
          name="filter_category_use"
          class="useFilterCheckbox"
          {if $filter->category !== null}
          checked="checked"
          {/if}
        >
        <p>{='Album'|translate}</p>
        <a
          href="#"
          class="removeFilter"
          title="{='remove this filter'|translate}"
        ><span>[x]</span></a>
        {* <select data-selectize="categories" data-value="{$filter_category_selected|@json_encode|escape:html}"
        data-default="first" name="filter_category"></select> *}
        <div
          id="selectedAlbumFilterArea"
          {if $filter_category_selected === null}
          class="u-hidden"
          {/if}
        >
          <div class="selectedAlbum" id="selectedAlbumFilter">
            <input
              type="hidden"
              name="filter_category"
              id="filterCategoryValue"
              value="{$filter_category_selected|json_encode|htmlspecialchars|noescape}"
            >
            <span
              class="icon-sitemap"
              id="selectedAlbumNameFilter"
            >{$filter_category_selected_name|noescape}</span>
            <a class="icon-pencil" id="selectedAlbumEditFilter"></a>
          </div>
          <label class="font-checkbox"><span class="icon-check"></span><input
              type="checkbox"
              name="filter_category_recursive"
              {if $filter->categoryRecursive}
              checked="checked"
              {/if}
            > {='include child albums'|translate}</label>
        </div>
        <p
          class="head-button-1{if $filter_category_selected !== null} u-hidden{/if}"
          id="selectAlbumFilter"
        >
          {="Select an album"|translate}
        </p>
      </li>

      <li id="filter_tags" {if !$filter->tagsUsed} class="u-hidden" {/if}>
        <input
          type="checkbox"
          name="filter_tags_use"
          class="useFilterCheckbox"
          {if $filter->tagsUsed}
          checked="checked"
          {/if}
        >
        <p>{='Tags'|translate}</p>
        <a
          href="#"
          class="removeFilter"
          title="{='remove this filter'|translate}"
        ><span>[x]</span></a>
        <select
          data-selectize="tags"
          data-value="{$filter_tags|json_encode|htmlspecialchars|noescape}"
          placeholder="{='Type in a search term'|translate}"
          name="filter_tags[]"
          multiple
        ></select>
        <label class="font-checkbox"><span
            class="icon-circle-empty"
          ></span><span><input
              type="radio"
              name="tag_mode"
              value="AND"
              {if $filter->tagMode === null || $filter->tagMode === 'AND'}
              checked="checked"
              {/if}
            > {='All tags'|translate}</span></label>
        <label class="font-checkbox"><span
            class="icon-circle-empty"
          ></span><span><input
              type="radio"
              name="tag_mode"
              value="OR"
              {if $filter->tagMode !== null && $filter->tagMode === 'OR'}
              checked="checked"
              {/if}
            > {='Any tag'|translate}</span></label>
      </li>

      <li id="filter_level" {if $filter->level === null} class="u-hidden" {/if}>
        <input
          type="checkbox"
          name="filter_level_use"
          class="useFilterCheckbox"
          {if $filter->level !== null}
          checked="checked"
          {/if}
        >
        <p>{='Privacy level'|translate}</p>
        <a
          href="#"
          class="removeFilter"
          title="{='remove this filter'|translate}"
        ><span>[x]</span></a>
        <select name="filter_level" size="1">
          <option
            n:foreach="$filter_level_options as $optKey => $optLabel"
            value="{$optKey}"
            n:attr="selected: in_array((string) $optKey, array_map(strval(...), (array) $filter_level_options_selected), true) ? 'selected' : null"
          >{html_entity_decode(strval($optLabel))}</option>
        </select>
        <label class="font-checkbox"><span class="icon-check"></span><input
            type="checkbox"
            name="filter_level_include_lower"
            {if $filter->levelIncludeLower}
            checked="checked"
            {/if}
          > {='include photos with lower privacy level'|translate}</label>
      </li>

      <li
        id="filter_dimension"
        {if !$filter->dimensionUsed}
        class="u-hidden"
        {/if}
      >
        <input
          type="checkbox"
          name="filter_dimension_use"
          class="useFilterCheckbox"
          {if $filter->dimensionUsed}
          checked="checked"
          {/if}
        >
        <p>{='Dimensions'|translate}</p>
        <a
          href="#"
          class="removeFilter"
          title="{='remove this filter'|translate}"
        ><span>[x]</span></a>
        <blockquote>
          <div data-slider="widths" class="dimensionSlidersBlocks">
            <div class="dimensionSlidersTitleButtons">
              <div>
                {='Width'|translate} <span
                  class="slider-info"
                >{='between %d and %d pixels'|translate:$dimensions->selected->minWidth,$dimensions->selected->maxWidth}</span>
              </div>
              <a
                class="slider-choice dimension-cancel"
                data-min="{$dimensions->bounds->minWidth}"
                data-max="{$dimensions->bounds->maxWidth}"
              >{='Reset'|translate}</a>
            </div>
            <div class="slider-slider"></div>

            <input
              type="hidden"
              data-input="min"
              name="filter_dimension_min_width"
              value="{$dimensions->selected->minWidth}"
            >
            <input
              type="hidden"
              data-input="max"
              name="filter_dimension_max_width"
              value="{$dimensions->selected->maxWidth}"
            >
          </div>

          <div data-slider="heights" class="dimensionSlidersBlocks">
            <div class="dimensionSlidersTitleButtons">
              <div>
                {='Height'|translate} <span
                  class="slider-info"
                >{='between %d and %d pixels'|translate:$dimensions->selected->minHeight,$dimensions->selected->maxHeight}</span>
              </div>
              <a
                class="slider-choice dimension-cancel"
                data-min="{$dimensions->bounds->minHeight}"
                data-max="{$dimensions->bounds->maxHeight}"
              >{='Reset'|translate}</a>
            </div>
            <div class="slider-slider"></div>

            <input
              type="hidden"
              data-input="min"
              name="filter_dimension_min_height"
              value="{$dimensions->selected->minHeight}"
            >
            <input
              type="hidden"
              data-input="max"
              name="filter_dimension_max_height"
              value="{$dimensions->selected->maxHeight}"
            >
          </div>

          <div data-slider="ratios" class="dimensionSlidersBlocks">
            <div class="ratio-slider-label">
              <span>{='Ratio'|translate} ({='Width'|translate}/{='Height'|translate})</span>
              <span
                class="slider-info"
              >{='between %.2f and %.2f'|translate:$dimensions->selected->minRatio,$dimensions->selected->maxRatio}</span>
            </div>
            <div class="dimensionSlidersRatioButtons">
              <div>
                <a
                  n:if="$dimensions->ratioPortrait !== null"
                  class="slider-choice"
                  data-min="{$dimensions->ratioPortrait->min}"
                  data-max="{$dimensions->ratioPortrait->max}"
                >{='Portrait'|translate}</a>
                <a
                  n:if="$dimensions->ratioSquare !== null"
                  class="slider-choice"
                  data-min="{$dimensions->ratioSquare->min}"
                  data-max="{$dimensions->ratioSquare->max}"
                >{='square'|translate}</a>
                <a
                  n:if="$dimensions->ratioLandscape !== null"
                  class="slider-choice"
                  data-min="{$dimensions->ratioLandscape->min}"
                  data-max="{$dimensions->ratioLandscape->max}"
                >{='Landscape'|translate}</a>
                <a
                  n:if="$dimensions->ratioPanorama !== null"
                  class="slider-choice"
                  data-min="{$dimensions->ratioPanorama->min}"
                  data-max="{$dimensions->ratioPanorama->max}"
                >{='Panorama'|translate}</a>
              </div>
              <div>
                <a
                  class="slider-choice dimension-cancel"
                  data-min="{$dimensions->bounds->minRatio}"
                  data-max="{$dimensions->bounds->maxRatio}"
                >{='Reset'|translate}</a>
              </div>
            </div>
            <div class="slider-slider"></div>

            <input
              type="hidden"
              data-input="min"
              name="filter_dimension_min_ratio"
              value="{$dimensions->selected->minRatio}"
            >
            <input
              type="hidden"
              data-input="max"
              name="filter_dimension_max_ratio"
              value="{$dimensions->selected->maxRatio}"
            >
          </div>
        </blockquote>
      </li>

      <li id="filter_search" {if !$filter->searchUsed} class="u-hidden" {/if}>
        <input
          type="checkbox"
          name="filter_search_use"
          class="useFilterCheckbox"
          {if $filter->searchUsed}
          checked="checked"
          {/if}
        >
        <p>{='Search'|translate}</p>
        <a
          href="#"
          class="removeFilter"
          title="{='remove this filter'|translate}"
        ><span>[x]</span></a>
        <input
          name="q"
          size="40"
          value="{if $filter_search_query !== null} {$filter_search_query}{/if}"
        >
        <p title="{='Help'|translate}" class="help-popin-search">
          <i class="icon-help-circled"></i>
          <span>{='Search tips'|translate}</span>
        </p>
        <div n:if="isset($no_search_results)">{='No results for'|translate} :
          <em><strong>
              {foreach $no_search_results as $res}
                {if !$iterator->first} &mdash; {/if}
                {$res}
              {/foreach}
            </strong></em>
        </div>
      </li>

      <li
        id="filter_filesize"
        {if !$filter->filesizeUsed}
        class="u-hidden"
        {/if}
      >
        <input
          type="checkbox"
          name="filter_filesize_use"
          class="useFilterCheckbox"
          {if $filter->filesizeUsed}
          checked="checked"
          {/if}
        >
        <p>{='Filesize'|translate}</p>
        <a
          href="#"
          class="removeFilter"
          title="{='remove this filter'|translate}"
        ><span>[x]</span></a>
        <blockquote>
          <div data-slider="filesizes">
            <span
              class="slider-info"
            >{='between %s and %s MB'|translate:$filesize->selected->min,$filesize->selected->max}</span>
            <a
              class="slider-choice dimension-cancel"
              data-min="{$filesize->bounds->min}"
              data-max="{$filesize->bounds->max}"
            >{='Reset'|translate}</a>
            <div class="slider-slider"></div>

            <input
              type="hidden"
              data-input="min"
              name="filter_filesize_min"
              value="{$filesize->selected->min}"
            >
            <input
              type="hidden"
              data-input="max"
              name="filter_filesize_max"
              value="{$filesize->selected->max}"
            >
          </div>
        </blockquote>
      </li>
    </ul>

    <div class='noFilter'>{='No filter, add one'|translate}</div>

    <div class="filterActions">
      <div id="addFilter">
        <div
          class="addFilter-button icon-plus"
        >{='Add a filter'|translate}</div>
        <div class="addFilter-dropdown">
          <a
            data-value="filter_prefilter"
            {if $filter->prefilter !== null}
            class="disabled"
            {/if}
          >{='Predefined filter'|translate}</a>
          <a
            data-value="filter_category"
            {if $filter->category !== null}
            class="disabled"
            {/if}
          >{='Album'|translate}</a>
          <a
            data-value="filter_tags"
            {if $filter->tagsUsed}
            class="disabled"
            {/if}
          >{='Tags'|translate}</a>
          <a
            data-value="filter_level"
            {if $filter->level !== null}
            class="disabled"
            {/if}
          >{='Privacy level'|translate}</a>
          <a
            data-value="filter_dimension"
            {if $filter->dimensionUsed}
            class="disabled"
            {/if}
          >{='Dimensions'|translate}</a>
          <a
            data-value="filter_filesize"
            {if $filter->filesizeUsed}
            class="disabled"
            {/if}
          >{='Filesize'|translate}</a>
          <a
            data-value="filter_search"
            {if $filter->searchUsed}
            class="disabled"
            {/if}
          >{='Search'|translate}</a>
        </div>
        <a
          id="removeFilters"
          class="icon-cancel u-hidden"
        >{='Remove all filters'|translate}</a>
      </div>

      <button id="applyFilter" name="submitFilter" type="submit">
        <i class="icon-arrows-cw"></i> {='Refresh photo set'|translate}
      </button>

      <div id="errorFilter" class="icon-red-error u-hidden"></div>
    </div>
  </div>
</fieldset>

<div class="bg-modal" id="modalQuickSearch">
  <div class="modal-content">
    <a class="icon-cancel close-modal" id="closeModalQuickSearch"></a>

    <div class="quick-search-content">
      <div class="quick-search-header">
        <div class="AddIconContainer">
          <span class="AddIcon icon-blue icon-search"></span>
        </div>
      </div>
      <div class="quick-search-syntax">
        {var $is_dark_mode = ($themeconf['colorscheme'] == 'dark')}
        {include $ROOT_PATH . 'themes/default/template/help/quick_search.latte', is_dark_mode: $is_dark_mode}
      </div>
    </div>
  </div>
</div>
{include 'album_selector.inc.latte'}
