{if empty($load_mode)}{var $load_mode = 'footer'}{/if}
{do combineScript(id: 'jquery.colorbox', load: $load_mode, require: 'jquery', path: 'themes/default/js/plugins/jquery.colorbox.min.js')}
{do combineCss(id: 'jquery.colorbox', path: "themes/default/js/plugins/colorbox/style2/colorbox.css")}
