{if empty($load_mode)}{var $load_mode = 'footer'}{/if}
{do combineScript(id: 'jquery.ui.timepicker-addon', load: $load_mode, require: 'jquery.ui.datepicker,jquery.ui.slider', path: "themes/default/js/ui/jquery.ui.timepicker-addon.js")}

{var $require = 'jquery.ui.timepicker-addon'}
{var $datepicker_language = "themes/default/js/ui/i18n/jquery.ui.datepicker-" . $lang_info['jquery_code'] . ".js"}
{if ($ROOT_PATH|cat:$datepicker_language|file_exists)}
{do combineScript(id: "jquery.ui.datepicker-" . $lang_info['jquery_code'], load: $load_mode, require: 'jquery.ui.datepicker', path: $datepicker_language)}
{var $require = $require . ",jquery.ui.datepicker-" . $lang_info['jquery_code']}
{/if}

{var $timepicker_language = "themes/default/js/ui/i18n/jquery.ui.timepicker-" . $lang_info['jquery_code'] . ".js"}
{if ($ROOT_PATH|cat:$datepicker_language|file_exists)}
{do combineScript(id: "jquery.ui.timepicker-" . $lang_info['jquery_code'], load: $load_mode, require: 'jquery.ui.timepicker-addon', path: $timepicker_language)}
{var $require = $require . ",jquery.ui.timepicker-" . $lang_info['jquery_code']}
{/if}

{do combineScript(id: 'datepicker', load: $load_mode, require: $require, path: 'themes/admin/default/js/datepicker.js')}

{do combineCss(path: "themes/default/js/ui/theme/jquery.ui.theme.css")}
{do combineCss(path: "themes/default/js/ui/theme/jquery.ui.slider.css")}
{do combineCss(path: "themes/default/js/ui/theme/jquery.ui.datepicker.css")}
{do combineCss(path: "themes/default/js/ui/theme/jquery.ui.timepicker-addon.css")}
