<!DOCTYPE html>
<html lang="{$lang_info['code']}" dir="{$lang_info['direction']}">
<head>
{if $SHOW_MOBILE_APP_BANNER}
<meta name="apple-itunes-app" content="app-id=472225196">
{/if}
<meta charset="{$CONTENT_ENCODING}">
<meta name="generator" content="Piwigo (aka PWG), see piwigo.org">

{if isset($meta_ref)} 
{if isset($INFO_AUTHOR)}
<meta name="author" content="{$INFO_AUTHOR|strip_tags:false|replace:'"',' '}">
{/if}
{if isset($related_tags)}
<meta name="keywords" content="{foreach $related_tags as $tag}{if !$iterator->isFirst()}, {/if}{$tag['name']}{/foreach}">
{/if}
{if isset($COMMENT_IMG)}
<meta name="description" content="{$COMMENT_IMG|strip_tags:false|replace:'"',' '}{if isset($INFO_FILE)} - {$INFO_FILE}{/if}">
{else}
<meta name="description" content="{$PAGE_TITLE}{if isset($INFO_FILE)} - {$INFO_FILE}{/if}">
{/if}
{/if}

<title>{if $PAGE_TITLE!=l10n('Home') && $PAGE_TITLE!=$GALLERY_TITLE}{$PAGE_TITLE} | {/if}{$GALLERY_TITLE}</title>
<link rel="shortcut icon" type="image/x-icon" href="{$ROOT_URL}{$themeconf['icon_dir']}/favicon.ico">

<link rel="start" title="{='Home'|translate}" href="{$U_HOME}" >
<link rel="search" title="{='Search'|translate}" href="{$U_SEARCH}" >

{if isset($first['U_IMG'])   }<link rel="first" title="{='First'|translate}" href="{$first['U_IMG']}" >{/if}
{if isset($previous['U_IMG'])}<link rel="prev" title="{='Previous'|translate}" href="{$previous['U_IMG']}" >{/if}
{if isset($next['U_IMG'])    }<link rel="next" title="{='Next'|translate}" href="{$next['U_IMG']}" >{/if}
{if isset($last['U_IMG'])    }<link rel="last" title="{='Last'|translate}" href="{$last['U_IMG']}" >{/if}
{if isset($U_UP)          }<link rel="up" title="{='Thumbnails'|translate}" href="{$U_UP}" >{/if}

{if isset($U_PREFETCH)    }<link rel="prefetch" href="{$U_PREFETCH}">{/if}
{if isset($U_CANONICAL)   }<link rel="canonical" href="{$U_CANONICAL}">{/if}

{if !empty($page_refresh)}<meta http-equiv="refresh" content="{$page_refresh['TIME']};url={$page_refresh['U_REFRESH']}">{/if}

{spaceless}
{foreach $themes as $theme}
  {if $theme['load_css']}
  {=cssLink("themes/" . $theme['id'] . "/theme.css")}
  {/if}
  {if !empty($theme['local_head'])}
  {include $theme['local_head'], theme: $theme, load_css: $theme['load_css']}
  {/if}
{/foreach}

{=viteEntry("core.scripts")}
{/spaceless}

{if !empty($head_elements)}
{foreach $head_elements as $elt}
  {$elt}
{/foreach}
{/if}
<script id="pwg-config" type="application/json">{=['wsUrl' => $WS_URL]|json_encode|noescape}</script>
</head>

<body id="{$BODY_ID}" class="{foreach $BODY_CLASSES as $class}{$class} {/foreach}"  data-infos='{$BODY_DATA}' data-error-icon="{$ROOT_URL}{$themeconf['icon_dir']}/errors_small.png"{if isset($maxRequests)} data-max-requests="{$maxRequests}"{/if}>

<div id="the_page">

{if !empty($header_msgs)}
<div class="header_msgs">
  {foreach $header_msgs as $elt}
  {$elt}<br>
  {/foreach}
</div>
{/if}

<div id="theHeader">{$PAGE_BANNER|default:''}</div>

{if !empty($header_notes)}
<div class="header_notes">
  {foreach $header_notes as $elt}
  <p>{$elt}</p>
  {/foreach}
</div>
{/if}
