<dt>{='Menu'|translate}</dt>
<dd>
{if isset($block->data['qsearch']) and  $block->data['qsearch']==true}
	<form action="{$U_QSEARCH}" method="post" id="quicksearch">
		<p class="u-reset-margin"{*this <p> is for html validation only - does not affect positioning*}>
			<input type="text" name="q" id="qsearchInput" placeholder="{='Quick search'|translate}" required class="u-w-90p"{if !empty($QUERY_SEARCH)} value="{$QUERY_SEARCH}"{/if}>
		</p>
	</form>
{/if}
	<ul>{spaceless}
	{foreach $block->data as $link}
		{if is_array($link)}
			<li><a href="{$link['URL']}"{if isset($link['TITLE'])} title="{$link['TITLE']}"{/if}{if isset($link['REL'])} {$link['REL']|noescape}{/if}>{$link['NAME']}</a>{if isset($link['COUNTER'])} ({$link['COUNTER']}){/if}</li>
		{/if}
	{/foreach}
	{/spaceless}</ul>
</dd>
