{templateType Piwigo\Controller\Projection\PasswordView}
{layout 'layout.latte'}
{block content}
  <container id="mode" class="light">
    <section id="header-options">
      <div>
        <i class="gallery-icon-moon toggle-mode" id="toggle_mode_light"></i>
        <i class="gallery-icon-sun toggle-mode" id="toggle_mode_dark"></i>
      </div>
      <div>
        <a href="{$helpLink}" target="_blank">{='Help'|translate}</a>
        <div
          n:if="isset($errors['password_page_error'])"
          class="error_block_container"
        >
          <div class="error_block">
            <i class="gallery-icon-cancel"></i>
            <p>{$errors['password_page_error']}</p>
          </div>
        </div>
      </div>
    </section>

    <section n:if="'none' !== $STD_PGS_SELECTED_LOGO" id="logo-section">
      {if 'piwigo_logo' === $STD_PGS_SELECTED_LOGO}
        <img
          id="piwigo-logo"
          src="{$ROOT_URL}themes/standard_pages/images/piwigo_logo.svg"
          data-logo-light="{$ROOT_URL}themes/standard_pages/images/piwigo_logo.svg"
          data-logo-dark="{$ROOT_URL}themes/standard_pages/images/piwigo_logo_dark.svg"
        >
      {elseif 'custom_logo' === $STD_PGS_SELECTED_LOGO}
        <img id="custom-logo" src="{$ROOT_URL}logo.php">
      {elseif 'gallery_title' === $STD_PGS_SELECTED_LOGO}
        <h1>{$GALLERY_TITLE}</h1>
      {/if}
    </section>

    <section id="password-form">
      <div class="">
        {if $action === 'lost' || $action === 'reset' || $action === 'lost_code'}
          <h1
            class=""
          >{if !isset($isFirstLogin)}{='Forgot your password?'|translate}{else}{='Welcome !'|translate}<br>{='It\'s your first login !'|translate}{/if}</h1>
          <form
            id="lostPassword"
            class="properties"
            action="{$formAction}?action={$action}{if isset($key)}&amp;key={$key}{/if}"
            method="post"
          >
            <input type="hidden" name="pwg_token" value="{$pwgToken}">
            {if $action === 'lost'}
              <p
                class="form-instructions"
              >{='Please enter your username or email address.'|translate} {='You will receive a link to create a new password via email.'|translate}</p>

              <div class="column-flex">
                <label for="username">{='Username or email'|translate}</label>
                <div class="row-flex input-container">
                  <i class="gallery-icon-user-2"></i>
                  <input
                    type="text"
                    id="username_or_email"
                    name="username_or_email"
                    size="100"
                    maxlength="100"
                    {if isset($usernameOrEmail)}
                    value="{$usernameOrEmail}"
                    {/if}
                    autofocus
                    data-required="true"
                  >
                </div>
                <p class="error-message"><i
                    class="gallery-icon-attention-circled"
                  ></i> {='must not be empty'|translate}</p>
              </div>

              <div class="column-flex">
                <input
                  tabindex="4"
                  type="submit"
                  name="submit"
                  value="{='Change my password'|translate}"
                  class="btn btn-main "
                >
                <p
                  n:if="isset($errors['password_form_error'])"
                  class="error-message error-message-visible"
                ><i
                    class="gallery-icon-attention-circled"
                  ></i> {$errors['password_form_error']}</p>
              </div>
            {elseif $action === 'reset'}
              <p class="intro-paragraph">
                {if !isset($isFirstLogin)}
                  {='Hello <em>%s</em>, enter your new password below.'|translate:($username|htmlspecialchars)|rawHtml}
                {else}
                  {='Let\'s set your password below.'|translate}
                {/if}
              </p>

              <div n:if="isset($isFirstLogin)" class="column-flex">
                <label for="username">{='Username'|translate}</label>
                <div class="row-flex input-container">
                  <i class="gallery-icon-user-2"></i>
                  <input
                    type="text"
                    class=""
                    type="text"
                    name="username"
                    id="username"
                    size="25"
                    value="{$username}"
                    disabled
                  >
                </div>
              </div>

              <div class="column-flex">
                <label
                  for="password"
                >{if isset($isFirstLogin)}{='Password'|translate}{else}{='New password'|translate}{/if}</label>
                <div class="row-flex input-container">
                  <i class="gallery-icon-lock"></i>
                  <input
                    type="password"
                    class=""
                    name="use_new_pwd"
                    id="use_new_pwd"
                    size="25"
                    autofocus
                  >
                  <i class="gallery-icon-eye togglePassword"></i>
                </div>
                <p class="error-message"><i
                    class="gallery-icon-attention-circled"
                  ></i> {='must not be empty'|translate}</p>
              </div>

              <div class="column-flex">
                <label
                  for="passwordConf"
                >{if isset($isFirstLogin)}{='Confirm Password'|translate}{else}{='Confirm new password'|translate}{/if}</label>
                <div class="row-flex input-container">
                  <i class="gallery-icon-lock"></i>
                  <input type="password" name="passwordConf" id="passwordConf">
                  <i class="gallery-icon-eye togglePassword"></i>
                </div>
                <p class="error-message"><i
                    class="gallery-icon-attention-circled"
                  ></i> {='must not be empty'|translate}</p>
              </div>

              <div class="column-flex">
                <input
                  tabindex="4"
                  type="submit"
                  name="submit"
                  {if !isset($isFirstLogin)}
                  value="{='Confirm my new password'|translate}"
                  {else}
                  value="{='Set my password'|translate}"
                  {/if}
                  class="btn btn-main "
                >
              </div>
            {elseif $action === 'lost_code'}
              <span class="success-message"><i
                  class="gallery-icon-ok-circled"
                ></i>{='If your account exists, a verification code has been sent to your email address.'|translate}</span>
              <div class="column-flex">
                <label for="user_code">{='Verification code'|translate}</label>
                <div class="row-flex input-container">
                  <i class="gallery-icon-user-2"></i>
                  <input
                    type="text"
                    id="user_code"
                    name="user_code"
                    size="100"
                    maxlength="100"
                    autofocus
                  >
                </div>
                <p class="error-message"><i
                    class="gallery-icon-attention-circled"
                  ></i> {='must not be empty'|translate}</p>
              </div>

              <div class="column-flex">
                <input
                  tabindex="4"
                  type="submit"
                  name="submit"
                  value="{='Verify'|translate}"
                  class="btn btn-main"
                >
                <p
                  n:if="isset($errors['password_form_error'])"
                  class="error-message error-message-visible"
                ><i
                    class="gallery-icon-attention-circled"
                  ></i> {$errors['password_form_error']}</p>
                <p
                  class="contact-webmaster-hint"
                >{="If you do not receive the email, please contact your webmaster."|translate}</p>
              </div>
            {/if}
          </form>

          <div class="secondary-links">
            <p>{_ 'Return to <a href="identification.php" title="Sign in">Sign in</a>'|rawHtml}</p>
          </div>
        {else}
          {if $action === 'lost_end'}
            <span class="success-message"><i
                class="gallery-icon-ok-circled"
              ></i>{='An email has been sent with a link to reset your password'|translate}</span>
            <p>{='Check your inbox.'|translate}</p>
          {elseif $action === 'reset_end'}
            {if isset($isFirstLogin)}{var $string = ""}{else}{var $string = "reset"}{/if}
            <span class="success-message"><i
                class="gallery-icon-ok-circled"
              ></i>
              {if isset($isFirstLogin)}
                {='Your password was successfully set'|translate}
              {else}
                {='Your password was successfully reset'|translate}
              {/if}
            </span>
            <a
              href="identification.php"
              title="{='Login'|translate}"
              class="btn-main"
            >{='Login'|translate}</a>
          {else}
            <p>{_ 'An error has occured please got back to <a href="identification.php" title="Sign in">Sign in</a> or <a href="register.php">Register</a>'|rawHtml}</p>
          {/if}
        {/if}
      </div>
    </section>

    <a href="index.php" id="return-to-gallery"><i
        class="gallery-icon-left-chevron"
      ></i> {='Return to the gallery'|translate}</a>

    <section n:if="count($languageOptions) > 1" id="language-switch">
      <div id="lang-select">
        <span id="other-languages">
          <span
            n:foreach="$languageOptions as $code => $lang"
            id="lang={$code}"
            data-lang-code="{$code}"
          >{$lang}</span>
        </span>
        <div id="selected-language-container">
          <i class="gallery-icon-left-chevron"></i><span
            id="selected-language"
          >{$languageOptions[$currentLanguage]}</span>
        </div>
      </div>
    </section>
  </container>
{/block}
