{templateType Piwigo\Controller\Projection\RegisterView}
{layout 'layout.latte'}
{block content}
{do combineCss(id: 'standard_pages_css', path: "themes/standard_pages/skins/" . $STD_PGS_SELECTED_SKIN . ".css", order: 100)}
{do combineCss(path: "themes/default/vendor/fontello/css/gallery-icon.css", order: -10)}

{do combineScript(id: 'standard_pages_js', load: 'async', require: 'jquery', path: 'themes/standard_pages/js/standard_pages.js')}

<container id="mode" class="light">
  <section id="header-options">
    <div>
      <i
        class="gallery-icon-moon toggle-mode"
        id="toggle_mode_light"
      ></i>
      <i
        class="gallery-icon-sun toggle-mode"
        id="toggle_mode_dark"
      ></i>
    </div>
    <div>
      <a href="{$helpLink}" target="_blank">{='Help'|translate}</a>
      <div
        n:if="isset($errors['register_page_error'])"
        class="error_block_container"
      >
        <div
          n:foreach="$errors['register_page_error'] as $error"
          class="error_block"
        >
          <i class="gallery-icon-cancel"></i>
          <p>{$error}</p>
        </div>
      </div>
    </section>

  <section n:if="'none' != $STD_PGS_SELECTED_LOGO" id="logo-section">
    {if 'piwigo_logo' == $STD_PGS_SELECTED_LOGO}
      <img
        id="piwigo-logo"
        src="{$ROOT_URL}themes/standard_pages/images/piwigo_logo.svg"
        data-logo-light="{$ROOT_URL}themes/standard_pages/images/piwigo_logo.svg"
        data-logo-dark="{$ROOT_URL}themes/standard_pages/images/piwigo_logo_dark.svg"
      >
    {elseif 'custom_logo' == $STD_PGS_SELECTED_LOGO}
      <img id="custom-logo" src="{$ROOT_URL}logo.php">
    {elseif 'gallery_title'}
      <h1>{$GALLERY_TITLE}</h1>
    {/if}
  </section>

  <section id="register-form">
    <div class="">
      <h1 class="">
        {='Create an account'|translate}
      </h1>

      <form
        class="properties"
        method="post"
        action="{$formAction}"
        name="register_form"
        autocomplete="off"
      >
        <div class="column-flex">
          <label
            for="mail_address"
          >{='Email address'|translate}{if !$obligatoryUserMailAddress} ({='useful when password forgotten'|translate}){/if}</label>
          <div class="row-flex input-container">
            <i class="gallery-icon-user-2"></i>
            <input
              type="email"
              name="mail_address"
              id="login"
              value="{$formEmail}"
              {if $obligatoryUserMailAddress}
              data-required="true"
              {/if}
            >
          </div>
          <p class="error-message"><i
              class="gallery-icon-attention-circled"
            ></i> {='must not be empty'|translate}</p>
        </div>

        <div class="column-flex">
          <label for="username">{='Username'|translate}</label>
          <div class="row-flex input-container">
            <i class="gallery-icon-user-2"></i>
            <input
              type="text"
              name="login"
              id="login"
              value="{$formLogin}"
              data-required="true"
            >
          </div>
          <p class="error-message"><i
              class="gallery-icon-attention-circled"
            ></i> {='must not be empty'|translate}</p>
        </div>

        <div class="column-flex">
          <label for="password">{='Password'|translate}</label>
          <div class="row-flex input-container">
            <i class="gallery-icon-lock"></i>
            <input
              type="password"
              class=""
              name="password"
              id="password"
              size="25"
              data-required="true"
            >
            <i class="gallery-icon-eye togglePassword"></i>
          </div>
          <p class="error-message"><i
              class="gallery-icon-attention-circled"
            ></i> {='must not be empty'|translate}</p>
        </div>

        <div class="column-flex">
          <label for="password">{='Confirm Password'|translate}</label>
          <div class="row-flex input-container">
            <i class="gallery-icon-lock"></i>
            <input
              type="password"
              class=""
              name="password_conf"
              id="password_conf"
              size="25"
              data-required="true"
            >
            <i class="gallery-icon-eye togglePassword"></i>
          </div>
          <p class="error-message"><i
              class="gallery-icon-attention-circled"
            ></i> {='must not be empty'|translate}</p>
        </div>

        <div class="column-flex">
          <input type="hidden" name="key" value="{$formKey}">
          <input
            tabindex="4"
            type="submit"
            name="submit"
            value="{='Register'|translate}"
            class="btn btn-main "
          >
          <p
            n:if="isset($errors['register_form_error'])"
            class="error-message error-message-visible"
          ><i
              class="gallery-icon-attention-circled"
            ></i> {$errors['register_form_error']}</p>
        </div>
      </form>

      <div class="secondary-links">
        <p>{='Already have an account ?'|translate} <a
            href="identification.php"
            title="{='Login'|translate}"
          >{='Login'|translate}</a></p>
      </div>
    </div>
  </section>

  <a href="index.php" id="return-to-gallery"><i
      class="gallery-icon-left"
    ></i> {='Return to the gallery'|translate}</a>

  <section n:if="count($languageOptions) > 1" id="language-switch">
    <div id="lang-select">
      <span id="other-languages">
        <span
          n:foreach="$languageOptions as $code => $lang"
          id="lang={$code}"
          data-lang-code="{$code}"
        >{$lang}</span>
      </span>
      <div id="selected-language-container">
        <i class="gallery-icon-left-chevron"></i><span
          id="selected-language"
        >{$languageOptions[$currentLanguage]}</span>
      </div>
    </div>
  </section>
</container>
{/block}
