{templateType Piwigo\Template\Projection\ToasterView}
{do combineScript(id: 'toaster_js', load: 'async', require: 'jquery', path: 'themes/standard_pages/js/toaster.js')}
{do combineCss(id: 'toaster', path: 'themes/standard_pages/css/pages/toaster.css')}
<div class="toaster" id="pwg_toaster">
  <div class="toast template-pwg-toaster" id="toast_template">
    <i class="toast_icon"></i>
    <p class="toast_text"></p>
  </div>
</div>
