{=viteEntry('toaster_js')}
<div class="toaster" id="pwg_toaster">
  <div class="toast template-pwg-toaster" id="toast_template">
    <i class="toast_icon"></i>
    <p class="toast_text"></p>
  </div>
</div>
