{templateType Piwigo\Picture\Projection\CommentListView}
{if isset($commentDerivativeParams)}
  <div class="loader"><img
      src="{$ROOT_URL}{$themeconf['img_dir']}/ajax_loader.gif"
    ></div>
{/if}
<ul
  class="commentsList"
  style="{if isset($commentDerivativeParams)}--comment-illustration-width: {$commentDerivativeParams->maxWidth() + 5}px; --comment-description-min-height: {$commentDerivativeParams->maxHeight() + 5}px;{/if}"
>
  <li
    n:foreach="$comments as $comment"
    class="commentElement {if $iterator->counter0 % 2 !== 0}odd{else}even{/if}"
  >
    {if isset($comment['src_image'])}
      {if isset($commentDerivativeParams)}
        {var $derivative = $pwg->derivative($commentDerivativeParams, $comment['src_image'])}
      {else}
        {var $derivative = $pwg->derivative($derivative_params, $comment['src_image'])}
      {/if}
      <div class="illustration">
        <a href="{$comment['U_PICTURE']|noescape}">
          <img
            {if $derivative->isCached()}
            src="{$derivative->getUrl()|noescape}"
            {else}
            src="{$ROOT_URL}{$themeconf['icon_dir']}/img_small.png"
            data-src="{$derivative->getUrl()|noescape}"
            {/if}
            alt="{$comment['ALT']}"
          >
        </a>
      </div>
    {/if}
    <div class="description">
      <div
        n:if="isset($comment['U_DELETE']) or isset($comment['U_VALIDATE']) or isset($comment['U_EDIT'])"
        class="actions"
      >
        {if isset($comment['U_DELETE'])}
          <a
            href="{$comment['U_DELETE']|noescape}"
            data-confirm
          >
            {='Delete'|translate}
          </a>{if isset($comment['U_VALIDATE']) or isset($comment['U_EDIT']) or isset($comment['U_CANCEL'])} | {/if}
        {/if}
        {if isset($comment['U_CANCEL'])}
          <a href="{$comment['U_CANCEL']|noescape}">
            {='Cancel'|translate}
          </a>{if isset($comment['U_VALIDATE'])} | {/if}
        {/if}
        {if isset($comment['U_EDIT']) and !isset($comment['IN_EDIT'])}
          <a
            class="editComment"
            href="{$comment['U_EDIT']|noescape}#edit_comment"
          >
            {='Edit'|translate}
          </a>{if isset($comment['U_VALIDATE'])} | {/if}
        {/if}
        <a
          n:if="isset($comment['U_VALIDATE'])"
          href="{$comment['U_VALIDATE']|noescape}"
        >
          {='Validate'|translate}
        </a>&nbsp;
      </div>

      <span class="commentAuthor">{if $comment['WEBSITE_URL']}<a
            href="{$comment['WEBSITE_URL']}"
            class="external"
            target="_blank"
            rel="nofollow"
          >{$comment['AUTHOR']}</a>{else}{$comment['AUTHOR']}{/if}</span>
      {if isset($comment['EMAIL'])}- <a
          href="mailto:{$comment['EMAIL']}"
        >{$comment['EMAIL']}</a>{/if}
      - <span class="commentDate">{$comment['DATE']}</span>
      {if isset($comment['IN_EDIT'])}
        <a name="edit_comment"></a>
        <form
          method="post"
          action="{$comment['U_EDIT']|noescape}"
          id="editComment"
        >
          <p><label
              for="contenteditid"
            >{='Edit a comment'|translate} :</label></p>
          <p><textarea
              name="content"
              id="contenteditid"
              rows="5"
              cols="80"
            >{$comment['CONTENT']}</textarea></p>
          <p><label for="website_url">{='Website'|translate} :</label></p>
          <p><input
              type="text"
              name="website_url"
              id="website_url"
              value="{$comment['WEBSITE_URL']}"
              size="40"
            ></p>
          <p><input type="hidden" name="key" value="{$comment['KEY']}">
            <input
              type="hidden"
              name="pwg_token"
              value="{$comment['CSRF_TOKEN']}"
            >
            <input
              type="hidden"
              name="image_id"
              value="{$comment['IMAGE_ID'] ?? ($current['id'] ?? null)}"
            >
            <input type="submit" value="{='Submit'|translate}">
          </p>
        </form>
      {else}
        <blockquote><div>{$comment['CONTENT']|noescape}</div></blockquote>
      {/if}
    </div>
  </li>
</ul>
