{templateType Piwigo\Html\Projection\InfosErrorsView}
<div n:if="isset($errors)" class="errors">
  <ul>
    <li n:foreach="$errors as $error">{$error|noescape}</li>
  </ul>
</div>

<div n:if="isset($infos)" class="infos">
  <ul>
    <li n:foreach="$infos as $info">{$info|noescape}</li>
  </ul>
</div>
