{*
  P41 (docs/PLAN.md) shell layout -- merges header.latte + footer.latte's
  own chrome into one real Latte {layout}/{block} pair. Every converted
  page's own template declares {layout 'layout.latte'} right after its
  own {templateType} line and wraps its existing body in
  {block content}...{/block}; this file supplies everything before and
  after that slot. Ambient ROOT_URL/themeconf/lang_info/pwg and whatever
  an earlier assignContext() call this request already made (BODY_ID/
  BODY_CLASSES/PAGE_BANNER/header_notes/etc, still assigned by
  PageHeaderRenderer/PageTailRenderer exactly as before P41) reach this
  file the same way they reach any {templateType} template's own View --
  Latte's own {layout} inheritance shares the child's full $params with
  the parent it extends (Latte\Runtime\Template::render()), so nothing
  here needs to be redeclared as a property on any page-specific View.
*}
<!DOCTYPE html>
<html lang="{$lang_info['code']}" dir="{$lang_info['direction']}">
  <head>
    <meta
      n:if="$SHOW_MOBILE_APP_BANNER"
      name="apple-itunes-app"
      content="app-id=472225196"
    >
    <meta charset="{$CONTENT_ENCODING}">
    <meta name="generator" content="Piwigo (aka PWG), see piwigo.org">

    {if isset($meta_ref)}
      <meta
        n:if="isset($INFO_AUTHOR)"
        name="author"
        content="{$INFO_AUTHOR|strip_tags:false|replace:'"',' '}"
      >
      <meta
        n:if="isset($related_tags)"
        name="keywords"
        content="{foreach $related_tags as $tag}{if !$iterator->first}, {/if}{$tag['name']}{/foreach}"
      >
      {if isset($COMMENT_IMG)}
        <meta
          name="description"
          content="{$COMMENT_IMG|strip_tags:false|replace:'"',' '}{if isset($INFO_FILE)} - {$INFO_FILE}{/if}"
        >
      {else}
        <meta
          name="description"
          content="{$PAGE_TITLE}{if isset($INFO_FILE)} - {$INFO_FILE}{/if}"
        >
      {/if}
    {/if}

    <title>{if $PAGE_TITLE != l10n('Home') && $PAGE_TITLE != $GALLERY_TITLE}{$PAGE_TITLE} | {/if}{$GALLERY_TITLE}</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{$ROOT_URL}{$themeconf['icon_dir']}/favicon.ico"
    >

    <link rel="start" title="{='Home'|translate}" href="{$U_HOME|noescape}">
    <link
      rel="search"
      title="{='Search'|translate}"
      href="{$ROOT_URL}search.php"
    >

    <link
      n:if="isset($first['U_IMG'])"
      rel="first"
      title="{='First'|translate}"
      href="{$first['U_IMG']|noescape}"
    >
    <link
      n:if="isset($previous['U_IMG'])"
      rel="prev"
      title="{='Previous'|translate}"
      href="{$previous['U_IMG']|noescape}"
    >
    <link
      n:if="isset($next['U_IMG'])"
      rel="next"
      title="{='Next'|translate}"
      href="{$next['U_IMG']|noescape}"
    >
    <link
      n:if="isset($last['U_IMG'])"
      rel="last"
      title="{='Last'|translate}"
      href="{$last['U_IMG']|noescape}"
    >
    <link
      n:if="isset($U_UP)"
      rel="up"
      title="{='Thumbnails'|translate}"
      href="{$U_UP|noescape}"
    >

    <link
      n:if="isset($U_PREFETCH)"
      rel="prefetch"
      href="{$U_PREFETCH|noescape}"
    >
    <link
      n:if="isset($U_CANONICAL)"
      rel="canonical"
      href="{$U_CANONICAL|noescape}"
    >

    <meta
      n:if="!empty($page_refresh)"
      http-equiv="refresh"
      content="{$page_refresh['TIME']};url={$page_refresh['U_REFRESH']|noescape}"
    >

    {=getCombinedCss()}

    {=getCombinedScripts('header')}

    {if !empty($head_elements)}
      {foreach $head_elements as $elt}
        {$elt|noescape}
      {/foreach}
    {/if}
  </head>

  <body
    id="{$BODY_ID}"
    class="{foreach $BODY_CLASSES as $class}{$class} {/foreach}"
  >
    <div id="the_page">
      <div n:if="!empty($header_msgs)" class="header_msgs">
        {foreach $header_msgs as $elt}
          {$elt}<br>
        {/foreach}
      </div>

      <div id="theHeader">{$PAGE_BANNER|default:''|noescape}</div>

      <div n:if="!empty($header_notes)" class="header_notes">
        <p n:foreach="$header_notes as $elt">{$elt}</p>
      </div>

      {block content}{/block}

      <div id="copyright">
        {if isset($debug['TIME'])}
          {='Page generated in'|translate} {$debug['TIME']} ({$debug['NB_QUERIES']} {='SQL queries in'|translate} {$debug['SQL_TIME']}) -
        {/if}

        {*
          Please, do not remove this copyright. If you really want to,
          contact us on http://piwigo.org to find a solution on how
          to show the origin of the script...
        *}

        {='Powered by'|translate} <a href="{$APP_URL}" class="Piwigo">Piwigo</a>
        {$VERSION}
        {if isset($CONTACT_MAIL)}
          - <a
            href="mailto:{$CONTACT_MAIL}?subject={='A comment on your site'|translate|rawurlencode}"
          >{='Contact webmaster'|translate}</a>
        {/if}
        {if isset($TOGGLE_MOBILE_THEME_URL)}
          - {='View in'|translate} : <a
            href="{$TOGGLE_MOBILE_THEME_URL|noescape}"
          >{='Mobile'|translate}</a> | <b>{='Desktop'|translate}</b>
        {/if}

        {if isset($footer_elements)}
          {foreach $footer_elements as $elt}
            {$elt|noescape}
          {/foreach}
        {/if}
      </div>{* <!-- copyright --> *}

      <div n:if="isset($debug['QUERIES_LIST'])" id="debug">
        {$debug['QUERIES_LIST']|noescape}
      </div>
    </div>{* <!-- the_page --> *}

    {=getPageDataScript()}

    {=getCombinedScripts('footer')}

    <script
      n:if="isset($VITALS_SCRIPT_URL)"
      type="module"
      src="{$VITALS_SCRIPT_URL}"
    ></script>

    <div n:if="isset($EXTRA_BODY_CONTENT)">{$EXTRA_BODY_CONTENT|noescape}</div>

  </body>
</html>
