{templateType Piwigo\Controller\Projection\CategoryCatsView}
<div class="loader"><img
    src="{$ROOT_URL}{$themeconf['img_dir']}/ajax_loader.gif"
  ></div>
{block categoryList}
<ul
  class="thumbnailCategories"
  style="--cat-illustration-width: {$derivativeParams->maxWidth() + 5}px; --cat-description-height: {$derivativeParams->maxHeight() + 5}px;"
>
  {foreach $categoryThumbnails as $cat}
    {if $cat->representative !== null}
      {var $derivative = $pwg->derivative($derivativeParams, $cat->representative)}
    {/if}
    <li
      class="{if $iterator->counter0 % 2 !== 0}odd{else}even{/if}"
      data-category-id="{$cat->id}"
    >
      <div class="thumbnailCategory">
        <div class="illustration">
          <a href="{$cat->url}">
            <img
              {if $cat->representative === null}
              src="{$ROOT_URL}{$themeconf['icon_dir']}/img_small.png"
              {elseif $derivative->isCached()}
              src="{$derivative->getUrl()}"
              {else}
              src="{$ROOT_URL}{$themeconf['icon_dir']}/img_small.png"
              data-src="{$derivative->getUrl()}"
              {/if}
              alt="{$cat->tnAlt}"
              title="{$cat->name|replace:'"',' '|stripTags} - {='display this album'|translate}"
            >
          </a>
        </div>
        <div class="description">
          <h3>
            <a href="{$cat->url}">{$cat->name}</a>
            {var $hasIconTs = $cat->iconTs !== null}
            {var $iconTsTitle = $cat->iconTs?->title}
            {var $iconTsByChild = $cat->iconTs !== null && $cat->iconTs->isChildDate}
            {block albSymbol}
            <img
              n:if="$hasIconTs"
              title="{$iconTsTitle}"
              src="{$ROOT_URL}{$themeconf['icon_dir']}/recent{if $iconTsByChild}_by_child{/if}.png"
              alt="(!)"
            >
            {/block}
          </h3>
          <div class="text">
            <p
              n:if="$cat->infoDates !== null"
              class="dates"
            >{$cat->infoDates}</p>
            {var $captionNbImages = $cat->captionNbImages}{var $catDescription = $cat->description}
            {block catNbImages}<p class="Nb_images">{$captionNbImages}</p>{/block}{block catDescription}<p n:if="$catDescription !== null">{$catDescription}</p>{/block}
          </div>
        </div>
      </div>
    </li>
  {/foreach}
</ul>
{/block}
