{templateType Piwigo\Controller\Projection\CategoryCatsView}
<div class="loader"><img
    src="{$ROOT_URL}{$themeconf['img_dir']}/ajax_loader.gif"
  ></div>
<ul
  class="thumbnailCategories"
  style="--cat-illustration-width: {$derivativeParams->maxWidth() + 5}px; --cat-description-height: {$derivativeParams->maxHeight() + 5}px;"
>
  {foreach $categoryThumbnails as $cat}
    {if $cat['representative']}
      {var $derivative = $pwg->derivative($derivativeParams, $cat['representative']['src_image'])}
    {/if}
    <li
      class="{if $iterator->counter0 % 2 !== 0}odd{else}even{/if}"
      data-category-id="{$cat['id']}"
    >
      <div class="thumbnailCategory">
        <div class="illustration">
          <a href="{$cat['URL']|noescape}">
            <img
              {if !$cat['representative']}
              src="{$ROOT_URL}{$themeconf['icon_dir']}/img_small.png"
              {elseif $derivative->isCached()}
              src="{$derivative->getUrl()|noescape}"
              {else}
              src="{$ROOT_URL}{$themeconf['icon_dir']}/img_small.png"
              data-src="{$derivative->getUrl()|noescape}"
              {/if}
              alt="{$cat['TN_ALT']}"
              title="{$cat['NAME']|replace:'"',' '|stripTags} - {='display this album'|translate}"
            >
          </a>
        </div>
        <div class="description">
          <h3>
            <a href="{$cat['URL']|noescape}">{$cat['NAME']}</a>
            <img
              n:if="$cat['icon_ts'] !== null"
              title="{$cat['icon_ts']->title}"
              src="{$ROOT_URL}{$themeconf['icon_dir']}/recent{if $cat['icon_ts']->isChildDate}_by_child{/if}.png"
              alt="(!)"
            >
          </h3>
          <div class="text">
            <p
              n:if="isset($cat['INFO_DATES'])"
              class="dates"
            >{$cat['INFO_DATES']}</p>
            <p class="Nb_images">{$cat['CAPTION_NB_IMAGES']|noescape}</p>
            <p
              n:if="!empty($cat['DESCRIPTION'])"
            >{$cat['DESCRIPTION']|noescape}</p>
          </div>
        </div>
      </div>
    </li>
  {/foreach}
</ul>
