{templateType Piwigo\Menu\Projection\MenubarTagsView}
<dt>{='Tags'|translate}</dt>
<dd>
  <div id="menuTagCloud">
    {foreach $tags as $tag}
      {spaceless}
        <span>
          <a
            class="tagLevel{$tag->level}"
            href="{$tag->url}"
            title="{='display photos linked to this tag'|translate}"
          >{$tag->name}</a></span>{/spaceless}
      {* ABOVE there should be no space between text, </a> and </span> elements to avoid IE8 bug https://connect.microsoft.com/IE/feedback/ViewFeedback.aspx?FeedbackID=366567 *}
    {/foreach}
  </div>
</dd>
