{templateType Piwigo\Menu\Projection\MenubarBlockView}
<dt>{='Specials'|translate}</dt>
<dd>
  <ul>{spaceless}
      <li n:foreach="$block->data as $link"><a
          href="{$link['URL']|noescape}"
          title="{$link['TITLE']}"
          {if isset($link['REL'])}
          {$link['REL']|noescape}
          {/if}
        >{$link['NAME']}</a></li>
    {/spaceless}</ul>
</dd>
