{templateType Piwigo\Menu\Projection\MenubarMenuView}
<dt>{='Menu'|translate}</dt>
<dd>
  {if $quickSearch}
    <form action="{$rootUrl}qsearch.php" method="get" id="quicksearch">
      <p
        class="quicksearch-form-p"
        {*this <p> is for html validation only - does not affect positioning*}
      >
        <input
          type="text"
          name="q"
          id="qsearchInput"
          {if $querySearch !== null && $querySearch !== ''}
          value="{$querySearch}"
          {/if}
        >
      </p>
    </form>
  {/if}
  <ul>{spaceless}
      {foreach $links as $link}
        <li><a
            href="{$link->url|noescape}"
            {if $link->title !== null}
            title="{$link->title}"
            {/if}
            {if $link->rel !== null}
            rel="{$link->rel}"
            {/if}
          >{$link->name}</a>{if $link->counter !== null} ({$link->counter}){/if}</li>
      {/foreach}
    {/spaceless}</ul>
</dd>
