{templateType Piwigo\Menu\Projection\MenubarIdentificationView}
<dt>{='Identification'|translate}</dt>
<dd>
  {spaceless}
    <p n:if="$user !== null">{='Hello'|translate} {$user->username} !</p>
    <ul>
      <li n:if="$guest !== null and $guest->registerUrl !== null"><a
          href="{$guest->registerUrl|noescape}"
          title="{='Create a new account'|translate}"
          rel="nofollow"
        >{='Register'|translate}</a></li>
      <li n:if="$guest !== null"><a
          href="{$guest->loginUrl|noescape}"
          rel="nofollow"
        >{='Login'|translate}</a></li>
      <li n:if="$user !== null and $user->logoutUrl !== null"><a
          href="{$user->logoutUrl|noescape}"
        >{='Logout'|translate}</a></li>
      <li n:if="$user !== null and $user->profileUrl !== null"><a
          href="{$user->profileUrl|noescape}"
          title="{='edit user preferences'|translate}"
        >{='Profile'|translate}</a></li>
      <li n:if="$user !== null and $user->adminUrl !== null"><a
          href="{$user->adminUrl|noescape}"
          title="{='available for administrators only'|translate}"
        >{='Administration'|translate}</a></li>
    </ul>
  {/spaceless}
  {if $guest !== null}
    {spaceless}
      <form
        method="post"
        action="{$guest->loginUrl|noescape}"
        id="quickconnect"
      >
        <fieldset>
          <legend>{='Quick connect'|translate}</legend>
          <div>
            <label for="username">{='Username'|translate}</label><br>
            <input
              type="text"
              name="username"
              id="username"
              value=""
              class="quickconnect-input"
            >
          </div>

          <div><label for="password">{='Password'|translate}</label><br>
            <input
              type="password"
              name="password"
              id="password"
              class="quickconnect-input"
            >
          </div>

          <div n:if="$guest->authorizeRemembering"><label for="remember_me">
              <input
                type="checkbox"
                name="remember_me"
                id="remember_me"
                value="1"
              > {='Auto login'|translate}
            </label></div>

          <div>
            <input
              type="hidden"
              name="redirect"
              value="{$loginRedirect|urlencode}"
            >
            <input type="submit" name="login" value="{='Submit'|translate}">
            <span class="categoryActions">
              <a
                n:if="$guest->registerUrl !== null"
                href="{$guest->registerUrl|noescape}"
                title="{='Create a new account'|translate}"
                class="pwg-state-default pwg-button"
                rel="nofollow"
              >
                <span class="pwg-icon pwg-icon-register"></span>
              </a>
              <a
                href="{$guest->lostPasswordUrl|noescape}"
                title="{='Forgot your password?'|translate}"
                class="pwg-state-default pwg-button"
              >
                <span class="pwg-icon pwg-icon-lost-password"></span>
              </a>
            </span>
          </div>
        </fieldset>
      </form>
    {/spaceless}
  {/if}
</dd>
