{templateType Piwigo\Menu\Projection\MenubarSpecialsView}
<dt>{='Specials'|translate}</dt>
<dd>
  <ul>{spaceless}
      <li n:foreach="$specials as $link"><a
          href="{$link->url|noescape}"
          title="{$link->title}"
          {if $link->noFollow}
          rel="nofollow"
          {/if}
        >{$link->name}</a></li>
    {/spaceless}</ul>
</dd>
