{templateType Piwigo\Menu\Projection\MenubarView}
{if $blocks !== []}
  <div id="menubar">
    <dl n:foreach="$blocks as $id => $block" id="{$id}">
      {$block->raw_content|noescape}
    </dl>
  </div><div id="menuSwitcher"></div>
{/if}
