{templateType Piwigo\Menu\Projection\MenubarLinksView}
<dt>{='Links'|translate}</dt>
<dd>
  <ul>{spaceless}
      <li n:foreach="$links as $link">
        <a
          href="{$link->url}"
          class="external"
          {if $link->windowName !== null}
          data-window-name="{$link->windowName}"
          data-window-features="{$link->windowFeatures}"
          {/if}
        >
          {$link->label}
        </a>
      </li>
    {/spaceless}</ul>
</dd>
