{templateType Piwigo\Menu\Projection\MenubarView}
{if !empty($blocks)}
  <div id="menubar">
    <dl n:foreach="$blocks as $id => $block" id="{$id}">
      {if !empty($block->template)}
        {include $block->template, block: $block, id: $id}
      {else}
        {$block->raw_content|noescape}
      {/if}
    </dl>
  </div><div id="menuSwitcher"></div>
{/if}
