{templateType Piwigo\Menu\Projection\MenubarBlockView}
<dt>{='Links'|translate}</dt>
<dd>
  {do combineScript(id: 'menubar-links', load: 'footer', path: 'themes/default/js/menubar-links.js')}
  <ul>{spaceless}
      <li n:foreach="$block->data as $link">
        <a
          href="{$link['URL']}"
          class="external"
          {if isset($link['new_window'])}
          data-window-name="{$link['new_window']['NAME']}"
          data-window-features="{$link['new_window']['FEATURES']}"
          {/if}
        >
          {$link['LABEL']}
        </a>
      </li>
    {/spaceless}</ul>
</dd>
