{templateType Piwigo\Menu\Projection\MenubarBlockView}
{do combineCss(id: 'menubar_identification', path: 'themes/default/css/components/menubar_identification.css')}
<dt>{='Identification'|translate}</dt>
<dd>
  {spaceless}
    <p n:if="isset($USERNAME)">{='Hello'|translate} {$USERNAME} !</p>
    <ul>
      <li n:if="isset($U_REGISTER)"><a
          href="{$U_REGISTER|noescape}"
          title="{='Create a new account'|translate}"
          rel="nofollow"
        >{='Register'|translate}</a></li>
      <li n:if="isset($U_LOGIN)"><a
          href="{$U_LOGIN|noescape}"
          rel="nofollow"
        >{='Login'|translate}</a></li>
      <li n:if="isset($U_LOGOUT)"><a
          href="{$U_LOGOUT|noescape}"
        >{='Logout'|translate}</a></li>
      <li n:if="isset($U_PROFILE)"><a
          href="{$U_PROFILE|noescape}"
          title="{='edit user preferences'|translate}"
        >{='Profile'|translate}</a></li>
      <li n:if="isset($U_ADMIN)"><a
          href="{$U_ADMIN|noescape}"
          title="{='available for administrators only'|translate}"
        >{='Administration'|translate}</a></li>
    </ul>
  {/spaceless}
  {if isset($U_LOGIN)}
    {spaceless}
      <form method="post" action="{$U_LOGIN|noescape}" id="quickconnect">
        <fieldset>
          <legend>{='Quick connect'|translate}</legend>
          <div>
            <label for="username">{='Username'|translate}</label><br>
            <input
              type="text"
              name="username"
              id="username"
              value=""
              class="quickconnect-input"
            >
          </div>

          <div><label for="password">{='Password'|translate}</label><br>
            <input
              type="password"
              name="password"
              id="password"
              class="quickconnect-input"
            >
          </div>

          <div n:if="$AUTHORIZE_REMEMBERING"><label for="remember_me">
              <input
                type="checkbox"
                name="remember_me"
                id="remember_me"
                value="1"
              > {='Auto login'|translate}
            </label></div>

          <div>
            <input
              type="hidden"
              name="redirect"
              value="{($_SERVER['REQUEST_URI'] ?? '')|urlencode}"
            >
            <input type="submit" name="login" value="{='Submit'|translate}">
            <span class="categoryActions">
              <a
                n:if="isset($U_REGISTER)"
                href="{$U_REGISTER|noescape}"
                title="{='Create a new account'|translate}"
                class="pwg-state-default pwg-button"
                rel="nofollow"
              >
                <span class="pwg-icon pwg-icon-register"></span>
              </a>
              <a
                href="{$U_LOST_PASSWORD|noescape}"
                title="{='Forgot your password?'|translate}"
                class="pwg-state-default pwg-button"
              >
                <span class="pwg-icon pwg-icon-lost-password"></span>
              </a>
            </span>
          </div>
        </fieldset>
      </form>
    {/spaceless}
  {/if}
</dd>
