{templateType Piwigo\Controller\Projection\NbmView}
{layout 'layout.latte'}
{block content}
{if isset($MENUBAR)}{$MENUBAR}{/if}
<div id="content" class="content">
  <div class="titrePage">
    <ul class="categoryActions"></ul>
    <h2><a
        href="{$U_HOME|noescape}"
      >{='Home'|translate}</a>{$LEVEL_SEPARATOR|noescape}{='Notification'|translate}</h2>
  </div>

  {include 'infos_errors.latte'}
</div>
{/block}
