{templateType Piwigo\Controller\Projection\PictureContentView}
{if $current->pathExt === 'pdf' and $current->image->filesize < $pdfViewerFilesizeThreshold}
  <div>
    <embed
      src="{$ROOT_URL}{$current->image->path|noescape}"
      type="application/pdf"
    />
  </div>
{else}
  <img
    class="file-ext-{$current->fileExt} path-ext-{$current->pathExt}"
    {if $current->pathExt === 'svg'}
    src="{$current->image->path|noescape}"
    {elseif $selectedDerivative->isCached()}
    src="{$selectedDerivative->getUrl()|noescape}"
    {$selectedDerivative->getSizeHtm()|noescape}
    {else}
    src="{$ROOT_URL}{$themeconf['img_dir']}/ajax_loader.gif"
    data-src="{$selectedDerivative->getUrl()|noescape}"
    {/if}
    alt="{$altImg}"
    id="theMainImage"
    usemap="#map{$selectedDerivative->getType()}"
    title="{if isset($COMMENT_IMG)}{$COMMENT_IMG|replace:'"',' '|stripTags}{else}{$current->titleEsc|noescape} - {$altImg}{/if}"
  >

  <div
    n:if="$current->pathExt === 'pdf' and $current->image->filesize > $pdfViewerFilesizeThreshold"
    class="pdf-too-heavy"
  >
    {='The PDF you requested is too large to display on this page.'|translate}
    <a
      href="{$ROOT_URL}{$current->image->path|noescape}"
      target="_blank"
    >{='Click here to display it'|translate}</a>
  </div>
{/if}

{foreach $sizeOptions as $derivative_type => $derivative}{spaceless}
    {var $size = $derivative->getSize()}
    <map n:if="$size !== null" name="map{$derivative->getType()}">
      <area
        n:if="isset($previous)"
        shape="rect"
        coords="0,0,{($size->width / 4)|intval},{$size->height}"
        href="{$previous->imgUrl}"
        title="{='Previous'|translate} : {$previous->element->titleEsc|noescape}"
        alt="{$previous->element->titleEsc|noescape}"
      >
      <area
        shape="rect"
        coords="{($size->width / 4)|intval},0,{($size->width / 1.34)|intval},{($size->height / 4)|intval}"
        href="{$U_UP}"
        title="{='Thumbnails'|translate}"
        alt="{='Thumbnails'|translate}"
      >
      <area
        n:if="isset($next)"
        shape="rect"
        coords="{($size->width / 1.33)|intval},0,{$size->width},{$size->height}"
        href="{$next->imgUrl}"
        title="{='Next'|translate} : {$next->element->titleEsc|noescape}"
        alt="{$next->element->titleEsc|noescape}"
      >
    </map>
  {/spaceless}{/foreach}
