{templateType Piwigo\Controller\Projection\PictureNavButtonsView}
<div class="navigationButtons">
  {if $displayNavButtons or isset($slideshowNav)}
    {if isset($slideshowNav)}
      {if isset($slideshowNav['U_INC_PERIOD'])}
        <a
          href="{$slideshowNav['U_INC_PERIOD']|noescape}"
          title="{='Reduce diaporama speed'|translate}"
          class="pwg-state-default pwg-button"
        >
          <span class="pwg-icon pwg-icon-clock-minus"></span><span
            class="pwg-button-text"
          >{='Reduce diaporama speed'|translate}</span>
        </a>
      {else}
        <span class="pwg-state-disabled pwg-button">
          <span class="pwg-icon pwg-icon-clock-minus"></span><span
            class="pwg-button-text"
          >{='Reduce diaporama speed'|translate}</span>
        </span>
      {/if}
      {if isset($slideshowNav['U_DEC_PERIOD'])}
        <a
          href="{$slideshowNav['U_DEC_PERIOD']|noescape}"
          title="{='Accelerate diaporama speed'|translate}"
          class="pwg-state-default pwg-button"
        >
          <span class="pwg-icon pwg-icon-clock-plus"></span><span
            class="pwg-button-text"
          >{='Accelerate diaporama speed'|translate}</span>
        </a>
      {else}
        <span class="pwg-state-disabled pwg-button">
          <span class="pwg-icon pwg-icon-clock-plus"></span><span
            class="pwg-button-text"
          >{='Accelerate diaporama speed'|translate}</span>
        </span>
      {/if}
    {/if}
    <a
      n:if="isset($slideshowNav['U_START_REPEAT'])"
      href="{$slideshowNav['U_START_REPEAT']|noescape}"
      title="{='Repeat the slideshow'|translate}"
      class="pwg-state-default pwg-button"
    >
      <span class="pwg-icon pwg-icon-repeat-play"></span><span
        class="pwg-button-text"
      >{='Repeat the slideshow'|translate}</span>
    </a>
    <a
      n:if="isset($slideshowNav['U_STOP_REPEAT'])"
      href="{$slideshowNav['U_STOP_REPEAT']|noescape}"
      title="{='Not repeat the slideshow'|translate}"
      class="pwg-state-default pwg-button"
    >
      <span class="pwg-icon pwg-icon-repeat-stop"></span><span
        class="pwg-button-text"
      >{='Not repeat the slideshow'|translate}</span>
    </a>
    {*<!--{spaceless}{if isset($navFirst)}
  <a href="{$navFirst->imgUrl}" title="{='First'|translate} : {$navFirst->element->title}" class="pwg-state-default pwg-button">
    <span class="pwg-icon pwg-icon-arrowstop-w">&nbsp;</span><span class="pwg-button-text">{='First'|translate}</span>
  </a>
{else}
  <span class="pwg-state-disabled pwg-button">
    <span class="pwg-icon pwg-icon-arrowstop-w">&nbsp;</span><span class="pwg-button-text">{='First'|translate}</span>
  </span>
{/if}{/spaceless}-->*}
    {spaceless}<a
        n:if="isset($uUp) and !isset($slideshowNav)"
        href="{$uUp|noescape}"
        title="{='Thumbnails'|translate}"
        class="pwg-state-default pwg-button"
      >
        <span class="pwg-icon pwg-icon-arrow-n"></span><span
          class="pwg-button-text"
        >{='Thumbnails'|translate}</span>
      </a>{/spaceless}
    {spaceless}{if isset($navPrevious)}
        <a
          href="{$navPrevious->imgUrl}"
          title="{='Previous'|translate} : {$navPrevious->element->title}"
          class="pwg-state-default pwg-button"
        >
          <span class="pwg-icon pwg-icon-arrow-w"></span><span
            class="pwg-button-text"
          >{='Previous'|translate}</span>
        </a>
      {else}
        <span class="pwg-state-disabled pwg-button">
          <span class="pwg-icon pwg-icon-arrow-w"></span><span
            class="pwg-button-text"
          >{='Previous'|translate}</span>
        </span>
      {/if}{/spaceless}
    <a
      n:if="isset($slideshowNav['U_START_PLAY'])"
      href="{$slideshowNav['U_START_PLAY']|noescape}"
      title="{='Play of slideshow'|translate}"
      class="pwg-state-default pwg-button"
    >
      <span class="pwg-icon pwg-icon-play"></span><span
        class="pwg-button-text"
      >{='Play of slideshow'|translate}</span>
    </a>
    <a
      n:if="isset($slideshowNav['U_STOP_PLAY'])"
      href="{$slideshowNav['U_STOP_PLAY']|noescape}"
      title="{='Pause of slideshow'|translate}"
      class="pwg-state-default pwg-button"
    >
      <span class="pwg-icon pwg-icon-pause"></span><span
        class="pwg-button-text"
      >{='Pause of slideshow'|translate}</span>
    </a>
    {spaceless}{if isset($navNext)}
        <a
          href="{$navNext->imgUrl}"
          title="{='Next'|translate} : {$navNext->element->title}"
          class="pwg-state-default pwg-button pwg-button-icon-right"
        >
          <span class="pwg-icon pwg-icon-arrow-e"></span><span
            class="pwg-button-text"
          >{='Next'|translate}</span>
        </a>
      {else}
        <span class="pwg-state-disabled pwg-button pwg-button-icon-right">
          <span class="pwg-icon pwg-icon-arrow-e"></span><span
            class="pwg-button-text"
          >{='Next'|translate}</span>
        </span>
      {/if}{/spaceless}
    {*<!--{spaceless}{if isset($navLast)}
  <a href="{$navLast->imgUrl}" title="{='Last'|translate} : {$navLast->element->title}" class="pwg-state-default pwg-button pwg-button-icon-right">
    <span class="pwg-icon pwg-icon-arrowstop-e"></span><span class="pwg-button-text">{='Last'|translate}</span>
  </a>
{else}
  <span class="pwg-state-disabled pwg-button pwg-button-icon-right">
    <span class="pwg-icon pwg-icon-arrowstop-e">&nbsp;</span><span class="pwg-button-text">{='Last'|translate}</span>
  </span>
{/if}{/spaceless}-->*}
  {/if}
</div>
