{templateType Piwigo\Controller\Projection\ProfileView}
{layout 'layout.latte'}
{block content}
  {if isset($MENUBAR)}{$MENUBAR}{/if}
  <div id="content" class="content{if isset($MENUBAR)} contentWithMenu{/if}">
    <div class="titrePage">
      <ul class="categoryActions"></ul>
      <h2><a
          href="{$U_HOME}"
        >{='Home'|translate}</a>{$LEVEL_SEPARATOR|noescape}{='Profile'|translate}</h2>
    </div>

    {include 'infos_errors.latte'}

    {$profileContent}
  </div> <!-- content -->
{/block}
