{templateType Piwigo\Controller\Projection\ProfileFormView}
<form
  method="post"
  name="profile"
  action="{$fAction|noescape}"
  id="profile"
  class="properties"
>
  <fieldset>
    <legend>{='Registration'|translate}</legend>
    <input type="hidden" name="redirect" value="{$redirect}">
    <ul>
      <li>
        <span class="property">{='Username'|translate}</span>
        {$username}
      </li>
      {if !$specialUser} {* can modify password + email*}
        <li>
          <span class="property">
            <label for="mail_address">{='Email address'|translate}</label>
          </span>
          <input
            type="text"
            name="mail_address"
            id="mail_address"
            value="{$email}"
          >
        </li>
        {if !in_array(\Piwigo\Contribution\FieldOverride::Password, $pluginFieldOverrides, true)}
          <li>
            <span class="property">
              <label for="password">{='Password'|translate}</label>
            </span>
            <input type="password" name="password" id="password" value="">
          </li>
          <li>
            <span class="property">
              <label for="use_new_pwd">{='New password'|translate}</label>
            </span>
            <input type="password" name="use_new_pwd" id="use_new_pwd" value="">
          </li>
          <li>
            <span class="property">
              <label for="passwordConf">{='Confirm Password'|translate}</label>
            </span>
            <input
              type="password"
              name="passwordConf"
              id="passwordConf"
              value=""
            >
            <span id="passwordConf-error" class="field-error"></span>
          </li>
        {/if}
      {/if}
    </ul>
  </fieldset>

  <fieldset n:if="$allowUserCustomization">
    <legend>{='Preferences'|translate}</legend>

    <ul>
      <li>
        <span class="property">
          <label
            for="nb_image_page"
          >{='Number of photos per page'|translate}</label>
        </span>
        <input
          type="text"
          size="4"
          maxlength="3"
          name="nb_image_page"
          id="nb_image_page"
          value="{$nbImagePage}"
        >
      </li>
      <li>
        <span class="property">
          <label for="template">{='Theme'|translate}</label>
        </span>
        <select name="theme">
          <option
            n:foreach="$templateOptions as $optKey => $optLabel"
            value="{$optKey}"
            n:attr="selected: in_array((string) $optKey, array_map(strval(...), (array) $templateSelection), true) ? 'selected' : null"
          >{html_entity_decode(strval($optLabel))}</option>
        </select>
      </li>
      <li>
        <span class="property">
          <label for="Language">{='Language'|translate}</label>
        </span>
        <select name="language">
          <option
            n:foreach="$languageOptions as $optKey => $optLabel"
            value="{$optKey}"
            n:attr="selected: in_array((string) $optKey, array_map(strval(...), (array) $languageSelection), true) ? 'selected' : null"
          >{html_entity_decode(strval($optLabel))}</option>
        </select>
      </li>
      <li>
        <span class="property">
          <label for="Recent period">{='Recent period'|translate}</label>
        </span>
        <input
          type="text"
          size="3"
          maxlength="2"
          name="recent_period"
          id="recent_period"
          value="{$recentPeriod}"
        >
      </li>
      <li>
        <span class="property">{='Expand all albums'|translate}</span>
        <label n:foreach="$radioOptions as $optKey => $optLabel"><input
            type="radio"
            name="expand"
            value="{$optKey}"
            n:attr="checked: $optKey === $expand ? 'checked' : null"
          >{html_entity_decode(strval($optLabel))}</label>
      </li>
      <li n:if="$activateComments">
        <span class="property">{='Show number of comments'|translate}</span>
        <label n:foreach="$radioOptions as $optKey => $optLabel"><input
            type="radio"
            name="show_nb_comments"
            value="{$optKey}"
            n:attr="checked: $optKey === $nbComments ? 'checked' : null"
          >{html_entity_decode(strval($optLabel))}</label>
      </li>
      <li>
        <span class="property">{='Show number of hits'|translate}</span>
        <label n:foreach="$radioOptions as $optKey => $optLabel"><input
            type="radio"
            name="show_nb_hits"
            value="{$optKey}"
            n:attr="checked: $optKey === $nbHits ? 'checked' : null"
          >{html_entity_decode(strval($optLabel))}</label>
      </li>
    </ul>
  </fieldset>

  <fieldset n:if="$pluginProfileFields !== []">
    <ul>
      <li n:foreach="$pluginProfileFields as $field">
        <span class="property">
          <label for="{$field->name}">{$field->label}</label>
        </span>
        <input
          n:if="$field->type === \Piwigo\Contribution\FieldType::Checkbox"
          type="checkbox"
          name="{$field->name}"
          id="{$field->name}"
          value="1"
          n:attr="checked: $field->value !== '' ? 'checked' : null"
        >
        <input
          n:if="$field->type !== \Piwigo\Contribution\FieldType::Checkbox"
          type="text"
          name="{$field->name}"
          id="{$field->name}"
          value="{$field->value}"
        >
      </li>
    </ul>
  </fieldset>

  <fieldset n:foreach="$pluginFormProviders as $provider">
    <legend>{$provider->title}</legend>
    <ul>
      <li n:foreach="$provider->fields as $field">
        <span class="property">
          <label for="{$field->name}">{$field->label}</label>
        </span>
        <input
          n:if="$field->type === \Piwigo\Contribution\FieldType::Checkbox"
          type="checkbox"
          name="{$field->name}"
          id="{$field->name}"
          value="1"
          n:attr="checked: $field->value !== '' ? 'checked' : null"
        >
        <input
          n:if="$field->type !== \Piwigo\Contribution\FieldType::Checkbox"
          type="text"
          name="{$field->name}"
          id="{$field->name}"
          value="{$field->value}"
        >
      </li>
    </ul>
  </fieldset>

  <p class="bottomButtons">
    <input type="hidden" name="pwg_token" value="{$csrfToken}">
    <input
      class="submit"
      type="submit"
      name="validate"
      value="{='Submit'|translate}"
    >
    <input
      class="submit"
      type="reset"
      name="reset"
      value="{='Reset'|translate}"
    >
    <input
      n:if="$allowUserCustomization"
      class="submit"
      type="submit"
      name="reset_to_default"
      value="{='Reset to default values'|translate}"
    >
  </p>
</form>
