{templateType Piwigo\Bootstrap\Projection\RedirectView}
{layout 'layout.latte'}
{block content}
  <div class="redirect-message">
    {$redirectMsg}
  </div>

  <p class="redirect-fallback-link">
    <a href="{$refreshUrl}">
      {='Click here if your browser does not automatically forward you'|translate}
    </a>
  </p>
{/block}
