{templateType Piwigo\Controller\Projection\SlideshowView}
{layout 'layout.latte'}
{block content}
  <div id="slideshow">
    {block imageHeaderBar}
    <div id="imageHeaderBar">
      <div class="browsePath">
        {if isset($uSlideshowStop)}
          [ <a
            href="{$uSlideshowStop}"
          >{='stop the slideshow'|translate}</a> ]
        {/if}
        <h2 class="showtitle">{$navCurrent->element->title}</h2>
      </div>
    </div>
    {/block}

    <div id="imageToolBar">
      {block toolBarImageNumber}<div class="imageNumber">{$photo}</div>{/block}
      {include 'picture_nav_buttons.latte'}
    </div>

    <div id="content">
      {var $imageId = $navCurrent->element->image->id->value}
      <div id="theImage" data-image-id="{$imageId}">
        {$elementContent}
        <p
          n:if="isset($commentImg)"
          class="showlegend"
        >{$commentImg}</p>
      </div>
    </div>
  </div>
{/block}
