{templateType Piwigo\Controller\Projection\ThumbnailsView}
{if $thumbnails !== []}{spaceless}
    {* define_derivative name='derivative_params' width=160 height=90 crop=true *}
    {*
      The .thumbnails/#thumbnails wrapper this page CSS targets is rendered by
      index.latte, not by this template -- thumbnails.latte only renders the
      <li> items placed inside it, so there's no element here whose DOM
      ancestry reaches that wrapper. :root is the only reachable common
      ancestor for a custom-property value channel, same as rating_user.latte.
    *}
    <style>:root {
      --thumb-width: {$derivativeParams->maxWidth() + 2}px;
      --thumb-height: {$derivativeParams->maxHeight() + 3}px;
      --thumb-legend-font-size: {if $derivativeParams->maxWidth() > 600}130%{elseif $derivativeParams->maxWidth() > 400}110%{else}90%{/if};
    }</style>
    {foreach $thumbnails as $thumbnail}
      {var $derivative = $pwg->derivative($derivativeParams, $thumbnail->srcImage)}
      <li data-image-id="{$thumbnail->id}">
        <span class="wrap1">
          <span class="wrap2">
            <span
              n:foreach="$pluginThumbnailOverlays as $overlay"
              n:attr="id: $overlay->id"
              class="thumbnailOverlay"
              data-image-id="{$thumbnail->id}"
            ><i class="{$overlay->icon}"></i></span>
            <a href="{$thumbnail->url}">
              <img
                class="thumbnail"
                {if $derivative->isCached()}
                src="{$derivative->getUrl()}"
                {else}
                src="{$ROOT_URL}{$themeconf['icon_dir']}/img_small.png"
                data-src="{$derivative->getUrl()}"
                {/if}
                alt="{$thumbnail->tnAlt}"
                title="{$thumbnail->tnTitle}"
              >
            </a>
          </span>
          <span n:if="$showThumbnailCaption" class="thumbLegend">
            <span class="thumbName">{$thumbnail->name}</span>
            <img
              n:if="$thumbnail->iconTs !== null"
              title="{$thumbnail->iconTs->title}"
              src="{$ROOT_URL}{$themeconf['icon_dir']}/recent.png"
              alt="(!)"
            >
            <span
              n:if="$thumbnail->nbComments !== null"
              class="{if $thumbnail->nbComments === 0}zero {/if}nb-comments"
            >
              <br>
              {$thumbnail->nbComments|translate_dec:'%d comment','%d comments'}
            </span>

            <span
              n:if="$thumbnail->nbHits !== null"
              class="{if $thumbnail->nbHits === 0}zero {/if}nb-hits"
            >
              <br>
              {$thumbnail->nbHits|translate_dec:'%d hit','%d hits'}
            </span>
          </span>
        </span>
      </li>
    {/foreach}{/spaceless}
{/if}
