{if !empty($thumbnails)}{spaceless}
    {* define_derivative name='derivative_params' width=160 height=90 crop=true *}
    {capture $tmpHtmlStyle}
.thumbnails SPAN,
.thumbnails .wrap2 A,
.thumbnails LABEL{
	width: {$derivative_params->maxWidth() + 2}px;
}

.thumbnails .wrap2{
	height: {$derivative_params->maxHeight() + 3}px;
}
{if $derivative_params->maxWidth() > 600}
.thumbLegend { font-size: 130%}
{else}
{if $derivative_params->maxWidth() > 400}
.thumbLegend { font-size: 110%}
{else}
.thumbLegend { font-size: 90%}
{/if}
{/if}
{/capture}
    {do htmlStyle($tmpHtmlStyle)}
    {capture $tmpFooterScript}
  var error_icon = "{$ROOT_URL}{$themeconf['icon_dir']}/errors_small.png", max_requests = {$maxRequests};
{/capture}
    {do footerScript($tmpFooterScript)}
    {foreach $thumbnails as $thumbnail}
      {var $derivative = $pwg->derivative($derivative_params, $thumbnail['src_image'])}
      {if !$derivative->isCached()}
        {do combineScript(id: 'jquery.ajaxmanager', path: 'themes/default/js/plugins/jquery.ajaxmanager.js', load: 'footer')}
        {do combineScript(id: 'thumbnails.loader', path: 'themes/default/js/thumbnails.loader.js', require: 'jquery.ajaxmanager', load: 'footer')}
      {/if}
      <li>
        <span class="wrap1">
          <span class="wrap2">
            <a href="{$thumbnail['URL']|noescape}">
              <img
                class="thumbnail"
                {if $derivative->isCached()}
                src="{$derivative->getUrl()|noescape}"
                {else}
                src="{$ROOT_URL}{$themeconf['icon_dir']}/img_small.png"
                data-src="{$derivative->getUrl()|noescape}"
                {/if}
                alt="{$thumbnail['TN_ALT']|noescape}"
                title="{$thumbnail['TN_TITLE']}"
              >
            </a>
          </span>
          {if $SHOW_THUMBNAIL_CAPTION}
            <span class="thumbLegend">
              <span class="thumbName">{$thumbnail['NAME']|noescape}</span>
              {if !empty($thumbnail['icon_ts'])}
                <img
                  title="{$thumbnail['icon_ts']['TITLE']}"
                  src="{$ROOT_URL}{$themeconf['icon_dir']}/recent.png"
                  alt="(!)"
                >
              {/if}
              {if isset($thumbnail['NB_COMMENTS'])}
                <span
                  class="{if 0 == $thumbnail['NB_COMMENTS']}zero {/if}nb-comments"
                >
                  <br>
                  {$thumbnail['NB_COMMENTS']|translate_dec:'%d comment','%d comments'}
                </span>
              {/if}

              {if isset($thumbnail['NB_HITS'])}
                <span class="{if 0 == $thumbnail['NB_HITS']}zero {/if}nb-hits">
                  <br>
                  {$thumbnail['NB_HITS']|translate_dec:'%d hit','%d hits'}
                </span>
              {/if}
            </span>
          {/if}
        </span>
      </li>
    {/foreach}{/spaceless}
{/if}
