{if $isWebmaster == 1}
    {=viteEntry('sys')}
    <fieldset id="activities-system">
        <div class="tab-header">
            <div class="tab-object">
                <p>{='Object'|translate}</p>
            </div>
            <div class="tab-action">
                <p>{='Action'|translate}</p>
            </div>
            <div class="tab-users">
                <p>{='Users'|translate}</p>
            </div>
            <div class="tab-date">
                <p>{='Date'|translate}</p>
            </div>
            <div class="tab-details">
                <p>{='Details'|translate}</p>
            </div>
        </div>

        <div class="loading">
            <span class="icon-spin6 animate-spin"></span>
        </div>

        <div class="tab-body line" id="body_example">
            <div class="tab-body-object">
                <p>
                    <span class="icon_object"> </span>
                    <span class="text_object">Object</span>
                </p>
            </div>
            <div class="tab-body-action">
                <p class="color_action">
                    <span class="icon_action"> </span>
                    <span class="text_action">Action</span>
                </p>
            </div>
            <div class="tab-body-users">
                <p>
                    <span class="icon_user"></span>
                    <span class="text_username">Username</span>
                </p>
            </div>
            <div class="tab-body-date">
                <p>
                    <span class="icon icon-clock"></span>
                    <span class="text_date">Date</span>
                    <span class="text_hour">Hour</span>
                </p>
            </div>
            <div class="tab-body-details">
                <p class="detail-item" id="line_details_example">
                    <span class="icon_details"></span>
                    <span class="text_details">Details</span>
                </p>
            </div>
        </div>

        <div id="tab-body-content"></div>

    </fieldset>
{/if}