<script id="pwg-page-data" type="application/json">{$page_data_json}</script>
{do combineScript(id: 'common', load: 'footer', path: 'themes/admin/_base/js/common.js')}
{do combineScript(id: 'site_manager', load: 'footer', require: 'common', path: 'themes/admin/_base/js/site_manager.js')}
{do combineCss(path: "themes/admin/_base/css/pages/site_manager.css")}

{if !empty($remote_output)}
<div class="remoteOutput">
  <ul>
    {foreach $remote_output as $remote_line}
    <li class="{$remote_line['CLASS']}">{$remote_line['CONTENT']}</li>
    {/foreach}
  </ul>
</div>
{/if}

{if !empty($sites)}
<table class="table2 site-manager-table">
	<tr class="throw">
		<td>{='Directory'|translate}</td>
		<td>{='Actions'|translate}</td>
	</tr>
  {foreach $sites as $site}
  <tr class="{if (($iterator->getCounter() - 1)) % 2 != 0}row1{else}row2{/if}"><td>
    <a href="{$site['NAME']}">{$site['NAME']}</a><br>({$site['TYPE']}, {$site['CATEGORIES']} {='Albums'|translate}, {$site['IMAGES']|translate_dec:'%d photo','%d photos'})
  </td><td>
    [<a href="{$site['U_SYNCHRONIZE']}" title="{='update the database from files'|translate}">{='Synchronize'|translate}</a>]
    {if isset($site['U_DELETE'])}
      [<a class="delete-site-button" href="{$site['U_DELETE']}" title="{='delete this site and all its attached elements'|translate}">{='delete'|translate}</a>]
    {/if}
    {if !empty($site['plugin_links'])}
        <br>
      {foreach $site['plugin_links'] as $plugin_link}
        [<a href="{$plugin_link['U_HREF']}" title='{$plugin_link['U_HINT']}'>{$plugin_link['U_CAPTION']}</a>]
      {/foreach}
    {/if}
  </td></tr>
  {/foreach}
</table>
{/if}

<p id="showCreateSite">
  <a href="#">{='create a new site'|translate}</a>
</p>

<form action="{$F_ACTION}" method="post" id="createSite" hidden>
  <input type="hidden" name="pwg_token" value="{$PWG_TOKEN}">
  <fieldset>
    <legend>{='create a new site'|translate}</legend>

  <p><strong>{='Directory'|translate}</strong>
    <br><input type="text" name="galleries_url" id="galleries_url">
  </p>

  <p class="actionButtons">
    <input class="submit" type="submit" name="submit" value="{='Submit'|translate}">
  </p>
</form>
