{include 'include/colorbox.inc.latte'}
{do combineScript(id: 'themes_new', load: 'footer', path: 'themes/admin/_base/js/themes_new.js')}

{if !empty($new_themes)}
<div class="themeBoxes">
{foreach $new_themes as $theme}
<div class="themeBox">
  <div class="themeShot"><a href="{$theme['screenshot']}" class="preview-box" title="{$theme['name']}"><img src="{$theme['screenshot']}" data-fallback-src="{$default_screenshot}"></a></div>
  <div class="themeName" title="{$theme['name']}">{$theme['name']}</div>
  <div class="themeActions"><a href="{$theme['install_url']}">{='Install'|translate}</a></div>
</div>
{/foreach}
</div> <!-- themeBoxes -->
{else}
<p>{='There is no other theme available.'|translate}</p>
{/if}