{do combineScript(id: 'jquery.colorbox', load: 'footer', require: 'jquery', path: 'themes/default/js/plugins/jquery.colorbox.min.js')}
{do combineCss(path: "themes/default/js/plugins/colorbox/style2/colorbox.css")}
