:root {
    --radius-control: 5px;
}

body {
    background-color: white;
    color: black;
}

#theHeader div.banner,
#theHeader div.banner:hover {
    color: black;
}

#copyright {
    color: #666;
    background-color: #f2f2f2;
}

#copyright a:hover {
    color: #ff2f63;
    font-weight: normal;
}

#copyright a {
    color: black;
}

.infos {
    background: #096a09 url("../../default/icon/infos.png") no-repeat center right;
    color: black;
}

h2 {
    color: black;
    background-color: white;
}

.albLegend {
    color: white;
    text-shadow: 1px 1px 3px rgb(0, 0, 0, 0.8);
}

#mbCategories .albSymbol {
    padding: 5px;
    color: #ff2f63;
}

.albSymbol {
    color: black;
}

.albLegendRight .albSymbol {
    color: white;
}

h3,
label {
    color: #8e8e93;
}

a {
    color: #ff2f63;
}

a:hover {
    text-decoration: none;
    font-weight: normal;
    color: #ff2f63;
}

#menubar {
    background-color: #ff2f63;
}

#menubar ul {
    border-radius: 5px;
}

#menubar dt a:hover {
    color: white;
    text-shadow: none;
    text-shadow: 0 0 10px black;
}

#menubar dt a {
    color: black;
}

#commentAdd input[type="text"],
input[type="password"],
#commentAdd select,
#commentAdd textarea,
#comments input[type="text"],
#comments textarea {
    background-color: #f2f2f2;
    color: black;
}

::placeholder,
#commentAdd ::placeholder {
    color: #717175;
}

#qsearchInput {
    background-color: #e8e8ea;
}

#qsearchInput::placeholder {
    color: #717175;
}

.search_results a,
.search_results a:hover {
    color: #ff2f63;
}

.selectize-control.multi .selectize-input [data-value].active,
.selectize-control.multi .selectize-input > div {
    background-color: #777;
}

.selectize-control .plugin-remove_button [data-value] .remove {
    border-left-color: #333;
}

#menubar dd {
    background-color: #e8e8ea;
    color: black;
    border-radius: 5px;
}

#menubar dd a:hover {
    color: #ff2f63;
}

#menubar dd a {
    color: black;
}

#menubar input {
    background-image: none;
    font-family: "Open Sans", sans-serif;
    background-color: #ff96af !important;
    border-radius: 5px;
    cursor: pointer;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
    border-radius: 5px;
    color: white;
    text-shadow: 0 0 10px black;
    background-color: #ff2f63;
}

.wide #imageToolBar {
    background-color: white;
}

#imageToolBar {
    background-color: white;
}

.switchBox {
    background-color: #e8e8ea;
    border-radius: 5px;
}

.switchCheck {
    color: #ff2f63;
}

li,
#mbCategories ul {
    list-style-type: none;
    padding-left: 0;
}

.badge {
    background-color: #ff2f63;
    border-radius: 20px;
    color: white;
    color: #e8e8ea;
    text-shadow: 0 0 10px black;
}

#menubar li.selected > a {
    color: #ff2f63;
}

.wide .imageInfoTable,
.wide #imageInfos {
    background-color: #f2f2f2;
    border-radius: 5px;
}

.imageInfoTable h3 {
    color: black;
}

.imageInfoTable a,
.imageInfoTable a:hover {
    color: #ff2f63;
}

.wide .imageInfoTable,
.wide #imageInfos h3 {
    color: black;
}

.wide #imageInfos a,
.wide #imageInfos a:hover {
    color: #ff2f63;
    font-weight: normal;
}

.wide .imageInfo dt {
    color: #8e8e93;
}

#imageInfos {
    background-color: #f2f2f2;
    color: black;
}

#imageHeaderBar .imageNumber {
    color: black;
}

a .pwg-icon,
a .pwg-icon:hover {
    color: #ff2f63;
}

.pwg-state-disabled .pwg-icon {
    color: #8e8e93;
}

.pwg-state-default .pwg-button {
    border-radius: 5px;
}

fieldset h3,
fieldset label {
    color: black;
}

#quickconnect input,
.properties input {
    color: black;
}

fieldset legend {
    color: black;
}

dt,
dd {
    color: black;
}

.titrePage {
    background-color: white;
    color: black;
}

#imageHeaderBar h2 {
    color: black;
    text-shadow: none;
}

.titrePage h2 a:hover {
    color: #ff2f63;
}

.titrePage h2 a {
    color: black;
}

.titrePage h2 span.badge {
    background-color: #ff2f63;
    color: #fff;
}

.titrePage a,
.titrePage a:hover {
    color: #ff2f63;
    font-weight: normal;
}

.titrePage .switchBox {
    color: #ff2f63;
    padding: 10px;
}

.titrePage .switchBox a {
    color: black;
}

.titrePage .switchBox a:hover {
    color: #ff2f63;
}

.browsePath {
    color: black;
}

#thePicturePage .titrePage {
    background-color: #f2f2f2;
}

#thePicturePage .titrePage h2,
#thePicturePage .browsePath {
    color: black;
}

#thePicturePage .titrePage a {
    color: black;
}

#thePicturePage .titrePage a:hover {
    color: #ff2f63;
}

.overDesc {
    color: black;
    background-color: rgb(232, 232, 234, 0.8);
}

#derivativeSwitchBox,
#sortOrderBox {
    border-radius: 5px;
}

#derivativeSwitchBox a {
    color: black;
    padding: 5px;
    display: inline-block;
    font-weight: normal;
}

.switchCheck {
    color: #ff2f63;
}

.derivativeSizeDetails {
    color: #8e8e93;
}

.switchBoxTitle {
    border-bottom: solid 2px #bfbfc2;
    color: black;
}

.switchBox {
    padding: 20px;
}

#profile,
#profile fieldset h3,
#profile fieldset label {
    color: black;
}

#comments input[type="text"],
#comments textarea {
    background-color: #e8e8ea;
    color: black;
}

#thumbnails > li,
.albThumbs > li,
.navThumb img {
    border-radius: 5px;
}

.properties fieldset span label {
    color: black;
}

.imageInfo dt {
    color: #8e8e93;
}

.commentsList {
    color: black;
}

.commentsList a {
    color: #ff2f63;
}

.commentElement {
    background-color: #e7e7e7;
    border-radius: 5px;
}

hr {
    border-bottom: 2px solid #bfbfc2;
}

#menuTagCloud a {
    color: #ff2f63;
}

#theSearchPage fieldset legend {
    color: black;
}

.filter fieldset label {
    color: black;
}

.selectize-input > input,
input[type="text"],
input[type="password"],
select,
textarea {
    background-color: #e8e8ea !important;
    border-radius: 5px;
    color: black;
}

.selectize-input,
.selectize-input.focus,
.selectize-dropdown,
.selectize-input input {
    background-color: #e8e8ea;
    color: black;
}

.selectize-input {
    background-color: #e8e8ea !important;
    border-radius: 5px;
    color: black !important;
    border: none !important;
    box-shadow: none;
}

.date_today {
    font-weight: normal;
    color: black;
}

.date_today:hover {
    font-weight: normal;
    color: #ff2f63;
}

#start_day,
#start_month,
#end_day,
#end_month {
    background-color: #e8e8ea;
    border-radius: 5px;
    color: black;
}

.filter select {
    background-color: #e8e8ea;
    border-radius: 5px;
    color: black;
}

.contact input[type="text"],
.contact textarea,
.contact select {
    border-radius: 5px;
    background-color: #e8e8ea;
    color: black;
}

.wide .thumbHover:hover {
    text-decoration: none;
}

.calItem {
    border: 1px solid #ff2f63;
}

.calItem a,
.calItem:hover {
    color: #ff2f63;
}

.content .navigationBar,
span.calItem,
.content .navigationBar:hover,
span.calItem:hover {
    color: #8e8e93;
    border: none;
}

td.calDayCellEmpty,
td.calDayCellEmpty:hover {
    border: 1px solid #8e8e93;
}

div.thumbHover,
div.thumbHover:hover {
    color: black;
    border-radius: 5px;
}

#fullTagCloud span a {
    margin-left: 5px;
    color: black;
}

#fullTagCloud span a:hover {
    text-decoration: none;
    color: #ff2f63;
}

legend.tagLetterLegend,
fieldset.tagLetter {
    border: none;
    color: black;
}

.tagLine td a {
    color: black;
}

.tagLine td a:hover {
    color: #ff2f63;
}

.tagLevel5 {
    color: #ff2f63 !important;
}

td .nbEntries {
    background-color: #fff;
    border: solid 1px #eee;
    color: #bbb;
}

.totalImages {
    border-top: solid 2px #bfbfc2;
}

.selectize-control.plugin-remove_button [data-value] .remove {
    border-left: solid 1px #333;
}

.message {
    background-color: #e8e8ea;
}

.notification a {
    text-decoration: none;
    color: black;
    font-weight: normal;
}

.notification a:hover {
    color: #ff2f63;
}

form.properties a {
    border: solid 1px;
    border-radius: 5px;
    padding: 2px 5px 5px 2px;
    margin: 0 5px;
}

#t4u-update-tags .t4u-disabled {
    color: white !important;
}

ul.token-input-list li input {
    background-color: transparent;
}

@media screen and (width <= 640px) {
    #menubar {
        border-radius: 5px;
    }

    #copyright a {
        color: black;
    }

    #derivativeSwitchLink .pwg-icon pwg-icon-sizes {
        color: black;
    }

    #albumActionsSwitcher + .categoryActions .pwg-button-text,
    #imageToolBar .actionButtons .pwg-button-text,
    #imageToolBar .actionButtons .pwg-button-text,
    .actionButtons a .pwg-icon,
    .actionButtons a .pwg-icon:hover {
        color: black !important;
    }

    #albumActionsSwitcher + .categoryActions {
        border-radius: 5px;
        box-shadow: 0 0 transparent;
    }

    .categoryActions a .pwg-icon {
        color: #ff2f63;
    }

    #theTagsPage a .pwg-icon,
    #theTagsPage a:hover .pwg-icon {
        color: #ff2f63;
    }
}

.thumbnailCategory {
    background-color: #f2f2f2;
}

/* Search */

.filter-manager-popin .mcs-popin-title,
.tags-found-popin .mcs-popin-title,
.albums-found-popin .mcs-popin-title,
.mcs-container .filter-filled .filter-icon,
.filetypes-option label .checked-icon,
.added_by-option label .checked-icon,
.date_posted-option label .checked-icon,
.mcs-container .filter-filled,
.breadcrumb-item .icon-cancel-circled:hover,
.clear-all.clickable,
.mcs-no-result .text span:first-child,
.filter-form .filter-form-title {
    color: #ff2f63 !important;
}

.tags-found-container .tag-item,
.albums-found-container .album-item,
.breadcrumb-item,
.filter-tag-form .selectize-control.multi .selectize-input > div,
.filter-tag-form .selectize-control.multi .selectize-input [data-value].active,
.filter-author-form .selectize-control.multi .selectize-input > div,
.filter-author-form
    .selectize-control.multi
    .selectize-input
    [data-value].active,
.filter-added_by-form .selectize-control.multi .selectize-input > div,
.filter-added_by-form
    .selectize-control.multi
    .selectize-input
    [data-value].active,
.mcs-container .filter-filled,
.date_posted-option input:checked + label,
.filetypes-option input:checked + label,
.added_by-option input:checked + label {
    background: #ffd5df !important;
}

.filter-manager,
.filter-validate,
.filter-manager:hover,
.filter-validate:hover,
.filetypes-option label .ext-badge,
.added_by-option label .added_by-badge,
.date_posted-option label .date_posted-badge {
    background: #ff2f63 !important;
}

.mcs-container .filter-filled {
    border: 1px solid #ff2f63 !important;
}
