body {
    background-color: white;
    color: black;
}

#theHeader div.banner,
#theHeader div.banner:hover {
    color: white;
}

#copyright {
    color: #666;
    background-color: #f9f9f9;
}

#copyright a {
    color: #666;
}

.infos {
    background: #096a09 url("../../default/icon/infos.png") no-repeat center right;
    color: white;
}

h2 {
    color: black;
}

.albLegend {
    color: white;
}

h3,
label {
    color: #000;
}

a {
    color: #000;
}

a:hover {
    text-decoration: underline;
    font-weight: normal;
    color: black;
}

#menubar {
    background-color: #2d2d2d;
}

#commentAdd input[type="text"],
input[type="password"],
#commentAdd select,
#commentAdd textarea,
#comments input[type="text"],
#comments textarea {
    background-color: #2d2d2d;
    color: white;
}

::placeholder,
#commentAdd ::placeholder {
    color: #d6d6d6;
}

#qsearchInput {
    border: 1px solid #fff;
    color: white;
}

.selectize-control.multi .selectize-input [data-value].active,
.selectize-control.multi .selectize-input > div {
    background-color: #777;
    color: #ddd;
}

.selectize-input {
    background-color: #363636;
    color: white;
    border: none;
    border-radius: 0;
}

.selectize-control .plugin-remove_button [data-value] .remove {
    border-left-color: #333;
}

#menubar dt,
#menubar dt a,
#thePicturePage .titrePage h2,
#thePicturePage .titrePage a,
#thePicturePage .browsePath,
fieldset h3,
dt,
dd,
.switchBox,
.switchBox a,
.imageInfoTable a,
.imageInfoTable a:hover,
.wide .imageInfoTable,
.wide #imageInfos a,
.wide #imageInfos h3,
#imageHeaderBar .imageNumber {
    color: white;
}

fieldset label {
    color: black;
}

#menubar dd {
    background-color: #383838;
    color: white;
    box-shadow: none;
}

#menubar dd a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

#menubar dd a:hover {
    text-decoration: underline;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
#menubar input {
    color: white;
}

input[type="submit"] {
    background-color: #383838;
    color: white;
}

.wide #imageToolBar {
    background-color: white;
}

.badge {
    background-color: #777;
    border-radius: 0;
    color: #ddd;
}

.wide .imageInfoTable,
.wide #imageInfos {
    background-color: #2d2d2d;
}

#imageInfos {
    background-color: #2d2d2d;
    color: white;
}

a .pwg-icon {
    color: #000;
}

#quickconnect input:focus,
#quickconnect input,
.properties input,
.properties input:focus {
    color: white;
    background-color: #2d2d2d;
}

.properties input,
.properties input:focus {
    background-color: #2d2d2d;
    color: white;
}

fieldset legend {
    color: white;
}

.titrePage {
    background-color: white;
    color: black;
}

.titrePage h2 a,
#imageHeaderBar h2 {
    color: black;
    text-shadow: none;
}

.titrePage h2 span.badge {
    background-color: #777;
    color: #fff;
}

.titrePage a,
#calendarViewSwitchLink,
.browsePath,
#profile,
#profile fieldset h3,
#profile fieldset label,
.properties fieldset span label {
    color: black;
}

#thePicturePage .titrePage {
    background-color: #2d2d2d;
}

.switchBoxTitle {
    border-bottom: 2px solid #555;
}

#comments input[type="text"],
#comments textarea {
    background-color: #2d2d2d;
    color: white;
}

.overDesc {
    background-color: rgb(0, 0, 0, 0.6);
}

.commentsList,
.commentsList a {
    color: black;
}

.commentElement {
    background-color: #e7e7e7;
}

hr {
    border-bottom: 2px solid #555;
}

#theSearchPage fieldset legend {
    color: black;
}

.filter input,
.filter input:focus,
.selectize-input > input,
input[type="text"],
input[type="password"],
select,
textarea {
    background-color: #363636;
    color: white;
}

.date_today:hover {
    color: black;
}

#start_day,
#start_month,
#end_day,
#end_month {
    background-color: #363636;
    color: white;
}

.filter select {
    background-color: #363636;
    color: white;
}

.contact input[type="text"],
.contact textarea,
.contact select {
    background-color: #383838;
    color: white;
}

.calItem,
.calItem:hover {
    color: black;
    border: 1px solid black;
}

.content .navigationBar,
span.calItem,
td.calDayCellEmpty,
content .navigationBar:hover,
span.calItem:hover,
td.calDayCellEmpty:hover {
    color: #777;
    border: 1px solid #777;
}

.content .navigationBar,
.content .navigationBar:hover {
    border: none;
}

div.thumbHover {
    color: white;
    border: 1px solid white;
}

#fullTagCloud span a {
    color: black;
}

#fullTagCloud span a:hover {
    text-decoration: underline;
}

legend.tagLetterLegend,
fieldset.tagLetter {
    border: none;
    color: black;
}

td .nbEntries {
    background-color: #fff;
    border: solid 1px #eee;
    color: #bbb;
}

.totalImages {
    border-top: solid 2px #555;
}

.selectize-control.plugin-remove_button [data-value] .remove {
    border-left: solid 1px #333;
}

.message {
    background-color: #363636;
}

.notification a {
    text-decoration: underline;
}

@media screen and (width <= 640px) {
    #derivativeSwitchLink .pwg-icon pwg-icon-sizes {
        color: white;
    }

    #albumActionsSwitcher + .categoryActions .pwg-button-text,
    #imageToolBar .actionButtons .pwg-button-text,
    .actionButtons a .pwg-icon,
    .actionButtons a .pwg-icon:hover {
        color: white;
    }

    .categoryActions a .pwg-icon {
        color: white;
    }

    #theTagsPage a .pwg-icon,
    #theTagsPage a:hover .pwg-icon {
        color: black;
    }
}
