{templateType Piwigo\Mail\Projection\NotificationAdminView}
{$content}

<p n:if="isset($technical)" style="padding-top:10px;font-size:11px;">
  {='Connected user: %s'|translate:$technical['username']}<br>
  {='IP: %s'|translate:$technical['ip']}<br>
  {='Browser: %s'|translate:$technical['user_agent']}
</p>
