{templateType Piwigo\Mail\Projection\NotificationByMailView}
<div id="nbm_message">
  <h2>{='Notification'|translate}</h2>
  <p>{='Hello'|translate} {$username},</p>

  <p
    n:if="$subscribeByAdmin"
  >{='The webmaster has subscribed you to receiving notifications by mail.'|translate}</p>
  <p
    n:if="$subscribeByHimself"
  >{='You have subscribed to receiving notifications by mail.'|translate}</p>
  <p
    n:if="$unsubscribeByAdmin"
  >{='The webmaster has unsubscribed you from receiving notifications by mail.'|translate}</p>
  <p
    n:if="$unsubscribeByHimself"
  >{='You have unsubscribed from receiving notifications by mail.'|translate}</p>
  <p
    n:if="isset($contentNewElementsSingle)"
  >{='New photos were added'|translate} {='on'|translate} {$contentNewElementsSingle['DATE_SINGLE']}.</p>
  <p
    n:if="isset($contentNewElementsBetween)"
  >{='New photos were added'|translate} {='between'|translate} {$contentNewElementsBetween['DATE_BETWEEN_1']} {='and'|translate} {$contentNewElementsBetween['DATE_BETWEEN_2']}.</p>

  <ul n:if="$globalNewLines !== null" id="nbm_new_line">
    <li n:foreach="$globalNewLines as $line">{$line|noescape}</li>
  </ul>

  <p n:if="$customMailContent !== null">{$customMailContent|noescape}</p>

  <p n:if="$gotoGalleryTitle !== ''">{='Go to'|translate} <a
      href="{$gotoGalleryUrl|noescape}"
    >{$gotoGalleryTitle}</a>.</p>
  <p>{='See you soon,'|translate}</p>
  <p style="text-align:center">{$sendAsName}</p>
  <hr>
  <p>
    {='To unsubscribe'|translate}{=', click on'|translate} <a
      href="{$unsubscribeLink|noescape}"
    >{$unsubscribeLink|noescape}</a><br>
    {='To subscribe'|translate}{=', click on'|translate} <a
      href="{$subscribeLink|noescape}"
    >{$subscribeLink|noescape}</a><br>
    {='If you encounter problems or have any question, please send a message to'|translate} <a
      href="mailto:{$contactEmail}?subject={='[NBM] Problems or questions'|translate}"
    >{$contactEmail}</a><br>
  </p>
  <hr>
  {if $recentPosts !== []}
    {* Swaps into a new div mid-content: raw text, not a real tracked
       HTML tag pair -- the closing </div> here belongs to the single,
       lexically-real <div id="nbm_message"> opened at the top of this
       file (which, when $recentPosts is empty, is instead closed by
       the plain </div> at the very end of this file); Latte's
       HTML-aware parser can't verify that conditional pairing
       statically. *}
    {="</div>\n    <div id=\"nbm_recent_post\">"|noescape}
    {foreach $recentPosts as $recent_post}
      <h2>{$recent_post['TITLE']}</h2>
      {$recent_post['HTML_DATA']|noescape}
    {/foreach}
  {/if}
</div>
