/*
.adminOnlyIcon::before {
  content: "(";
}
.adminOnlyIcon::after {
  content: ")";
}
*/
.adminOnlyIcon {
  background-color: #ddd;
  padding: 2px 5px;
  border-radius: var(--radius-sm);
  font-size: 90%;
}
