.applicationContainer {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.applicationCard {
  max-width: 500px;
  margin: var(--space-lg);

  display: flex;
  flex-direction: row;
}

.applicationCard img {
  max-width: 210px;
  height: 175px;
  margin: var(--space-lg);
}

.applicationCard .textSide {
  display: flex;
  flex-direction: column;
}

.applicationCard .applicationName {
  color: var(--admin-text);
  font-size: var(--font-size-base);
  font-weight: bold;
  margin: 20px 0 10px;
  padding-right: var(--space-md);
  text-align: left;
}

.applicationCard .applicationDesc {
  text-align: left;
  padding-right: var(--space-md);

  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.applicationCard .applicationLink {
  width: fit-content;
  margin-top: auto;
  margin-bottom: var(--space-lg);
  display: flex;
  justify-content: flex-start;
}

.applicationCard .applicationLink a {
  text-decoration: none;
  margin-left: 0;
}
