.selectize-input .item,
.selectize-input .item.active {
  background-image: none !important;
  background-color: #ffa646 !important;
  border-color: transparent !important;
  color: #000 !important;

  border-radius: 20px !important;
}

.picture-modify-tomselect {
  width: calc(100% + 2px);
}
