form {
  width: 750px;
}
fieldset {
  padding-bottom: var(--space-xl);
}
p,
form p {
  text-align: left;
  margin-left: var(--space-lg);
}
li {
  margin: var(--space-xs);
}

.badge-release {
  padding: 5px 10px;
  border-radius: var(--radius-sm);
}

a.badge-release:hover {
  text-decoration: none;
  color: currentColor;
}

.goto-update-page {
  padding: 5px 10px;
  font-weight: bold;
}

.goto-update-page:hover {
  text-decoration: none;
}

.update-recommendation {
  margin-top: var(--space-xl);
}

.goto-update-guide {
  background-color: #f0f0f0;
  padding: var(--space-sm);
  font-weight: bold;
}

p.release .errors {
  margin: 0;
}
