/* Issues in IE from 5 to 6 only not to be used with IE7 */

#menubar li.selected a {
  font-weight: bold;
}

#menubar li.selected li a {
  font-weight: normal;
}

/* fix IE with another layout for thumbnails */
.thumbnails .wrap2 {
  display: block;
  position: relative;
  text-align: left;
}
.thumbnails .wrap2 a,
.thumbnails .wrap2 span {
  overflow: visible;
  position: absolute;
  top: 50%;
  text-align: center;
}

.thumbnails .wrap2 img {
  position: relative;
  top: -50%;
  /* \ */ /* /
    margin-top: -40%;
  / **/
}

/* to avoid vanishing objects in IE6 */
h1,
#theHeader {
  width: 100%; /* <- useless but seems to make IE6 happy */
}
.content {
  height: 1em; /* for IE6 it's like min-height */
}

/* fix category thumbnails on main page */
.content .thumbnailCategories {
  width: 99%; /* buggy IE box model */
}

/* fix quickconnect layout */
#quickconnect fieldset {
  width: 99%; /* correct an ugly 1 or 2 px misalignement with IE */
}

.filter label input,
.filter label select {
  display: block;
  margin: 0.5em 0;
}
.filter fieldset * label input,
.filter fieldset * label select {
  display: inline;
  vertical-align: top;
  margin: 0 0.5em 0 0;
}

.pwg-icon {
  display: block;
}

.imageInfoTable {
  display: block;
  margin: 0 200px;
}
.imageInfo {
  display: block;
  line-height: 16px;
}
.imageInfo dt {
  display: block;
  text-align: left;
  font-weight: bold;
  padding-right: 0.5em;
}
.imageInfo dd {
  display: block;
  text-align: left;
  font-weight: normal;
}
#imageInfos dd {
  margin: 0 0 5px 20px;
}
