/* fix IE with another layout for thumbnails */

.thumbnails .wrap2 {
  display: block;
  position: relative;
  text-align: left;
}
.thumbnails .wrap2 a,
.thumbnails .wrap2 span {
  overflow: visible;
  position: absolute;
  top: 50%;
  text-align: center;
}

.thumbnails .wrap2 img {
  position: relative;
  top: -50%;
}

.pwg-icon {
  display: block;
}

.imageInfoTable {
  display: block;
  margin: 0 200px;
}
.imageInfo {
  display: block;
  line-height: 16px;
}
.imageInfo dt {
  display: block;
  text-align: left;
  font-weight: bold;
  padding-right: 0.5em;
}
.imageInfo dd {
  display: block;
  text-align: left;
  font-weight: normal;
}
#imageInfos dd {
  margin: 0 0 5px 20px;
}
